[Desktop Entry]
Encoding=UTF-8
Name=A Quick Dialer (QML)
Name[ja]=短縮ダイヤル (QML)
Name[pt]=Um marcador rápido (QML)
Name[pt_BR]=Um discador rápido (QML)
Name[sv]=En snabbuppringare (QML)
Name[uk]=Швидкий набір (QML)
Name[x-test]=xxA Quick Dialer (QML)xx
Comment=A quick dialer to call a number
Comment[pt]=Um marcador rápido para digitar um número
Comment[pt_BR]=Um discador rápido para discar um número
Comment[sv]=En snabbuppringare för att ringa ett nummer
Comment[uk]=Програма для пришвидшення набирання телефонного номеру
Comment[x-test]=xxA quick dialer to call a numberxx
Type=Service
ServiceTypes=Plasma/Containment
Icon=internet-telephony
X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=org.kde.quickdialer-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Phone
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
