[Desktop Entry]
Name=Pauses the media
Name[bs]=Zaustavlja medij
Name[ca]=Pausa el suport
Name[ca@valencia]=Pausa el suport
Name[da]=Sætter mediet på pause
Name[de]=Hält das Medium an
Name[el]=Εκτελεί παύση του μέσου
Name[en_GB]=Pauses the media
Name[es]=Pausa el medio
Name[fr]=Met en pause le média
Name[gl]=Detén o dispositivo
Name[hu]=Szünetelteti a médiát
Name[kk]=Мультимедияны аялдату
Name[ko]=미디어 일시 정지
Name[nb]=Setter media i pause
Name[nds]=Höllt dat Medienafspelen an
Name[nl]=Pauzeert het medium
Name[pl]=Wstrzymuje urządzenia
Name[pt]=Coloca os conteúdos multimédia em pausa
Name[pt_BR]=Pausa os conteúdos multimídia
Name[sk]=Pozastaví médium
Name[sl]=Prestavi predstavnostno datoteko v premor
Name[sv]=Gör paus i media
Name[tr]=Ortamı duraklatır
Name[uk]=Призупиняє відтворення мультимедійних даних
Name[x-test]=xxPauses the mediaxx
Name[zh_TW]=暫停媒體
Comment=Shows media player control
Comment[bs]=Prikazuje kontrolu media player-a
Comment[ca]=Mostra el control del reproductor de suports
Comment[ca@valencia]=Mostra el control del reproductor de suports
Comment[da]=Viser medieafspiller-kontroller
Comment[de]=Steuerung für Medienwiedergabe anzeigen
Comment[el]=Εμφανίζει το χειριστήριο του αναπαραγωγέα πολυμέσων
Comment[en_GB]=Shows media player control
Comment[es]=Muestra el control del reproductor multimedia
Comment[fi]=Näyttää mediasoittimen kontrollit
Comment[fr]=Affiche le contrôle du lecteur multimédia
Comment[gl]=Mostra o control do reprodutor de multimedia
Comment[hu]=Megjeleníti a médialejátszó vezérlését
Comment[kk]=Плейерді басқару тізгіндерін көрсету
Comment[ko]=미디어 재생기 제어 표시
Comment[nb]=Vis mediaspillerkontroller
Comment[nds]=Wiest de Medienafspeler-Stüern
Comment[nl]=Toont de besturing van de mediaspeler
Comment[pl]=Pokazuje sterowanie odtwarzacza mediów
Comment[pt]=Mostra o controlo do leitor multimédia
Comment[pt_BR]=Mostra o controle do reprodutor multimídia
Comment[sk]=Zobrazí ovládanie prehrávača médií
Comment[sl]=Prikaže nadzorne tipke predstavnostnega predvajalnika
Comment[sv]=Visa styrning av mediaspelare
Comment[tr]=Ortam oynatıcı denetimini gösterir
Comment[uk]=Показує панель керування програвачем
Comment[x-test]=xxShows media player controlxx
Comment[zh_TW]=顯示媒體播放器控制
Type=Service
Icon=

X-KDE-ServiceTypes=Contour/RecommendationEngine/QtScript
X-KDE-Library=org.kde.contour.mediapause
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.contour.mediapause
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-ActivityManager-PluginType=normal
