[Desktop Entry]
Encoding=UTF-8
Name=Launcher panel
Name[da]=Panel til programstart
Name[el]=Πίνακας εκτελεστή
Name[es]=Panel de lanzamiento
Name[et]=Käivitamispaneel
Name[fr]=Tableau de bord de lancement
Name[hu]=Indító panel
Name[it]=Pannello di avvio
Name[km]=កម្មវិធី​បើក​ដំណើរការបន្ទះ
Name[nl]=Startpaneel
Name[pa]=ਲਾਂਚਰ ਪੈਨਲ
Name[pl]=Panel uruchamiania
Name[pt]=Painel de lançamento
Name[pt_BR]=Painel de lançamento
Name[sv]=Programstartpanel
Name[tr]=Başlatıcı paneli
Name[uk]=Панель запуску
Name[wa]=Panea enondeu
Name[x-test]=xxLauncher panelxx
Name[zh_CN]=启动器面板
Name[zh_TW]=啟動器面板
Comment=Panel with some launcher icons
Comment[da]=Panel med programgenveje
Comment[el]=Πίνακας με μερικά εικονίδια εκτελεστή
Comment[es]=Panel con algunos iconos de lanzamiento
Comment[et]=Paneel mõningate käivitamisikoonidega
Comment[fr]=Tableau de bord comportant quelques icônes de lancement
Comment[hu]=Panel néhány indítóikonnal
Comment[it]=Pannello con alcune icone di avvio
Comment[km]=បន្ទះ​ដែល​មាន​រូប​ដំណាង​កម្មវិធី​បើក​ដំណើរការ​
Comment[nl]=Paneel met pictogrammen om iets te starten
Comment[pl]=Panel z pewnymi ikonami aktywatorów programów
Comment[pt]=Painel com alguns ícones de lançamento
Comment[pt_BR]=Painel com alguns ícones de lançamento
Comment[sv]=Panel med några startikoner
Comment[tr]=Bazı uygulama başlatıcı simgeleri barındıran panel
Comment[uk]=Панель з піктограмами для запуску програм
Comment[wa]=Panea avou des imådjetes d' enondaedje
Comment[x-test]=xxPanel with some launcher iconsxx
Comment[zh_CN]=带有启动图标的面板
Comment[zh_TW]=有啟動器圖示的面板
Icon=preferences-desktop-launch-feedback
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.launcherpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-RequiredExtensions=LaunchApp
