[Desktop Entry]
Name=About
Name[de]=Über
Name[es]=Acerca de
Name[et]=Teave
Name[nl]=Info over
Name[pl]=O programie
Name[pt]=Acerca
Name[pt_BR]=Sobre
Name[sv]=Om
Name[ug]=ھەققىدە
Name[uk]=Про програму
Name[x-test]=xxAboutxx

Encoding=UTF-8
Type=Service
Icon=active-about
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.aboutapp
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
