[Desktop Entry]
Name=About
Name[cs]=O aplikaci
Name[da]=Om
Name[de]=Über
Name[el]=Σχετικά
Name[es]=Acerca de
Name[et]=Teave
Name[fr]=À propos
Name[hu]=Névjegy
Name[km]=អពី
Name[nl]=Info over
Name[pa]=ਇਸ ਬਾਰੇ
Name[pl]=O programie
Name[pt]=Acerca
Name[pt_BR]=Sobre
Name[sk]=O programe
Name[sv]=Om
Name[tr]=Hakkında
Name[ug]=ھەققىدە
Name[uk]=Про програму
Name[wa]=Åd fwait
Name[x-test]=xxAboutxx
Name[zh_CN]=关于
Name[zh_TW]=關於

Encoding=UTF-8
Type=Service
Icon=active-about
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.aboutapp
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
