[Desktop Entry]
Name=Web and Browser
Name[bs]=Web i Preglednik
Name[ca]=Web i navegador
Name[ca@valencia]=Web i navegador
Name[cs]=Web a prohlížeč
Name[da]=Web og browser
Name[de]=Web und Browser
Name[el]=Ιστός και περιηγητής
Name[en_GB]=Web and Browser
Name[es]=Web y navegador
Name[fr]=Web et Navigateur
Name[gl]=Web e navegador
Name[hu]=Web és böngésző
Name[it]=Browser web
Name[kk]=Интернет және шолғышы
Name[km]=បណ្ដាញ និង​កម្មវិធី​រុករក
Name[ko]=웹과 브라우저
Name[nb]=Nett og nettleser
Name[nds]=Nett un Nettkieker
Name[nl]=Web en browser
Name[pa]=ਵੈੱਬ ਅਤੇ ਬਰਾਊਜ਼ਰ
Name[pl]=Sieć i przeglądarka
Name[pt]=Web e Navegação
Name[pt_BR]=Web e Navegador
Name[ro]=Web și navigator
Name[sk]=Web a prehliadač
Name[sl]=Spletni brskalnik
Name[sv]=Webb och webbläsare
Name[tr]=Web ve Tarayıcı
Name[uk]=Інтернет і перегляд інтернету
Name[wa]=Waibe eyet betchteu
Name[x-test]=xxWeb and Browserxx
Name[zh_CN]=网络和浏览
Name[zh_TW]=網頁與瀏覽器
Comment=Text Size, History, Adblock, Homepage
Comment[bs]=Veličina teksta, Historija, Adblock, Početna stranica
Comment[ca]=Mida del text, Historial, Bloqueig publicitari, Pàgina inicial
Comment[ca@valencia]=Mida del text, Historial, Bloqueig publicitari, Pàgina inicial
Comment[da]=Tekststørrelse, historik, adblock, startside
Comment[de]=Textgröße, Verlauf, Werbefilter, Homepage
Comment[el]=Μέγεθος κειμένου, ιστορικό, adblock, αρχική
Comment[en_GB]=Text Size, History, Adblock, Homepage
Comment[es]=Tamaño del texto, Historial, Bloqueo de anuncios, Página de inicio
Comment[fi]=Tekstin koko, tekstikoko, historia, adblock, mainosesto, kotisivu, aloitussivu
Comment[fr]=Taille du texte, historique, blocage des bandeaux publicitaires, page d'accueil
Comment[gl]=Tamaño do texto, historial, bloqueo de publicidade, páxina de inicio.
Comment[hu]=Szövegméret, Előzmény, Adblock, Kezdőlap
Comment[it]=Dimensione testo, cronologia, blocco pubblicità, homepage
Comment[kk]=Мәтін өлшемі, Журналы, Жарнама бұғаттауы, Мекен парағы
Comment[km]=ទំហំ​អត្ថបទ ប្រវត្តិ Adblock គេហទំព័រ
Comment[ko]=Text Size, History, Adblock, Homepage,텍스트 크기,기록,광고,차단,홈페이지
Comment[nb]=Tekststørrelse, historie, Adblock, hjemmeside
Comment[nds]=Textgrött, Vörgeschicht, Warvenblockeren, Tohuussiet
Comment[nl]=Tekstgrootte, geschiedenis, Adblock, homepagina
Comment[pl]=Rozmiar tekstu, Historia, Adblock, Strona domowa
Comment[pt]=Tamanho do Texto, Histórico, Bloqueio, Página Inicial
Comment[pt_BR]=Tamanho do Texto, Histórico, Bloqueio, Página Inicial
Comment[sk]=Veľkosť textu, História, Adblock, Domovská stránka
Comment[sl]=Velikost pisave, zgodovina, Adblock, domača stran
Comment[sv]=Textstorlek, historik, reklamblockering, hemsida
Comment[tr]=Metin Boyutu, Geçmiş, Reklam Engelleyici, Ev Sayfası
Comment[uk]=Розмір тексту, журнал, блокування реклами, домашня сторінка
Comment[wa]=Grandeu do tecse, istwere, blocaedje des riclames, pådje måjhon
Comment[x-test]=xxText Size, History, Adblock, Homepagexx
Comment[zh_TW]=文字大小，歷史，Adblock，首頁
Encoding=UTF-8
Type=Service
Icon=preferences-system-network
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.web
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/Web.qml
