[Desktop Entry]
Name=Welcome
Name[cs]=Vítejte
Name[es]=Bienvenido
Name[nl]=Welkom
Name[pl]=Witaj
Name[pt]=Bem-Vindo
Name[pt_BR]=Bem-vindo
Name[sv]=Välkommen
Name[ug]=مەرھابا
Name[uk]=Вітаємо
Name[x-test]=xxWelcomexx
Type=Service
Icon=plasma
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.welcome
X-KDE-PluginInfo-Version=1
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=300,200
X-Plasma-MainScript=code/welcome.qml
