[Desktop Entry]
Name=org.kde.active.welcome
Name[nl]=org.kde.active.welcome
Name[pt]=org.kde.active.welcome
Name[pt_BR]=org.kde.active.welcome
Name[sv]=org.kde.active.welcome
Name[uk]=org.kde.active.welcome
Name[x-test]=xxorg.kde.active.welcomexx
Type=Service
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.welcome
X-KDE-PluginInfo-Version=1
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=300,200
X-Plasma-MainScript=code/welcome.qml
