[Desktop Entry]
Name=Welcome
Name[cs]=Vítejte
Name[da]=Velkommen
Name[de]=Willkommen
Name[el]=Καλώς ήρθατε
Name[es]=Bienvenido
Name[et]=Tere tulemast!
Name[fi]=Tervetuloa
Name[fr]=Bienvenue
Name[hu]=Üdvözöljük!
Name[it]=Benvenuto
Name[km]=សូមស្វាគមន៍
Name[nl]=Welkom
Name[pa]=ਜੀ ਆਇਆਂ ਨੂੰ
Name[pl]=Witaj
Name[pt]=Bem-Vindo
Name[pt_BR]=Bem-vindo
Name[sk]=Vitajte
Name[sl]=Dobrodošli
Name[sv]=Välkommen
Name[tr]=Hoş Geldiniz
Name[ug]=مەرھابا
Name[uk]=Вітаємо
Name[wa]=Wilicome
Name[x-test]=xxWelcomexx
Name[zh_CN]=欢迎
Name[zh_TW]=歡迎
Type=Service
Icon=plasma
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.welcome
X-KDE-PluginInfo-Version=1
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=300,200
X-Plasma-MainScript=code/welcome.qml
