[Desktop Entry]
Encoding=UTF-8
Name=Phone
Name[ca]=Telèfon
Name[ca@valencia]=Telèfon
Name[cs]=Telefon
Name[de]=Telefon
Name[en_GB]=Phone
Name[es]=Teléfono
Name[fi]=Phone
Name[fr]=Téléphone
Name[gl]=Teléfono
Name[it]=Telefono
Name[ko]=전화
Name[nl]=Telefoon
Name[nn]=Telefon
Name[pl]=Telefon
Name[pt]=Telefone
Name[sv]=Telefon
Name[tr]=Telefon
Name[uk]=Телефон
Name[x-test]=xxPhonexx
Name[zh_CN]=手机
Name[zh_TW]=電話
Comment=Plasma shell for phones
Comment[ca]=Espai de treball Plasma per a telèfons
Comment[ca@valencia]=Espai de treball Plasma per a telèfons
Comment[cs]=Plasma Shell pro telefony
Comment[de]=Plasma-Shell für Telefone
Comment[es]=Interfaz de Plasma para teléfonos
Comment[fr]=Terminal Plasma pour smartphones
Comment[gl]=Intérprete de ordes de Plasma para móbiles
Comment[it]=Shell di Plasma per telefoni
Comment[ko]=휴대폰용 Plasma 셸
Comment[nl]=Plasma-shell voor telefoons
Comment[pl]=Powłoka Plazmy dla telefonów
Comment[pt]=Área de trabalho Plasma para telemóveis
Comment[sv]=Plasma skal för telefoner
Comment[uk]=Оболонка Плазми для телефонів
Comment[x-test]=xxPlasma shell for phonesxx
Comment[zh_TW]=適用於手機的 Plasma Shell
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.plasma.phone
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma-mobile.org

