[Desktop Entry]
Exec=plasma-mobile-qml --desktop
X-DBUS-StartupType=wait
Name=Plasma Mobile QML
Comment=Workspace shell for mobile devices.
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

