[Desktop Entry]
Exec=plasma-mobile --desktop
X-DBUS-StartupType=wait
Name=Plasma Mobile
Name[en_GB]=Plasma Mobile
Name[es]=Plasma Mobile
Name[et]=Mobiilne Plasma
Name[fr]=Plasma mobile
Name[nl]=Plasma-mobiel
Name[pt]=Plasma Móvel
Name[pt_BR]=Plasma Móvel
Name[sv]=Plasma-mobil
Name[tr]=Plasma Mobile
Name[uk]=Мобільна Плазма
Name[x-test]=xxPlasma Mobilexx
Comment=Workspace shell for mobile devices.
Comment[en_GB]=Workspace shell for mobile devices.
Comment[et]=Töötsooni kest mobiilsetele seadmetele.
Comment[fr]=Environnement de travail de Shell pour les périphériques mobiles.
Comment[pt]=Área de trabalho para os dispositivos móveis.
Comment[pt_BR]=Área de trabalho para os dispositivos móveis.
Comment[sv]=Arbetsytans skal för mobila internetenheter.
Comment[tr]=Taşınabilir aygıtlar için çalışma uçbirimi.
Comment[uk]=Оболонка робочого простору для мобільних пристроїв.
Comment[x-test]=xxWorkspace shell for mobile devices.xx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

