[Desktop Entry]
Exec=plasma-device
X-DBUS-StartupType=wait
Name=Plasma device shell
Name[bs]=Školjka plasma uređaja
Name[ca]=Àrea de treball del dispositiu Plasma
Name[da]=Plasma enhedsskal
Name[de]=Plasma-Geräte-Shell
Name[el]=Κέλυφος συσκευής plasma
Name[es]=Consola de dispositivo para Plasma
Name[et]=Plasma seadmekest
Name[fr]=Console Plasma de périphérique
Name[gl]=Shell do dispositivo Plasma
Name[hu]=Plasma eszközfelület
Name[it]=Dispositivo per la shell di Plasma
Name[kk]=Plasma құрылғы ортасы
Name[km]=សែល​ឧបករណ៍​ប្លាស្មា
Name[ko]=Plasma 장치 셸
Name[nb]=Plasma enhetsskall
Name[nl]=Plasma-apparaatshell
Name[pa]=ਪਲਾਜ਼ਮਾ ਜੰਤਰ ਸੈੱਲ
Name[pl]=Powłoka urządzenia Plazma
Name[pt]=Consola de Plasma do dispositivo
Name[pt_BR]=Shell de Plasma do dispositivo
Name[sk]=Shell zariadenia Plasma
Name[sl]=Lupina naprave za Plasmo
Name[sv]=Plasma enhetsskal
Name[tr]=Plasma aygıt kabuğu
Name[uk]=Портативна оболонка Плазми
Name[wa]=Shell d' éndjin Plasma
Name[x-test]=xxPlasma device shellxx
Name[zh_TW]=Plasma 裝置 shell
Comment=Workspace shell for a wide spectrum of portable devices.
Comment[bs]=Radni prostor ljuske za širok spektar prijenosnih uređaja.
Comment[ca]=Espai de treball per a una àmplia gamma de dispositius portàtils.
Comment[da]=Arbejdsområde-skal for et bredt spektrum af transportable enheder.
Comment[de]=Arbeitsflächen-Shell für ein breites Spektrum an tragbaren Geräten.
Comment[el]=Κέλυφος χώρου εργασίας για ένα ευρύ φάσμα συμβατών συσκευών.
Comment[es]=Entorno de espacio de trabajo para un amplio espectro de dispositivos portátiles.
Comment[et]=Töötsoonikest laiale hulgale mobiilsetele seadmetele.
Comment[fr]=Console d'espace de travail pour une large gamme de périphériques mobiles.
Comment[gl]=Shell de espazo de traballo para un amplo espectro de dispositivos portátiles.
Comment[hu]=Munkaterület különféle hordozható eszközökhöz
Comment[it]=Shell di lavoro per un gran numero di dispositivi portatili.
Comment[kk]=Ықшам құрылғылар кең қатарына арналған іс-кеңістік ортасы.
Comment[km]=សែល​តំបន់​ធ្វើការ​សម្រាប់​វិសាលគម​ធាតុ​ក្រាហ្វិក​​របស់​ឧបករណ៍​ចល័ត ។
Comment[ko]=다양한 휴대용 장치를 지원하는 작업 공간 셸입니다.
Comment[nb]=Arbeidsflateskall for et bredt utvalg av mobile enheter.
Comment[nl]=Werkruimte-shell voor een breed spectrum van mobiele apparaten.
Comment[pl]=Powłoka przestrzeni roboczej dla szerokiego spektrum urządzeń przenośnych.
Comment[pt]=Área de trabalho para um grande espectro de dispositivos móveis.
Comment[pt_BR]=Espaço de trabalho para um grande espectro de dispositivos móveis.
Comment[sk]=Shell pracovnej plochy pre široké spektrum prenosných zariadení.
Comment[sl]=Lupina delovnega prostora za širok nabor prenosnih naprav.
Comment[sv]=Skal för arbetsytan för ett mångfald av bärbara enheter.
Comment[tr]=Çeşitli taşınabilir aygıtlar için çalışma alanı kabuğu
Comment[uk]=Оболонка робочого простору для широкого спектру портативних пристроїв.
Comment[wa]=Shell d' espåce di boutaedje po ene grande fortchete d' éndjins axhlåves.
Comment[x-test]=xxWorkspace shell for a wide spectrum of portable devices.xx
Comment[zh_TW]=許多可移植裝置可使用的工作空間 shell。
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

