[Desktop Entry]
Exec=plasma-mobile-qml --desktop
X-DBUS-StartupType=wait
Name=Plasma Mobile QML
Name[en_GB]=Plasma Mobile QML
Name[es]=Plasma Mobile QML
Name[pt]=Plasma Móvel QML
Name[pt_BR]=Plasma móvel QML
Name[sv]=Plasma mobil-QML
Name[uk]=Мобільна Плазма на QML
Name[x-test]=xxPlasma Mobile QMLxx
Comment=Workspace shell for mobile devices.
Comment[en_GB]=Workspace shell for mobile devices.
Comment[es]=Shell del espacio de trabajo para dispositivos móviles.
Comment[et]=Töötsooni kest mobiilsetele seadmetele.
Comment[fi]=Työpöytäkuori kannettaville laitteille.
Comment[fr]=Environnement de travail de Shell pour les périphériques mobiles.
Comment[pa]=ਮੋਬਾਇਲ ਇੰਟਰਨੈੱਟ ਜੰਤਰਾਂ ਲਈ ਵਰਕਸਪੇਸ ਸ਼ੈੱਲ।
Comment[pt]=Área de trabalho para os dispositivos móveis.
Comment[pt_BR]=Área de trabalho para os dispositivos móveis.
Comment[sv]=Arbetsytans skal för mobila internetenheter.
Comment[tr]=Taşınabilir aygıtlar için çalışma uçbirimi.
Comment[uk]=Оболонка робочого простору для мобільних пристроїв.
Comment[x-test]=xxWorkspace shell for mobile devices.xx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

