[Desktop Entry]
Exec=plasma-device
X-DBUS-StartupType=wait
Name=Plasma device shell
Name[uk]=Портативна оболонка Плазми
Name[x-test]=xxPlasma device shellxx
Comment=Workspace shell for a wide spectrum of portable devices.
Comment[uk]=Оболонка робочого простору для широкого спектру портативних пристроїв.
Comment[x-test]=xxWorkspace shell for a wide spectrum of portable devices.xx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

