[Desktop Entry]
Comment=Start Applications
Comment[da]=Start programmer
Comment[el]=Έναρξη εφαρμογών
Comment[et]=Rakenduste käivitaja
Comment[fi]=Käynnistä sovelluksia
Comment[fr]=Démarrage des applications
Comment[hu]=Alkalmazások indítása
Comment[km]=ចាប់ផ្ដើម​កម្មវិធី
Comment[nl]=Toepassingen starten
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨ ਸ਼ੁਰੂ
Comment[pl]=Uruchom programy
Comment[pt]=Iniciar as Aplicações
Comment[pt_BR]=Iniciar aplicativos
Comment[sv]=Starta program
Comment[tr]=Uygulamaları Başlat
Comment[uk]=Запуск програм
Comment[wa]=Enonder programes
Comment[x-test]=xxStart Applicationsxx
Comment[zh_TW]=啟動應用程式
Encoding=UTF-8
Keywords=
Name=Launcher
Name[cs]=Spouštěč
Name[da]=Programgenvej
Name[de]=Programmstarter
Name[el]=Εκτελεστής
Name[es]=Lanzador
Name[et]=Käivitaja
Name[fi]=Käynnistin
Name[fr]=Lanceur
Name[hu]=Indító
Name[km]=កម្មវិធី​ចាប់ផ្ដើម
Name[nl]=Programmastarter
Name[pa]=ਲਾਂਚਰ
Name[pl]=Aktywator
Name[pt]=Lançamento
Name[pt_BR]=Lançador
Name[sk]=Spúšťač
Name[sv]=Startprogram
Name[tr]=Başlatıcı
Name[ug]=ئىجراچى
Name[uk]=Інструмент запуску
Name[wa]=Enondeu
Name[x-test]=xxLauncherxx
Name[zh_TW]=啟動器
Type=Service
Icon=start-here-kde

X-KDE-ServiceTypes=Plasma/GenericPackage
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.launcher
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
