[Desktop Entry]
Comment=Default toolbox for the mobile shell
Comment[da]=Standard værktøjskasse til mobil-skallen
Comment[el]=Προκαθορισμένη εργαλειοθήκη για κέλυφος κινητού
Comment[es]=Caja de herramientas por omisión para el entorno móvil
Comment[et]=Mobiili vaikimisi tööriistakast
Comment[fr]=Boîte à outils par défaut pour la console mobile
Comment[hu]=Alapértelmezett eszközkészlet a mobil felülethez
Comment[it]=Strumento predefinito per la shell mobile
Comment[km]=ប្រអប់​ឧបករណ៍​លំនាំដើម​សម្រាប់​សែល​ចល័ត
Comment[nl]=Standaard hulpmiddelen voor de mobiel-shell
Comment[pl]=Domyślny przybornik dla powłoki Mobile
Comment[pt]=Área de ferramentas predefinidas para a área de trabalho móvel
Comment[pt_BR]=A barra padrão para a área de trabalho móvel
Comment[sv]=Standardverktygslåda för mobilskalet
Comment[tr]=Mobil kabuk için öntanımlı araç kutusu
Comment[uk]=Типовий набір інструментів для мобільної оболонки
Comment[wa]=Usteye prémetowe pol shell axhlåve
Comment[x-test]=xxDefault toolbox for the mobile shellxx
Comment[zh_TW]=Mobile shell 的預設工具盒
Icon=plasma
Name=Mobile toolbox
Name[da]=Værktøjskasse til Mobile
Name[el]=Εργαλειοθήκη κινητού
Name[es]=Caja de herramientas móvil
Name[et]=Mobiili tööriistakast
Name[fr]=Boîte à outils pour mobile
Name[hu]=Mobil eszközkészlet
Name[it]=Strumento per mobile
Name[km]=ប្រអប់​ឧបករណ៍​ចល័ត
Name[nl]=Hulpmiddelen voor mobiel
Name[pa]=ਮੋਬਾਇਲ ਟੂਲਬਾਕਸ
Name[pl]=Przybornik dla Mobile
Name[pt]=Área de ferramentas móvel
Name[pt_BR]=Caixa de ferramentas móvel
Name[sv]=Mobil verktygslåda
Name[tr]=Mobil araç kutusu
Name[uk]=Набір інструментів для мобільного
Name[wa]=Boesse ås usteyes axhlåve
Name[x-test]=xxMobile toolboxxx
Name[zh_TW]=行動工具盒
Type=Service

X-KDE-ServiceTypes=Plasma/ToolBox
X-KDE-Library=plasma_toolbox_mobiletoolbox
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.mobiletoolbox
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

