[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=activities
Name[cs]=aktivity
Name[da]=aktiviteter
Name[es]=actividades
Name[et]=tegevused
Name[fr]=activités
Name[km]=សកម្មភាព
Name[nds]=Aktiviteten
Name[nl]=activiteiten
Name[pl]=działania
Name[pt]=actividades
Name[pt_BR]=atividades
Name[sk]=aktivity
Name[sv]=aktiviteter
Name[tr]=eylemler
Name[ug]=پائالىيەتلەر
Name[uk]=простори дій
Name[x-test]=xxactivitiesxx
Name[zh_CN]=活动
Name[zh_TW]=活動
Type=Service
Icon=preferences-activities

X-KDE-ServiceTypes=Plasma/GenericPackage
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.activityswitcher
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
