[Desktop Entry]
Name=Language
Name[nl]=Taal
Name[pl]=Język
Name[pt]=Linguagem
Name[pt_BR]=Linguagem
Name[tr]=Dil
Name[uk]=Мова
Name[x-test]=xxLanguagexx
Comment=Locale settings
Comment[cs]=Jazyková nastavení
Comment[nl]=Taalregio-instellingen
Comment[pl]=Ustawienia regionalne
Comment[pt]=Configuração regional
Comment[pt_BR]=Configuração regional
Comment[tr]=Yerel ayarları
Comment[uk]=Параметри локалі
Comment[x-test]=xxLocale settingsxx
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-locale
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_locale
X-KDE-PluginInfo-Author=Lamarque V. Souza
X-KDE-PluginInfo-Email=lamarque@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.locale
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Package=org.kde.active.settings.locale
X-Plasma-MainScript=ui/Locale.qml
