[Desktop Entry]
Name=Language
Name[bs]=Jezik
Name[ca]=Idioma
Name[ca@valencia]=Idioma
Name[cs]=Jazyk
Name[da]=Sprog
Name[de]=Sprache
Name[el]=Γλώσσα
Name[en_GB]=Language
Name[es]=Idioma
Name[et]=Keel
Name[fi]=Kieli
Name[fr]=Langue
Name[ga]=Teanga
Name[gl]=Idioma
Name[hu]=Nyelv
Name[it]=Lingua
Name[kk]=Тіл
Name[km]=ភាសា
Name[ko]=언어
Name[lt]=Kalba
Name[mr]=भाषा
Name[nb]=Språk
Name[nds]=Spraak
Name[nl]=Taal
Name[pa]=ਭਾਸ਼ਾ
Name[pl]=Język
Name[pt]=Linguagem
Name[pt_BR]=Linguagem
Name[ro]=Limbă
Name[sk]=Jazyk
Name[sl]=Jezik
Name[sv]=Språk
Name[tr]=Dil
Name[ug]=تىل
Name[uk]=Мова
Name[wa]=Lingaedje
Name[x-test]=xxLanguagexx
Name[zh_TW]=語言
Comment=Locale settings
Comment[bs]=Lokalne postavke
Comment[ca]=Arranjament de la localització
Comment[ca@valencia]=Arranjament de la localització
Comment[cs]=Jazyková nastavení
Comment[da]=Lokalitetsindstillinger
Comment[de]=Regionaleinstellungen
Comment[el]=Ρυθμίσεις εντοπιότητας
Comment[en_GB]=Locale settings
Comment[es]=Preferencias locales
Comment[et]=Lokaadi seadistused
Comment[fi]=Alueasetukset
Comment[fr]=Configuration des paramètres régionaux
Comment[ga]=Socruithe teanga
Comment[gl]=Configuración rexional.
Comment[hu]=Nyelvi beállítások
Comment[it]=Impostazioni locali
Comment[kk]=Жергілікті стандарттары
Comment[km]=ការ​កំណត់​មូលដ្ឋាន
Comment[ko]=로캘 설정
Comment[nb]=Lokale-innstillinger
Comment[nds]=Regiooninstellen
Comment[nl]=Taalregio-instellingen
Comment[pa]=ਲੋਕੇਲ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia regionalne
Comment[pt]=Configuração regional
Comment[pt_BR]=Configuração regional
Comment[ro]=Configurări de limbă
Comment[sk]=Regionálne nastavenia
Comment[sl]=Področne nastavitve
Comment[sv]=Landsinställningar
Comment[tr]=Yerel ayarları
Comment[uk]=Параметри локалі
Comment[wa]=Apontiaedjes di payis et lingaedje
Comment[x-test]=xxLocale settingsxx
Comment[zh_TW]=區域化設定
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-locale
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_locale
X-KDE-PluginInfo-Author=Lamarque V. Souza
X-KDE-PluginInfo-Email=lamarque@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.locale
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Package=org.kde.active.settings.locale
X-Plasma-MainScript=ui/Locale.qml
