[Desktop Entry]
Name=Language
Name[da]=Sprog
Name[de]=Sprache
Name[el]=Γλώσσα
Name[es]=Idioma
Name[et]=Keel
Name[fi]=Kieli
Name[fr]=Langue
Name[hu]=Nyelv
Name[it]=Lingua
Name[km]=ភាសា
Name[nl]=Taal
Name[pa]=ਭਾਸ਼ਾ
Name[pl]=Język
Name[pt]=Linguagem
Name[pt_BR]=Linguagem
Name[sk]=Jazyk
Name[sl]=Jezik
Name[sv]=Språk
Name[tr]=Dil
Name[uk]=Мова
Name[wa]=Lingaedje
Name[x-test]=xxLanguagexx
Name[zh_TW]=語言
Comment=Locale settings
Comment[cs]=Jazyková nastavení
Comment[da]=Lokalitetsindstillinger
Comment[de]=Regionaleinstellungen
Comment[el]=Ρυθμίσεις εντοπιότητας
Comment[es]=Preferencias locales
Comment[et]=Lokaadi seadistused
Comment[fi]=Alueasetukset
Comment[fr]=Configuration des paramètres régionaux
Comment[hu]=Nyelvi beállítások
Comment[it]=Impostazioni locali
Comment[km]=ការ​កំណត់​មូលដ្ឋាន
Comment[nl]=Taalregio-instellingen
Comment[pa]=ਲੋਕੇਲ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia regionalne
Comment[pt]=Configuração regional
Comment[pt_BR]=Configuração regional
Comment[sl]=Področne nastavitve
Comment[sv]=Landsinställningar
Comment[tr]=Yerel ayarları
Comment[uk]=Параметри локалі
Comment[wa]=Apontiaedjes di payis et lingaedje
Comment[x-test]=xxLocale settingsxx
Comment[zh_TW]=區域化設定
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-locale
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_locale
X-KDE-PluginInfo-Author=Lamarque V. Souza
X-KDE-PluginInfo-Email=lamarque@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.locale
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Package=org.kde.active.settings.locale
X-Plasma-MainScript=ui/Locale.qml
