[Desktop Entry]
Name=Mobile Network Engine
Name[et]=Mobiilivõrgu mootor
Name[fr]=Moteur de réseau mobile
Name[km]=ម៉ាស៊ីន​បណ្ដាញ​ចល័ត
Name[nl]=Engine voor mobiele netwerk
Name[pl]=Silnik sieci dla Mobile
Name[pt]=Motor de Rede Móvel
Name[pt_BR]=Mecanismo de rede móvel
Name[sv]=Mobilgränssnitt
Name[uk]=Рушій мобільних мереж
Name[x-test]=xxMobile Network Enginexx
Comment=Mobile network engine
Comment[et]=Mobiilivõrgu mootor
Comment[fr]=Moteur de réseau mobile
Comment[km]=ម៉ាស៊ីន​បណ្ដាញ​ចល័ត
Comment[nl]=Engine voor mobiele netwerk
Comment[pl]=Silnik sieci dla Mobile
Comment[pt]=Motor de rede móvel
Comment[pt_BR]=Mecanismo de rede móvel
Comment[sv]=Mobilgränssnitt
Comment[uk]=Рушій мобільних мереж
Comment[x-test]=xxMobile network enginexx

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=network
X-KDE-Library=plasma_engine_mobilenetwork

X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=org.kde.mobilenetworkengine
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

