# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Power Menu
Name[az]=Güc menyusu
Name[ca]=Menú d'energia
Name[ca@valencia]=Menú d'energia
Name[en_GB]=Power Menu
Name[es]=Menú de energía
Name[eu]=Energia menua
Name[fi]=Virranhallintavalikko
Name[fr]=Menu « Énergie »
Name[hi]=शक्ती मेन्यू
Name[hu]=Energia menü
Name[ia]=Menu de Potentia
Name[it]=Menu accensione
Name[ka]=კვების მენიუ
Name[ko]=전원 메뉴
Name[nl]=Energiemenu
Name[nn]=Kraftmeny
Name[pl]=Menu zasilania
Name[pt]=Menu de Energia
Name[pt_BR]=Menu de energia
Name[ro]=Meniu avansat
Name[ru]=Меню питания
Name[sk]=Ponuka napájania
Name[sl]=Meni energije
Name[sv]=Strömmeny
Name[tr]=Güç Menüsü
Name[uk]=Меню живлення
Name[x-test]=xxPower Menuxx
Name[zh_CN]=电源菜单
Icon=system-shutdown-symbolic

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.powermenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL


