[Desktop Entry]
Name=Active Containment
Name[ca]=Contenidor Active
Name[es]=Contenedor de Active
Name[nl]=Actieve container
Name[pl]=Pojemnik Active
Name[pt]=Contentor Activo
Name[pt_BR]=Contêiner ativo
Name[sl]=Vsebnik Active
Name[sv]=Active omgivning
Name[uk]=Портативний контейнер
Name[x-test]=xxActive Containmentxx
Encoding=UTF-8

Type=Service
Icon=user-desktop
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.activecontainment
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentType=Desktop
