[Desktop Entry]
Name=Oxygen for Mobile
Name[bs]=Kisik za mobilni uređaj
Name[ca]=Oxygen per a Mòbil
Name[ca@valencia]=Oxygen per a Mòbil
Name[da]=Oxygen til Mobile
Name[de]=Oxygen für Mobile
Name[el]=Oxygen for Mobile
Name[en_GB]=Oxygen for Mobile
Name[es]=Oxígeno para Mobile
Name[et]=Oxygen mobiilsetele seadmetele
Name[fr]=Oxygen pour Mobile
Name[gl]=Oxygen para móbiles
Name[hu]=Oxygen téma mobilokra
Name[it]=Oxygen per dispositivi mobile
Name[kk]=Ұялыға арналған "Oxygen"
Name[km]=អុកស៊ីសែន​ចល័ត
Name[ko]=모바일용 Oxygen
Name[nb]=Oxygen for Mobile
Name[nds]=Oxygen för Mobiltelefoon
Name[nl]=Oxygen voor mobiel
Name[pa]=ਮੋਬਾਇਲ ਲਈ ਆਕਸੀਜਨ
Name[pl]=Tlen na przenośnych
Name[pt]=Oxygen Móvel
Name[pt_BR]=Oxygen móvel
Name[ro]=Oxygen pentru mobil
Name[sk]=Oxygen pre mobil
Name[sl]=Kisik za Mobile
Name[sv]=Oxygen för mobiler
Name[tr]=Cep telefonları için Oxygen
Name[uk]=«Oxygen» для мобільного
Name[wa]=Ocsidjinne po-z axhlåve
Name[x-test]=xxOxygen for Mobilexx
Name[zh_TW]=行動裝置上的 Oxygen 主題
Comment=A breath of fresh air
Comment[bs]=Dašak svježeg vazduha
Comment[ca]=Una alenada d'aire fresc
Comment[ca@valencia]=Una alenada d'aire fresc
Comment[cs]=Závan čerstvého vzduchu
Comment[da]=En mundfuld frisk luft
Comment[de]=Ein Atemzug frische Luft
Comment[el]=Μια ανάσα φρέσκου αέρα
Comment[en_GB]=A breath of fresh air
Comment[es]=Una bocanada de aire fresco
Comment[et]=Värskendav tuulepuhang
Comment[fi]=Raikkaan ilman leyhähdys
Comment[fr]=Un souffle d'air frais
Comment[ga]=Béalán den aer cumhra
Comment[gl]=Un folgo de ar fresco.
Comment[hu]=Friss fuvallat
Comment[it]=Una ventata d'aria fresca
Comment[kk]=Самал желдей жеңіл
Comment[km]=ដង្ហើម​សម្រាប់​ខ្យល់​បរិសុទ្ធ
Comment[ko]=신선한 공기 바람
Comment[lt]=Gryno oro gurkšnis
Comment[mr]=शुद्ध हवेचा श्वास
Comment[nb]=Et pust av frisk luft
Comment[nds]=En beten Frischluft
Comment[nl]=Een hap frisse lucht
Comment[pl]=Powiew świeżego powietrza
Comment[pt]=Uma brisa de ar fresco
Comment[pt_BR]=Uma brisa de ar fresco
Comment[ro]=O gură de aer proaspăt
Comment[sk]=Závan čerstvého vzduchu
Comment[sl]=Svež vetrič
Comment[sv]=En frisk fläkt
Comment[tr]=Temiz havadan bir nefes
Comment[ug]=ساپ ھاۋادىن نەپەسلىنىش
Comment[uk]=Ковток свіжого повітря
Comment[wa]=On shofla d' frisse air
Comment[x-test]=xxA breath of fresh airxx
Comment[zh_CN]=呼吸清新空气
Comment[zh_TW]=吸一口新鮮空氣


X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=oxygen-mobile
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
FallbackTheme=oxygen

[Wallpaper]
defaultWallpaperTheme=HorosGreen

