[Desktop Entry]
Name=Orientation
Name[bs]=Orijentacija
Name[ca]=Orientació
Name[da]=Orientering
Name[de]=Ausrichtung
Name[el]=Προσανατολισμός
Name[es]=Orientación
Name[fr]=Orientation
Name[gl]=Orientación
Name[hu]=Tájolás
Name[kk]=Бағдары
Name[nb]=Retning
Name[nl]=Oriëntatie
Name[pl]=Orientacja
Name[pt]=Orientação
Name[pt_BR]=Orientação
Name[sk]=Orientácia
Name[sl]=Usmerjenost
Name[sv]=Orientering
Name[tr]=Yönlendirme
Name[ug]=يۆنىلىش
Name[uk]=Орієнтація
Name[x-test]=xxOrientationxx
Name[zh_TW]=方向
Comment=Lock/Unlock and configure screen orientation
Comment[bs]=Zaključaj/Otključaj i konfiguriši orijentaciju zaslona
Comment[ca]=Bloqueja/desbloqueja i configurar l'orientació de la pantalla
Comment[da]=Lås/Lås op og indstil skærmorientering
Comment[de]=Bildschirm sperren/entsperren und Ausrichtung einstellen
Comment[el]=(Ξε)κλείδωμα και διαμόρφωση προσανατολιμού οθόνης
Comment[es]=Bloquear/desbloquear y configurar la orientación de la pantalla
Comment[fr]=Verrouiller / Déverrouiller et configurer l'orientation de l'écran
Comment[gl]=Trancar/Desatrancar e configurar a orientación da pantalla
Comment[hu]=Kijelző tájolásának zárolása vagy feloldása és beállítása
Comment[kk]=Экран бағдарын Бекіту/Босату және баптау
Comment[nb]=Lås/lås opp og sett opp skjermens retning
Comment[nl]=Ver-/ontgrendel en stel de oriëntatie van het scherm in
Comment[pl]=Zablokuj/Odblokuj i skonfiguruj orientację ekranu 
Comment[pt]=Bloquear/desbloquear e a configurar a orientação do ecrã
Comment[pt_BR]=Boqueia/desbloqueia e configura a orientação da tela
Comment[sk]=Zamknúť/odomknúť a nastaviť orientáciu obrazovky
Comment[sl]=Zaklene/odklene zaslon in nastavi usmerjenost
Comment[sv]=Lås eller lås upp och anpassa skärmorientering
Comment[tr]=Ektan yönlendirmesini kilitle/kilidini aç ve yapılandır
Comment[uk]=Заблокувати або розблокувати і налаштувати орієнтацію екрана
Comment[x-test]=xxLock/Unlock and configure screen orientationxx
Comment[zh_TW]=鎖定/解除鎖定/設定螢幕方向
Encoding=UTF-8
Keywords=Screen, Orientation
Keywords[bs]=Ekran, orijentacija
Keywords[ca]=Pantalla, Orientació
Keywords[da]=Skærm, orientering
Keywords[de]=Bildschirm, Ausrichtung
Keywords[el]=Οθόνη, προσανατολισμός
Keywords[es]=Pantalla, Orientación
Keywords[fr]=Écran,orientation
Keywords[gl]=Pantalla, Orientación
Keywords[hu]=Kijelző, tájolás
Keywords[kk]=Screen, Orientation
Keywords[nb]=Skjerm, orientering
Keywords[nl]=Scherm, oriëntatie
Keywords[pl]=Ekran, orientacja
Keywords[pt]=Ecrã, Orientação
Keywords[pt_BR]=Tela, Orientação
Keywords[sk]=Obrazovka, orientácia
Keywords[sl]=Zaslon, usmerjenost
Keywords[sv]=Skärm, orientering
Keywords[tr]=Ekran, Yönlendirme
Keywords[uk]=Screen,Orientation,екран,орієнтація
Keywords[x-test]=xxScreen, Orientationxx
Keywords[zh_TW]=螢幕，方向
Type=Service
Icon=transform-rotate
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Jeremy Whiting
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=jpwhiting@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.orientation
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=32,64
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
