# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

build
*.config
*.creator
*.files
*.includes
*.user

/.clang-format
/.clangd
/compile_commands.json
.idea
/cmake-build*
.cache
.vscode/

.kdev4/
*.kdev4
/build*
