# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/reuse-lint.yml
      - /gitlab-templates/linux-qt6.yml
      - /gitlab-templates/alpine-qt6.yml
      - /gitlab-templates/xml-lint.yml
      - /gitlab-templates/yaml-lint.yml

posix-script-compliance:
  image:
    name: debian:latest
    entrypoint: [""]
  tags:
    - Linux
  stage: build
  script:
    - apt-get update
    - apt-get -y install shellcheck
    - shellcheck -x -s sh bin/startplasmamobile.in
    - shellcheck -x -s sh bin/startplasmamobile.in
    - shellcheck -x --exclude=1091 -s sh bin/startplasmamobile-dev.sh.cmake # ignore error from file not existing (given by cmake)
