# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Settings
Name[ca]=Configuració
Name[ca@valencia]=Configuració
Name[es]=Preferencias
Name[fr]=Configuration
Name[nl]=Instellingen
Name[pt]=Configuração
Name[sl]=Nastavitve
Name[sv]=Inställningar
Name[tr]=Ayarlar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx
Icon=spectacle
Description=Settings application quick setting
Description[ca]=Configuració ràpida de la configuració general
Description[ca@valencia]=Configuració ràpida de la configuració general
Description[es]=Ajuste rápido de la aplicación de preferencias
Description[fr]=Configuration rapide de la configuration d'une application
Description[nl]=Snelle instelling van toepassing voor instellingen
Description[sl]=Hitre nastavitve aplikacij
Description[sv]=Snabbinställning av inställningsprogram
Description[tr]=Ayarlar uygulaması hızlı ayarı
Description[uk]=Швидке налаштовування параметрів програм
Description[x-test]=xxSettings application quick settingxx

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.settingsapp
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+
