[Desktop Entry]
Encoding=UTF-8
Name=Applets strip
Name[et]=Apletiriba
Name[nl]=Strip met applets
Name[pt]=Barra de 'applets'
Name[pt_BR]=Barra de miniaplicativos
Name[sv]=Rensa miniprogram
Name[uk]=Усування аплетів
Name[x-test]=xxApplets stripxx
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.appletstrip
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
