[Desktop Entry]
Encoding=UTF-8
Name=Fake contact list (QML)
Name[x-test]=xxFake contact list (QML)xx
Comment=A proof of concept contact list written in qml
Comment[x-test]=xxA proof of concept contact list written in qmlxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=kopete
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.fakecontactlist-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
