[Desktop Entry]
Encoding=UTF-8
Name=Fake contact list (QML)
Name[et]=Kontaktide libanimekiri (QML)
Name[nl]=Voorbeeld contactenlijst (QML)
Name[pt]=Lista de contactos falsa (QML)
Name[pt_BR]=Lista de contatos falsa (QML)
Name[sv]=Påhittad kontaktlista (QML)
Name[uk]=Тестовий список контактів (QML)
Name[x-test]=xxFake contact list (QML)xx
Comment=A proof of concept contact list written in qml
Comment[et]=Põhimõtteline QML-is kirjutatud kontaktide nimekiri
Comment[nl]=Een 'proof of concept' contactenlijst geschreven in qml
Comment[pt]=Uma lista de contactos de testes feita em QML
Comment[pt_BR]=Uma lista de contatos de testes escrita em QML
Comment[sv]=Ett koncept för en kontaktlista skrivet i QML
Comment[uk]=Тестовий список контактів, написаний мовою qml
Comment[x-test]=xxA proof of concept contact list written in qmlxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=kopete
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.fakecontactlist-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
