[Desktop Entry]
Name=File browser
Name[cs]=Prohlížeč souborů
Name[da]=Filbrowser
Name[de]=Dateiverwaltung
Name[el]=Περιηγητής αρχείων
Name[es]=Navegador de archivos
Name[et]=Failibrauser
Name[fr]=Explorateur de fichiers
Name[nl]=Bestandsbrowser
Name[pl]=Przeglądarka plików
Name[pt]=Navegador de ficheiros
Name[pt_BR]=Navegador de arquivos
Name[sv]=Filbläddrare
Name[tr]=Dosya tarayıcı
Name[uk]=Керування файлами
Name[x-test]=xxFile browserxx
Name[zh_CN]=文件浏览器
Name[zh_TW]=檔案瀏覽器
Encoding=UTF-8
Type=Service
Icon=system-file-manager
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.filebrowser
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Filemanagement
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
