[Desktop Entry]
Name=Image Viewer
Name[bs]=Preglednik slika
Name[ca]=Visor d'imatges
Name[ca@valencia]=Visor d'imatges
Name[cs]=Prohlížeč obrázků
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολέας εικόνων
Name[en_GB]=Image Viewer
Name[es]=Visor de imágenes
Name[et]=Pildinäitaja
Name[eu]=Irudi erakuslea
Name[fi]=Kuvankatselin
Name[fr]=Afficheur d'images
Name[gl]=Visor de imaxes
Name[hu]=Képmegjelenítő
Name[it]=Visualizzatore di immagini
Name[kk]=Кескінді қарау құралы
Name[km]=កម្មវិធី​មើល​រូបភាព
Name[ko]=그림 뷰어
Name[lt]=Paveikslėlių žiūryklė
Name[nb]=Bildeviser
Name[nds]=Bildkieker
Name[nl]=Afbeeldingenviewer
Name[nn]=Biletvisar
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de imagens
Name[ro]=Vizualizor de imagini
Name[ru]=Программа просмотра изображений
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sv]=Bildvisare
Name[tr]=Resim Gösterici
Name[ug]=سۈرەت كۆرگۈ
Name[uk]=Переглядач зображень
Name[wa]=Håyneu d' imådjes
Name[x-test]=xxImage Viewerxx
Name[zh_CN]=图像查看器
Name[zh_TW]=影像檢視器
Comment=Touchscreen friendly simple image viewer
Comment[bs]=Jednostavni preglednik slika na dodirni ekran
Comment[ca]=Visor d'imatges senzill per a pantalles tàctils
Comment[ca@valencia]=Visor d'imatges senzill per a pantalles tàctils
Comment[da]=Simpel touchskærm-venlig billedfremviser
Comment[de]=Ein einfacher Bildbetrachter für Touchscreen-Geräte
Comment[el]=Φιλικός σε οθόνες αφής απλός προβολέας εικόνων
Comment[en_GB]=Touchscreen friendly simple image viewer
Comment[es]=Visor de imágenes sencillo para pantallas táctiles
Comment[et]=Puuteekraanisõbralik lihtne pildinäitaja
Comment[eu]=Ukimen-pantailekiko lagunkoia den irudi erakusle erraz bat
Comment[fi]=Yksinkertainen kosketusnäyttöystävällinen kuvakatselin
Comment[fr]=Afficheur d'images simple et convivial pour les écrans tactiles
Comment[gl]=Visor de imaxes simple optimizado para pantallas táctiles.
Comment[hu]=Érintésbarát, egyszerű képmegjelenítő
Comment[it]=Visualizzatore di immagini adatto a schermi touch
Comment[kk]=Сенсорлық экранда кескінді қарау қарапайым құралы
Comment[km]=កម្មវិធី​មើល​រូបភាព​ធម្មតា​ការ​ប៉ះ​អេក្រង់​ដែល​ពេញ​និយម​
Comment[ko]=터치스크린 친화적 간단한 그림 뷰어
Comment[nb]=Enkel bildeviser bra for touch-skjermer
Comment[nds]=Eenfach Bildkieker för Anröögschirmen
Comment[nl]=Eenvoudige afbeeldingenviewer vriendelijk voor aanraakscherm
Comment[nn]=Enkel trykkskjerm-vennleg biletvisar
Comment[pl]=Prosta przeglądarka obrazów przyjazna ekranom dotykowym
Comment[pt]=Visualizador de imagens simples e amigável por toque
Comment[pt_BR]=Visualizador de imagens simples e amigável por toque
Comment[sk]=Jednoduchý prehliadač obrázkov priateľský s dotykovými obrazovkami
Comment[sl]=Preprost pregledovalnik slik, ki je prijazen do zaslonov na dotik
Comment[sv]=Enkel pekskärmsvänlig bildvisare
Comment[tr]=Dokunmatik ekrana uygun resim gösterici
Comment[uk]=Проста сенсорна програма для перегляду зображень
Comment[wa]=Åjhey håyneu d' imådje amishtåve avou les waitroûles a toutchî
Comment[x-test]=xxTouchscreen friendly simple image viewerxx
Comment[zh_CN]=触摸屏友好的简单图片浏览器
Comment[zh_TW]=適用於觸控面板的友善簡易影像檢視器
Encoding=UTF-8
Type=Service
Icon=active-image-viewer
X-KDE-ServiceTypes=Active/FileBrowserPart
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.imageviewerpart
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ViewerPage.qml
MimeTypes=image/gif,image/jpeg,image/png,image/bmp,image/x-eps,image/x-ico,image/x-portable-bitmap,image/x-portable-graymap,image/x-portable-pixmap,image/x-xbitmap,image/x-xpixmap,
ResourceTypes=nfo:Image
SupportedComponents=Browser,Viewer
