[Desktop Entry]
Name=Video Player
Name[cs]=Přehrávač videa
Name[da]=Videoafspiller
Name[de]=Video-Wiedergabe
Name[el]=Αναπαραγωγέας βίντεο
Name[es]=Reproductor de vídeo
Name[et]=Videomängija
Name[fi]=Videosoitin
Name[fr]=Lecteur vidéo
Name[hu]=Videolejátszó
Name[it]=Lettore video
Name[km]=កម្មវិធី​ចាក់​វីដេអូ
Name[nl]=Videospeler
Name[pa]=ਵਿਡੀਓ ਪਲੇਅਰ
Name[pl]=Odtwarzacz filmów
Name[pt]=Leitor de Vídeo
Name[pt_BR]=Reprodutor de vídeo
Name[sv]=Videospelare
Name[tr]=Video Oynatıcı
Name[ug]=سىن قويغۇچ
Name[uk]=Програвач відеофайлів
Name[wa]=Djouweu videyo
Name[x-test]=xxVideo Playerxx
Name[zh_CN]=视频播放器
Name[zh_TW]=影像播放器
Comment=Touchscreen friendly simple video player
Comment[da]=Simpel touchskærm-venlig videoafspiller
Comment[el]=Φιλικός σε οθόνες αφής απλός αναπαραγωγέας βίντεο
Comment[es]=Reproductor de vídeo sencillo para pantallas táctiles
Comment[et]=Puuteekraanisõbralik lihtne videomängija
Comment[fr]=Lecteur vidéo simple et convivial avec écran tactile
Comment[hu]=Érintésbarát, egyszerű videolejátszó
Comment[it]=Un lettore video per i tablet sensibili al tocco
Comment[km]=កម្មវិធី​ចាក់​វីដេអូ​ធម្មតា​ការ​ប៉ះ​អេក្រង់​ដែល​ពេញ​និយម​
Comment[nl]=Eenvoudige videospeler vriendelijk voor aanraakschermen
Comment[pl]=Prosty odtwarzacz filmów przyjazny ekranom dotykowym
Comment[pt]=Leitor de vídeo simples e amigável por toque
Comment[pt_BR]=Reprodutor de vídeo simples e amigável por toque
Comment[sv]=Pekskärmsvänlig enkel videospelare
Comment[tr]=Dokunmatik ekrana uygun basit bir video oynatıcı
Comment[uk]=Проста сенсорна програма для перегляду відео
Comment[wa]=Åjhey djouweu d' videyos amishtåve avou les waitroûles a toutchî
Comment[x-test]=xxTouchscreen friendly simple video playerxx
Comment[zh_CN]=触摸屏友好的简单视频播放器
Comment[zh_TW]=適用於觸控面板的友善簡易影像播放器
Encoding=UTF-8
Type=Service
Icon=active-video-player
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.videoplayer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/videoplayer.qml
