[Desktop Entry]
Name=Screen
Name[da]=Skærm
Name[el]=Οθόνη
Name[es]=Pantalla
Name[et]=Ekraan
Name[fr]=Écran
Name[hu]=Képernyő
Name[km]=អេក្រង់
Name[nl]=Scherm
Name[pa]=ਸਕਰੀਨ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Tela
Name[sv]=Bildskärm
Name[tr]=Ekran
Name[uk]=Екран
Name[wa]=Waitroûle
Name[x-test]=xxScreenxx
Name[zh_TW]=螢幕
Comment=Lock, Sleep, Timeout
Comment[da]=Lås, slumre, tidsudløb
Comment[el]=Κλείδωμα, ύπνωση, τέλος χρόνου
Comment[et]=Lukustus, uni, ajaületus
Comment[fr]=Verrou, mise en sommeil, temps imparti
Comment[hu]=Zárolás, Felfüggesztés, Várakozási idő
Comment[km]=ចាក់សោ ដេក អស់​ពេល
Comment[nl]=Vergrendelen, slapen, tijdsoverschrijding
Comment[pl]=Zablokuj, Uśpij, Czas oczekiwania
Comment[pt]=Bloquear, Suspender, Tempo-Limite
Comment[pt_BR]=Bloquear, Suspender, Tempo-Limite
Comment[sv]=Lås, viloläge, tidsgräns
Comment[tr]=Kilitle, Uyku Kipi, Zamanaşımı
Comment[uk]=Блокування, присипляння, час очікування
Comment[wa]=Eclawer, doirmi, astådje
Comment[x-test]=xxLock, Sleep, Timeoutxx
Comment[zh_TW]=鎖定，休眠，逾時

Encoding=UTF-8
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.powermanagement
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Power management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/Power.qml
