[Desktop Entry]
Name=Screen
Name[da]=Skærm
Name[es]=Pantalla
Name[nl]=Scherm
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Tela
Name[sv]=Bildskärm
Name[tr]=Ekran
Name[uk]=Екран
Name[x-test]=xxScreenxx
Name[zh_TW]=螢幕
Comment=Lock, Sleep, Timeout
Comment[nl]=Vergrendelen, slapen, tijdsoverschrijding
Comment[pl]=Zablokuj, Uśpij, Czas oczekiwania
Comment[pt]=Bloquear, Suspender, Tempo-Limite
Comment[pt_BR]=Bloquear, Suspender, Tempo-Limite
Comment[tr]=Kilitle, Uyku Kipi, Zamanaşımı
Comment[uk]=Блокування, присипляння, час очікування
Comment[x-test]=xxLock, Sleep, Timeoutxx

Encoding=UTF-8
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.powermanagement
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Power management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/Power.qml
