[Desktop Entry]
Name=Configuration Test
Name[da]=Konfigurationstest
Name[el]=Δοκιμή διαμόρφωσης
Name[es]=Prueba de configuración
Name[et]=Seadistuste test
Name[fr]=Test de configuration
Name[gl]=Proba de configuración
Name[hu]=Beállításteszt
Name[it]=Test di configurazione
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​សាកល្បង
Name[nb]=Oppsettstest
Name[nl]=Test van instellingen
Name[pa]=ਸੰਰਚਨਾ ਟੈਸਟ
Name[pl]=Test konfiguracji
Name[pt]=Teste de Configuração
Name[pt_BR]=Teste de configuração
Name[sl]=Preizkus nastavitev
Name[sv]=Inställningstest
Name[tr]=Yapılandırma Testi
Name[uk]=Перевірка налаштувань
Name[wa]=Assaye di l' apontiaedje
Name[x-test]=xxConfiguration Testxx
Name[zh_TW]=設定測試
Comment=Config QML Bindings
Comment[da]=Konfigurér QML-bindinger
Comment[el]=Διαμόρφωση QML δεσμεύσεων
Comment[es]=Configurar vínculos QML
Comment[et]=QML-i seoste seadistamine
Comment[fr]=Configuration des liaisons QML
Comment[gl]=Configurar as asociacións de QML.
Comment[hu]=QML kötések beállítása
Comment[it]=Associazioni configurazione QML
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ QML Bindings
Comment[nb]=Sett opp QML-bindinger
Comment[nl]=QML-bindingen instellen
Comment[pl]=Konfiguruj powiązania QML
Comment[pt]=Configuração as Interfaces de QML
Comment[pt_BR]=Configuração as Interfaces de QML
Comment[sl]=Nastavitev vezi QML
Comment[sv]=Anpassa QML-bindningar
Comment[tr]=QML Bağlayıcıları Yapılandırması
Comment[uk]=Налаштування прив’язок QML
Comment[wa]=Assoçnaedjes d' apontiaedje QML
Comment[x-test]=xxConfig QML Bindingsxx
Comment[zh_TW]=設定 QML 結合
Encoding=UTF-8
Type=Service
Icon=applications-development
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.configtest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Package=org.kde.active.settings.configtest
X-Plasma-MainScript=ui/ConfigTest.qml
