[Desktop Entry]
Encoding=UTF-8
Name=Quick Dialer (QML)
Name[pt]=Marcação Rápida (QML)
Name[pt_BR]=Discador rápido (QML)
Name[sv]=Snabbuppringning (QML)
Name[uk]=Швидкий набір (QML)
Name[x-test]=xxQuick Dialer (QML)xx
Type=Service
ServiceTypes=Plasma/Applet
Icon=internet-telephony
X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=org.kde.quickdialer-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Phone
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DefaultSize=400,420
