# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Caffeine
Name[az]=Caffeine
Name[ca]=Caffeine
Name[ca@valencia]=Caffeine
Name[cs]=Caffeine
Name[en_GB]=Caffeine
Name[es]=Cafeína
Name[eu]=Caffeine
Name[fi]=Caffeine
Name[fr]=Caffeine
Name[hi]=कैफीन
Name[hu]=Caffeine
Name[ia]=Caffeine
Name[it]=Caffeina
Name[ka]=კაფეინი
Name[ko]=카페인
Name[nl]=Cafeïne
Name[nn]=Caffeine
Name[pl]=Kofeina
Name[pt]=Cafeína
Name[pt_BR]=Cafeína
Name[ro]=Cafeină
Name[ru]=Caffeine
Name[sk]=Kofeín
Name[sl]=Caffeine
Name[sv]=Koffein
Name[tr]=Caffeine
Name[uk]=Кофеїн
Name[x-test]=xxCaffeinexx
Name[zh_CN]=Caffeine
Icon=system-suspend-hibernate

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.caffeine
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL


