[Desktop Entry]
Comment=
Encoding=UTF-8
Icon=network-connect
Keywords=
Name=Network connections (connman)
Name[da]=Netværksforbindelser (connman)
Name[de]=Netzwerkverbindungen (connman)
Name[el]=Δικτυακές συνδέσεις (conman)
Name[es]=Conexiones de red (connman)
Name[et]=Võrguühendused (connman)
Name[fr]=Connexions réseau (connman)
Name[km]=ការ​តភ្ជាប់​បណ្ដាញ (connman)
Name[nl]=Netwerkverbindingen (connman)
Name[pl]=Połączenia sieciowe (connman)
Name[pt]=Ligações de rede (connman)
Name[pt_BR]=Conexões de rede (connman)
Name[sv]=Nätverksanslutning (connman)
Name[tr]=Ağ bağlantıları (connman)
Name[uk]=Мережні з’єднання (connman)
Name[x-test]=xxNetwork connections (connman)xx
Name[zh_CN]=网络连接 (connman)
Name[zh_TW]=網路連線（connman）
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=Apache
X-KDE-PluginInfo-Name=org.kde.active.connman
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
