[Desktop Entry]
Comment=
Encoding=UTF-8
Icon=network-connect
Keywords=
Name=Network connections (connman)
Name[pt]=Ligações de rede (connman)
Name[uk]=Мережні з’єднання (connman)
Name[x-test]=xxNetwork connections (connman)xx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=Apache
X-KDE-PluginInfo-Name=org.kde.active.connman
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
