# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Folio
Description=Application launcher with an app drawer and customizable pages.
Type=Service

X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-KDE-Library=plasma_homescreen_folio
X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.phone.homescreen.folio
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.phone.homescreen
