[Desktop Entry]
Name=Mobile Fiber
Name[da]=Mobil fiber
Name[el]=Mobile Fiber
Name[et]=Mobile Fiber
Name[fr]=Fibre mobile
Name[km]=សរសៃ​អំបោះ​ចល័ត
Name[nl]=Mobiel Fiber
Name[pl]=Mobile Fiber
Name[pt]=Fibra Móvel
Name[pt_BR]=Fibra móvel
Name[sv]=Mobil fiber
Name[tr]=Mobile Fiber
Name[uk]=Мобільне волокно
Name[x-test]=xxMobile Fiberxx
Name[zh_TW]=行動裝置用的 Fiber 主題
X-KDE-PluginInfo-Name=Fiber
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=LGPLv3
