[Desktop Entry]
Encoding=UTF-8
Name=Mobile Panel
Name[ca]=Plafó mòbil
Name[ca@valencia]=Plafó mòbil
Name[da]=Mobilpanel
Name[de]=Kontrollleiste für Mobile
Name[el]=Mobile Panel
Name[en_GB]=Mobile Panel
Name[es]=Panel móvil
Name[fr]=Panneau mobile
Name[gl]=Panel móbil
Name[ko]=모바일 패널
Name[nl]=Paneel voor mobiel
Name[pl]=Panel mobilny
Name[pt]=Painel Móvel
Name[pt_BR]=Painel móvel
Name[sk]=Mobilný panel
Name[sl]=Pult za Mobile
Name[sv]=Mobil panel
Name[tr]=Mobil Panel
Name[uk]=Мобільна панель
Name[x-test]=xxMobile Panelxx
Name[zh_CN]=移动面板
Name[zh_TW]=行動面板
Comment=A system tray applet for mobile shell
Comment[bs]=Programčić u sistemskom tray za mobilne školjke
Comment[ca]=Una miniaplicació de safata del sistema per a l'àrea de treball del mòbil
Comment[ca@valencia]=Una miniaplicació de safata del sistema per a l'àrea de treball del mòbil
Comment[da]=En statusområde-applet til Mobil-skallen
Comment[de]=Mobile-Shell-Miniprogramm im Systemabschnitt der Kontrollleiste
Comment[el]=Μικροεφαρμογή πλαισίου συστήματος για κέλυφος κινητού
Comment[en_GB]=A system tray applet for mobile shell
Comment[es]=Una miniaplicación de la bandeja del sistema para entornos móviles
Comment[et]=Süsteemisalve aplett mobiilile
Comment[fr]=Une applet de boîte à miniatures pour une console de réseau mobile
Comment[gl]=Un miniaplicativo de área de notificación para intérpretes de ordes móbiles.
Comment[hu]=Egy paneltálca a mobil felülethez
Comment[it]=Applet per il vassoio di sistema mobile
Comment[kk]=Ұялыға арналған жүйелік сөре апплеті
Comment[km]=ថាស​ប្រព័ន្ធ​អាប់ភ្លេត​សម្រាប់​សែល​ចល័ត
Comment[ko]=모바일 셸을 위한 시스템 트레이 애플릿
Comment[nb]=Et systemkurv-miniprogram for mobilt skall
Comment[nds]=En Systeemafsnitt-Lüttprogramm för de Mobil-Konsool
Comment[nl]=Een systeemvak-applet voor de mobiele shell
Comment[pa]=ਮੋਬਾਇਲ ਸੈੱਲ ਲਈ ਸਿਸਟਮ ਟਰੇ ਐਪਲਿਟ
Comment[pl]=Aplet tacki systemowej dla powłoki Mobile
Comment[pt]=Uma 'applet' da bandeja para a área de trabalho móvel
Comment[pt_BR]=Um miniaplicativo de área de notificação para a área de trabalho móvel
Comment[sk]=Applet systémovej lišty pre mobilný shell
Comment[sl]=Aplet sistemske vrstice za lupino za Mobile
Comment[sv]=Ett miniprogram för systembrickan i mobila skal
Comment[tr]=Mobil kabuk için sistem çekmecesi gereci
Comment[uk]=Аплет системного лотка для командної оболонки керування мобільним телефоном
Comment[wa]=Ene boesse ås imådjetes sistinme pol shell axhlåve
Comment[x-test]=xxA system tray applet for mobile shellxx
Comment[zh_CN]=用于移动外壳的系统托盘小程序
Comment[zh_TW]=Mobile shell 使用的系統匣
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.activepanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ContainmentType=Panel
