[Desktop Entry]
Name=Development
Name[da]=Udvikling
Name[de]=Entwicklung
Name[el]=Ανάπτυξη
Name[et]=Arendus
Name[hu]=Fejlesztés
Name[nl]=Ontwikkeling
Name[pl]=Programistyczne
Name[pt]=Desenvolvimento
Name[pt_BR]=Desenvolvimento
Name[sk]=Vývoj
Name[sl]=Razvoj
Name[sv]=Utveckling
Name[uk]=Розробка
Name[wa]=Diswalpaedje
Name[x-test]=xxDevelopmentxx
Name[zh_TW]=開發
Comment=Settings for developers
Comment[da]=Indstillinger for udviklere
Comment[de]=Einstellungen für Entwickler
Comment[el]=Ρυθμίσεις για προγραμματιστές
Comment[et]=Seadistused arendajatele
Comment[hu]=Beállítások fejlesztőknek
Comment[nl]=Instellingen voor ontwikkelaars
Comment[pl]=Ustawienia dla programistów
Comment[pt]=Configuração dos programadores
Comment[pt_BR]=Configurações para desenvolvedores
Comment[sl]=Nastavitve za razvijalce
Comment[sv]=Inställningar för utvecklare
Comment[uk]=Параметри для розробників
Comment[wa]=Apontiaedjes po les diswalpeus
Comment[x-test]=xxSettings for developersxx
Comment[zh_TW]=開發者設定
Encoding=UTF-8
Type=Service
Icon=applications-development
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_devel
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.development
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Package=org.kde.active.settings.development
X-Plasma-MainScript=ui/devel.qml
