[Desktop Entry]
Comment=Testing display of Nepomuk Resources
Comment[et]=Nepomuki ressursside kuvamise test
Comment[fr]=Test d'affichage des ressources Nepomuk
Comment[km]=សាកល្បង​ទិដ្ឋភាព​របស់​ប្រភព​ Nepomuk
Comment[nl]=Testen van tonen van Nepomuk-hulpbronnen
Comment[pl]=Testowanie wyświetlania zasobów Nepomuk
Comment[pt]=A testar a visualização dos Recursos do Nepomuk
Comment[pt_BR]=Testando a visualização dos Recursos do Nepomuk
Comment[sv]=Testar visning av Nepomuk-resurser
Comment[uk]=Тестовий показ ресурсів Nepomuk
Comment[x-test]=xxTesting display of Nepomuk Resourcesxx
Encoding=UTF-8
Keywords=Online Services, Web
Keywords[et]=Võrguteenused, veeb
Keywords[fr]=Services en ligne, Web
Keywords[km]=សេវាកម្ម​លើ​បណ្ដាញ បណ្ដាញ
Keywords[nl]=Online-diensten, web
Keywords[pl]=Usługi online, internetowe
Keywords[pt]=Serviços 'Online', Web
Keywords[pt_BR]=Serviços on-line, Web
Keywords[sv]=Nättjänster, webb
Keywords[uk]=Служби мережі, інтернет
Keywords[x-test]=xxOnline Services, Webxx
Name=Resources List
Name[et]=Ressursiloend
Name[fr]=Liste des ressources
Name[km]=បញ្ជី​ប្រភព
Name[nl]=Lijst met hulpbronnen
Name[pl]=Lista zasobów
Name[pt]=Lista de Recursos
Name[pt_BR]=Lista de recursos
Name[sv]=Resurslista
Name[uk]=Список ресурсів
Name[x-test]=xxResources Listxx
Type=Service
Icon=nepomuk
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.resourcelist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://vizZzion.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=code/ResourceList.qml
X-Plasma-RemoteLocation=
