[Desktop Entry]
Name=Alarms
Comment=A tool to setup visual and audio alarms for tablets

Exec=export PLASMA_CUSTOM_PREFIX_PATHS=platformcontents/application/generic/:platformcontents/application/tablet/:contents/ && plasma-windowed -graphicssystem raster org.kde.active.alarms
Terminal=false
Icon=kalarm
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;