[Desktop Entry]
Name=Alarms
Name[cs]=Alarmy
Name[da]=Alarmer
Name[fr]=Alarmes
Name[hu]=Riasztások
Name[it]=Avvisi
Name[nl]=Herinneringen
Name[pt]=Alarmes
Name[pt_BR]=Alarmes
Name[sl]=Alarmi
Name[sv]=Alarm
Name[uk]=Нагадування
Name[x-test]=xxAlarmsxx
Comment=A tool to setup visual and audio alarms for tablets
Comment[da]=Et værktøj til at sætte visuelle og lydalarmer op til tablet-pc'er
Comment[fr]=Un outil pour configurer des alarmes audio et vidéo pour les tablettes
Comment[hu]=Egy eszköz látható és hangriasztások beállításához tabletekhez
Comment[it]=Uno strumento per impostare allarmi, visivi e audio, per tablet
Comment[nl]=Een hulpmiddel om visuele en geluidsherinneringen voor tablets in te stellen
Comment[pt]=Uma ferramenta para configurar alarmes visuais e sonoros nas tabletes
Comment[pt_BR]=Ferramenta para configurar alarmes visuais e de áudio para tablets
Comment[sl]=Orodje za nastavitev vidnih in zvočnih alarmov za tablice
Comment[sv]=Ett verktyg för att ställa in synliga och hörbara alarm för läsplattor
Comment[uk]=Програма для налаштовування візуальних та звукових нагадувань для планшетів
Comment[x-test]=xxA tool to setup visual and audio alarms for tabletsxx

Exec=export PLASMA_CUSTOM_PREFIX_PATHS=platformcontents/application/generic/:platformcontents/application/tablet/:contents/ && plasma-windowed -graphicssystem raster org.kde.active.alarms
Terminal=false
Icon=kalarm-active
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
