[Desktop Entry]
Encoding=UTF-8
Name=Alarms
Name[ast]=Alarmes
Name[bs]=Alarmi
Name[ca]=Alarmes
Name[ca@valencia]=Alarmes
Name[cs]=Alarmy
Name[da]=Alarmer
Name[de]=Erinnerungen
Name[el]=Συναγερμοί
Name[en_GB]=Alarms
Name[es]=Alarmas
Name[et]=Häired
Name[fi]=Hälytykset
Name[fr]=Alarmes
Name[ga]=Aláraim
Name[gl]=Alarmas
Name[hu]=Riasztások
Name[it]=Avvisi
Name[kk]=Ескертулер
Name[ko]=알람
Name[lt]=Priminimai
Name[mr]=एलार्म्स
Name[nb]=Varslinger
Name[nds]=Alarms
Name[nl]=Herinneringen
Name[pl]=Alarmy
Name[pt]=Alarmes
Name[pt_BR]=Alarmes
Name[ro]=Alarme
Name[sk]=Alarmy
Name[sl]=Alarmi
Name[sv]=Alarm
Name[tr]=Alarmlar
Name[ug]=قوڭغۇراقلار
Name[uk]=Нагадування
Name[wa]=Xhîletes
Name[x-test]=xxAlarmsxx
Name[zh_TW]=鬧鐘
Comment=Alarms setup tool
Comment[bs]=Alat za postavljanje alarma
Comment[ca]=Eina per a configurar alarmes
Comment[ca@valencia]=Eina per a configurar alarmes
Comment[cs]=Nástroj pro nastavení upomínek
Comment[da]=Opsætningsværktøj til alarmer
Comment[de]=Einrichtungsprogramm für Erinnerungen
Comment[el]=Εργαλείο ρύθμισης συναγερμών
Comment[en_GB]=Alarms setup tool
Comment[es]=Herramienta para configurar alarmas
Comment[et]=Häirete seadistamise tööriist
Comment[fr]=Outil de configuration des alarmes
Comment[gl]=Ferramenta de configuración de alarmas.
Comment[hu]=Riasztások beállító eszköz
Comment[it]=Strumento per impostare avvisi
Comment[kk]=Ескертулер орнату құралы
Comment[ko]=알람 설정 도구
Comment[nb]=Oppsettsverktøy for varslinger
Comment[nds]=Alarm-Opstellwarktüüch
Comment[nl]=Hulpmiddel voor instellen van herinneringen
Comment[pl]=Narzędzie ustawiania alarmów
Comment[pt]=Ferramenta de configuração de alarmes
Comment[pt_BR]=Ferramenta de configuração de alarmes
Comment[ro]=Unealtă de configurare a alarmelor
Comment[sk]=Nástroj na nastavenie alarmov
Comment[sl]=Orodje za nastavitev alarmov
Comment[sv]=Verktyg för alarminställning
Comment[tr]=Alarm ayarlama aracı
Comment[ug]=قوڭغۇراقلارنى بېكىتىش قورالى
Comment[uk]=Програма для налаштовування нагадувань
Comment[wa]=Usteye d' apontiaedje des xhîletes
Comment[x-test]=xxAlarms setup toolxx
Comment[zh_TW]=鬧鐘設定工具

Type=Service
Icon=kalarm-active
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.alarms
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=300,500
X-Plasma-MainScript=ui/main.qml

