[Desktop Entry]
Encoding=UTF-8
Name=Alarms
Name[cs]=Alarmy
Name[da]=Alarmer
Name[el]=Συναγερμοί
Name[fr]=Alarmes
Name[hu]=Riasztások
Name[it]=Avvisi
Name[nl]=Herinneringen
Name[pt]=Alarmes
Name[pt_BR]=Alarmes
Name[sl]=Alarmi
Name[sv]=Alarm
Name[uk]=Нагадування
Name[x-test]=xxAlarmsxx
Name[zh_TW]=鬧鐘
Comment=Alarms setup tool
Comment[da]=Opsætningsværktøj til alarmer
Comment[el]=Εργαλείο ρύθμισης συναγερμών
Comment[fr]=Outil de configuration d'alarmes
Comment[hu]=Riasztások beállító eszköz
Comment[it]=Strumento per impostare allarmi
Comment[nl]=Hulpmiddel voor instellen van herinneringen
Comment[pt]=Ferramenta de configuração de alarmes
Comment[pt_BR]=Ferramenta de configuração de alarmes
Comment[sl]=Orodje za nastavitev alarmov
Comment[sv]=Verktyg för alarminställning
Comment[uk]=Програма для налаштовування нагадувань
Comment[x-test]=xxAlarms setup toolxx
Comment[zh_TW]=鬧鐘設定工具

Type=Service
Icon=kalarm-active
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.alarms
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=300,500
X-Plasma-MainScript=ui/main.qml

