[Desktop Entry]
Encoding=UTF-8
Name=Alarms
Name[da]=Alarmer
Name[nl]=Herinneringen
Name[pt]=Alarmes
Name[pt_BR]=Alarmes
Name[uk]=Нагадування
Name[x-test]=xxAlarmsxx
Comment=Alarms setup tool
Comment[da]=Opsætningsværktøj til alarmer
Comment[nl]=Hulpmiddel voor instellen van herinneringen
Comment[pt]=Ferramenta de configuração de alarmes
Comment[pt_BR]=Ferramenta de configuração de alarmes
Comment[uk]=Програма для налаштовування нагадувань
Comment[x-test]=xxAlarms setup toolxx

Type=Service
Icon=kalarm
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.alarms
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=300,500
X-Plasma-MainScript=ui/main.qml

