[Desktop Entry]
Exec=mobilebusynotifier
X-DBUS-StartupType=wait
Name=Mobile busy notifier


Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

