[Desktop Entry]
Exec=mobilebusynotifier
X-DBUS-StartupType=wait
Name=Mobile busy notifier
Name[nl]=Notificatie van Mobiel bezet
Name[pt]=Notificação de ocupação móvel
Name[pt_BR]=Notificação de móvel ocupado
Name[sv]=Mobil upptagetunderrättelse
Name[x-test]=xxMobile busy notifierxx


Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

