[Desktop Entry]
Name=Videos
Name[cs]=Videa
Name[da]=Videoer
Name[es]=Vídeos
Name[nl]=Video's
Name[pl]=Filmy
Name[pt]=Vídeos
Name[pt_BR]=Vídeos
Name[sk]=Videá
Name[sv]=Videor
Name[tr]=Videolar
Name[uk]=Відео
Name[x-test]=xxVideosxx
GenericName=Video player
GenericName[cs]=Video přehrávač
GenericName[da]=Videoafspiller
GenericName[es]=Reproductor de vídeo
GenericName[nl]=Videospeler
GenericName[pl]=Odtwarzacz filmów
GenericName[pt]=Leitor de vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[sv]=Videospelare
GenericName[tr]=Video oynatıcı
GenericName[uk]=Програвач відеофайлів
GenericName[x-test]=xxVideo playerxx
Comment=A video player for touch tablets
Comment[da]=En videoafspiller til tablet-pc'er med touchskærm
Comment[es]=Un reproductor de vídeo para tabletas táctiles
Comment[nl]=Een videospeler voor aanraaktablets
Comment[pl]=Odtwarzacz filmów dla tabletów dotykowych
Comment[pt]=Um leitor de vídeo para tabletes por toque
Comment[pt_BR]=Um reprodutor de vídeo para tablets
Comment[sv]=En videospelare för läsplattor
Comment[tr]=Dokunmatik tabletler için bir video oynatıcı
Comment[uk]=Програма для перегляду відео на сенсорних планшетах
Comment[x-test]=xxA video player for touch tabletsxx

Exec=active-videoplayer -graphicssystem raster %u
Terminal=false
Icon=active-video-player
Type=Application
Categories=Qt;KDE;AudioVideo;Player;
MimeType=inode/directory;video/mpeg;
