# SPDX-FileCopyrightText: 2022 Aleix Pol <aleixpol@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Screenshot
Name[az]=Ekran şəkli
Name[ca]=Captura de pantalla
Name[ca@valencia]=Captura de pantalla
Name[cs]=Snímek obrazovky
Name[en_GB]=Screenshot
Name[es]=Captura de pantalla
Name[eu]=Pantaila-argazkia
Name[fi]=Ruutukaappaus
Name[fr]=Copie d'écran
Name[ia]=Instantanee de schermo
Name[it]=Schermata
Name[ka]=ეკრანის ანაბეჭდი
Name[ko]=스크린샷
Name[nl]=Schermafdruk
Name[pa]=ਸਕਰੀਨਸ਼ਾਟ
Name[pl]=Zrzut ekranu
Name[pt]=Captura
Name[pt_BR]=Captura de tela
Name[ro]=Captură de ecran
Name[sk]=Snímka obrazovky
Name[sl]=Slika zaslona
Name[sv]= Skärmbild
Name[tr]=Ekran görüntüsü
Name[uk]=Знімок вікна
Name[x-test]=xxScreenshotxx
Name[zh_CN]=屏幕截图
Icon=spectacle

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Aleix Pol i Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.record
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+
