[Desktop Entry]
Encoding=UTF-8
Name=Widget Example (QML)
Name[en_GB]=Widget Example (QML)
Name[es]=Elemento gráfico de ejemplo (QML)
Name[et]=Vidina näidis (QML)
Name[fr]=Exemple de gagdet graphique (QML)
Name[km]=គំរូ​ធាតុក្រាហ្វិក (QML)
Name[pa]=ਵਿਦਜੈੱਟ ਉਦਾਹਰਨ (QML)
Name[pt]=Exemplo de Elemento (QML)
Name[pt_BR]=Exemplo de elemento (QML)
Name[sv]=Exempel på grafisk komponent (QML)
Name[th]=ตัวอย่างวิดเจ็ต (QML)
Name[uk]=Приклад віджета (QML)
Name[x-test]=xxWidget Example (QML)xx
Comment=A kineticqml scriptengine test
Comment[en_GB]=A kineticqml scriptengine test
Comment[es]=Una prueba del motor de script de kineticqml
Comment[et]=kineticqml skriptimootori test
Comment[fr]=Le test de moteur de script kineticqml
Comment[km]=ការ​សាកល្បង kineticqml scriptengine
Comment[pt]=Um teste do motor de programação 'kineticqml'
Comment[pt_BR]=Um teste do motor de programação 'kineticqml'
Comment[sv]=Test av skriptgränssnittet kinetisk QML
Comment[tr]=Bir kineticqml betik motoru testi
Comment[uk]=Тест скриптового рушія kineticqml
Comment[x-test]=xxA kineticqml scriptengine testxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Alan Alpert
X-KDE-PluginInfo-Email=alan.alpert@nokia.com
X-KDE-PluginInfo-Name=qmlwidgets
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
