[Desktop Entry]
Encoding=UTF-8
Name=Widget Example (QML)
Name[nl]=Voorbeeld van widget (QML)
Name[pt]=Exemplo de Elemento (QML)
Name[pt_BR]=Exemplo de widget (QML)
Name[sv]=Exempel på grafisk komponent (QML)
Name[uk]=Приклад віджета (QML)
Name[x-test]=xxWidget Example (QML)xx
Comment=A kineticqml scriptengine test
Comment[nl]=Een test voor kineticqml scriptengine
Comment[pt]=Um teste de programação em kineticqml
Comment[pt_BR]=Um teste de programação em kineticqml
Comment[sv]=Test av skriptgränssnittet kinetisk QML
Comment[uk]=Тест скриптового рушія kineticqml
Comment[x-test]=xxA kineticqml scriptengine testxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Alan Alpert
X-KDE-PluginInfo-Email=alan.alpert@nokia.com
X-KDE-PluginInfo-Name=qmlwidgets
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
