[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=mobilemenu
Name[nl]=mobieltje-menu
Name[pt]=Menu Móvel
Name[sv]=Mobilmeny
Name[uk]=Мобільне меню
Name[x-test]=xxmobilemenuxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=mobilemenu
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/mobilemenu.qml
X-Plasma-RemoteLocation=
