[Desktop Entry]
Name=Recommendations
Name[da]=Anbefalinger
Name[de]=Empfehlungen
Name[el]=Συστάσεις
Name[es]=Recomendaciones
Name[fi]=Suositukset
Name[fr]=Recommendations
Name[gl]=Recomendacións
Name[hu]=Javaslatok
Name[kk]=Кеңестер
Name[lt]=Rekomendacijos
Name[nb]=Anbefalinger
Name[nl]=Aanbevelingen
Name[pl]=Zalecenia
Name[pt]=Recomendações
Name[pt_BR]=Recomendações
Name[sk]=Odporúčania
Name[sl]=Priporočeno
Name[sv]=Rekommendationer
Name[tr]=Önerilenler
Name[ug]=تەۋسىيە قىلىنغان بوغچىلار
Name[uk]=Поради
Name[x-test]=xxRecommendationsxx
Name[zh_TW]=推薦的項目
Comment=Contour Recommendations dataengine
Comment[da]=Anbefalingsdatamotor til Contour
Comment[el]=Μηχανή δεδομένων συστάσεων του Contour
Comment[es]=Motor de datos de recomendaciones para Contour
Comment[fr]=Moteur de données de recommandations pour Contour
Comment[gl]=Motor de datos de recomendacións do Contour
Comment[hu]=Contour javaslatok adatmotor
Comment[kk]=Contour-ға лайықты деректер тетігі
Comment[nb]=Contour datamotor for anbefalinger
Comment[nl]=Gegevens-engine voor aanbevelingen voor omranding
Comment[pl]=Silnik danych zaleceń Contour
Comment[pt]=Motor de dados de recomendações do Contour
Comment[pt_BR]=Mecanismo de dados de recomendações do Contour
Comment[sk]=Dátový engine odporúčaní Contour
Comment[sl]=Podatkovni pogon za priporočeno za Contour
Comment[sv]=Contour datagränssnitt för rekommendationer
Comment[tr]=Contour Öneriler veri motoru
Comment[uk]=Рушій даних порад Contour
Comment[x-test]=xxContour Recommendations dataenginexx
Comment[zh_TW]=Contour 推薦資料引擎

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=nepomuk
X-KDE-Library=plasma_engine_recommendations

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.recommendations
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

