[Desktop Entry]
Name=Recommendations
Name[bs]=Preporuke
Name[ca]=Recomanacions
Name[ca@valencia]=Recomanacions
Name[da]=Anbefalinger
Name[de]=Vorschläge
Name[el]=Συστάσεις
Name[en_GB]=Recommendations
Name[es]=Recomendaciones
Name[fi]=Suositukset
Name[fr]=Recommendations
Name[gl]=Recomendacións
Name[hu]=Javaslatok
Name[it]=Suggerimenti
Name[kk]=Кеңестер
Name[ko]=추천
Name[lt]=Rekomendacijos
Name[nb]=Anbefalinger
Name[nds]=Vörslääg
Name[nl]=Aanbevelingen
Name[pl]=Zalecenia
Name[pt]=Recomendações
Name[pt_BR]=Recomendações
Name[sk]=Odporúčania
Name[sl]=Priporočeno
Name[sv]=Rekommendationer
Name[tr]=Önerilenler
Name[ug]=تەۋسىيە قىلىنغان بوغچىلار
Name[uk]=Поради
Name[x-test]=xxRecommendationsxx
Name[zh_CN]=推荐
Name[zh_TW]=推薦的項目
Comment=Contour Recommendations dataengine
Comment[bs]=Contour preporučeni podaci mašine
Comment[ca]=Motor de dades de recomanacions per a Contour
Comment[ca@valencia]=Motor de dades de recomanacions per a Contour
Comment[da]=Anbefalingsdatamotor til Contour
Comment[de]=Contour-Datentreiber für Vorschläge
Comment[el]=Μηχανή δεδομένων συστάσεων του Contour
Comment[en_GB]=Contour Recommendations dataengine
Comment[es]=Motor de datos de recomendaciones para Contour
Comment[fr]=Moteur de données de recommandations pour Contour
Comment[gl]=Motor de datos de recomendacións do Contour
Comment[hu]=Contour javaslatok adatmotor
Comment[it]=Motore dati dei suggerimenti di Contour
Comment[kk]=Contour-ға лайықты деректер тетігі
Comment[ko]=Contour 추천 데이터 엔진
Comment[nb]=Contour datamotor for anbefalinger
Comment[nds]=Contour sien Vörslag-Datenkarn
Comment[nl]=Gegevens-engine voor aanbevelingen voor omranding
Comment[pl]=Silnik danych zaleceń Contour
Comment[pt]=Motor de dados de recomendações do Contour
Comment[pt_BR]=Mecanismo de dados de recomendações do Contour
Comment[sk]=Dátový engine odporúčaní Contour
Comment[sl]=Podatkovni pogon za priporočeno za Contour
Comment[sv]=Contour datagränssnitt för rekommendationer
Comment[tr]=Contour Öneriler veri motoru
Comment[uk]=Рушій даних порад Contour
Comment[x-test]=xxContour Recommendations dataenginexx
Comment[zh_CN]=Contour 推荐数据引擎
Comment[zh_TW]=Contour 推薦資料引擎

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=nepomuk
X-KDE-Library=plasma_engine_recommendations

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.recommendations
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

