[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=plasma-mobile-homescreen
Name[nl]=plasma-mobile-homescreen
Name[pl]=ekrandomowy-plazma-mobile
Name[pt]=plasma-mobile-homescreen
Name[pt_BR]=plasma-mobile-homescreen
Name[sv]=Plasma hemskärm för mobil
Name[uk]=мобільна-домівка-плазми
Name[x-test]=xxplasma-mobile-homescreenxx
Type=Service

X-KDE-ServiceTypes=Plasma/GenericPackage
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
#FIXME: will be called org.kde.active.handheld-homescreen
X-KDE-PluginInfo-Name=plasma-mobile-homescreen
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/HomeScreen.qml
