[Desktop Entry]
Name=Preview
Name[cs]=Náhled
Name[es]=Vista previa
Name[nl]=Voorbeeld
Name[pt]=Antevisão
Name[sk]=Náhľad
Name[sv]=Förhandsgranskning
Name[uk]=Перегляд
Name[x-test]=xxPreviewxx
Comment=Shows previews for webpages
Comment[es]=Muestra vistas previas de páginas web
Comment[nl]=Toont voorbeelden van webpagina's
Comment[pt]=Mostra antevisões das páginas Web
Comment[sv]=Visar förhandsgranskningar av webbsidor
Comment[uk]=Показує мініатюри сторінок інтернету
Comment[x-test]=xxShows previews for webpagesxx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=image-x-generic
X-KDE-Library=plasma_engine_preview

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.preview
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=

