[Desktop Entry]
Name=Preview
Name[et]=Eelvaatlus
Name[nl]=Voorbeeld
Name[pt]=Antevisão
Name[pt_BR]=Visualização
Name[sv]=Förhandsgranskning
Name[uk]=Перегляд
Name[x-test]=xxPreviewxx
Comment=Shows previews for webpages
Comment[et]=Veebilehtede eelvaatluse näitamine
Comment[pt]=Mostra antevisões das páginas Web
Comment[pt_BR]=Mostra uma previsão das páginas Web
Comment[sv]=Visar förhandsgranskning av webbsidor
Comment[uk]=Показує мініатюри сторінок інтернету
Comment[x-test]=xxShows previews for webpagesxx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=preview
X-KDE-Library=plasma_engine_preview

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=preview
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=

