[Desktop Entry]
Name=Plasma Active Toolbox
Name[ca]=Quadre d'eines del Plasma Active
Name[es]=Caja de herramientas de Plasma Active
Name[fi]=Plasma Active -työkalupakki
Name[nl]=Actieve Plasma-hulpmiddelen
Name[pl]=Pasek narzędzi Plazma Active
Name[pt]=Ferramentas do Plasma Active
Name[pt_BR]=Barra de ferramentas do Plasma Active
Name[sl]=Orodjarna Plasma Active
Name[sv]=Plasma Active verktygslåda
Name[uk]=Набір інструментів портативної Плазми
Name[x-test]=xxPlasma Active Toolboxxx
Encoding=UTF-8

Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Generic

X-KDE-PluginInfo-Author=Antonis Tsiapaliokas
X-KDE-PluginInfo-Email=antonis.tsiapaliokas@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.activetoolbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.1

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/ToolBoxRoot.qml
X-Plasma-RemoteLocation=
