[Desktop Entry]
Name=Plasma Active Toolbox
Name[ca]=Quadre d'eines del Plasma Active
Name[ca@valencia]=Quadre d'eines del Plasma Active
Name[da]=Plasma Active værktøjskasse
Name[de]=Plasma-Active-Werkzeugkasten
Name[el]=Ενεργή Εργαλειοθήκη του Plasma
Name[en_GB]=Plasma Active Toolbox
Name[es]=Caja de herramientas de Plasma Active
Name[fi]=Plasma Active -työkalupakki
Name[fr]=Boîte à outils Plasma Active
Name[gl]=Barra de ferramentas de Plasma Active
Name[it]=Strumenti di Plasma Active
Name[ko]=Plasma Active 도구 상자
Name[nl]=Actieve Plasma-hulpmiddelen
Name[pl]=Pasek narzędzi Plazma Active
Name[pt]=Ferramentas do Plasma Active
Name[pt_BR]=Barra de ferramentas do Plasma Active
Name[sk]=Plasma Active Toolbox
Name[sl]=Orodjarna Plasma Active
Name[sv]=Plasma Active verktygslåda
Name[tr]=Plasma Active Araç Kutusu
Name[uk]=Набір інструментів портативної Плазми
Name[x-test]=xxPlasma Active Toolboxxx
Name[zh_CN]=Plasma Active 工具箱
Name[zh_TW]=Plasma Active 工具箱
Encoding=UTF-8

Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Generic

X-KDE-PluginInfo-Author=Antonis Tsiapaliokas
X-KDE-PluginInfo-Email=antonis.tsiapaliokas@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.activetoolbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.1

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/ToolBoxRoot.qml
X-Plasma-RemoteLocation=
