[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=Phonebook
Name[ast]=Axenda telefónica
Name[ca]=Guia telefònica
Name[ca@valencia]=Guia telefònica
Name[de]=Telefonbuch
Name[en_GB]=Phonebook
Name[es]=Listín telefónico
Name[fr]=Répertoire téléphonique
Name[gl]=Axenda telefónica
Name[it]=Rubrica
Name[nl]=Telefoonboek
Name[nn]=Telefonkatalog
Name[pl]=Książka telefoniczna
Name[pt]=Lista Telefónica
Name[sv]=Telefonkatalog
Name[tr]=Telefon Rehberi
Name[uk]=Телефонна книга
Name[x-test]=xxPhonebookxx
Name[zh_CN]=电话簿
Name[zh_TW]=通訊錄
Type=Application
Icon=system-users
Exec=kpackagelauncherqml -a org.kde.phone.phonebook
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.phonebook
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/GenericQML

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
