[Desktop Entry]
Name=Contour activity screen
Name[uk]=Сторінка простору дій Contour
Name[x-test]=xxContour activity screenxx
Comment=Categorized resources and widgets
Comment[uk]=Категоризований список ресурсів та віджетів
Comment[x-test]=xxCategorized resources and widgetsxx
Encoding=UTF-8


Type=Service
Icon=nepomuk
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.activityscreen
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentCategories=desktop
