[Desktop Entry]
Name=Contour activity screen
Name[bs]=Contour aktivni ekran
Name[ca]=Pantalla d'activitat Contour
Name[ca@valencia]=Pantalla d'activitat Contour
Name[da]=Contour aktivitetsbillede
Name[de]=Contour-Aktivitätenbildschirm
Name[el]=Οθόνη δραστηριότητας contour
Name[en_GB]=Contour activity screen
Name[es]=Pantalla de actividad para Contour
Name[et]=Contouri tegevuste ekraan
Name[eu]=Countour-en jarduera pantaila
Name[fi]=Contourin aktiviteettinäyttö
Name[fr]=Écran de l'activité Contour
Name[gl]=Pantalla de actividades de Contour.
Name[hu]=Contour aktivitás-képernyő
Name[it]=Profilo dell'attività dello schermo
Name[kk]=Contour амал экраны
Name[km]=អេក្រង់​សកម្មភាព​វណ្ឌវង្ក
Name[ko]=Contour 활동 화면
Name[nb]=Konturaktivitetsskjerm
Name[nds]=Contour-Aktivitetenschirm
Name[nl]=Omranding van activiteiten scherm
Name[nn]=Contour-aktivitetsskjerm
Name[pl]=Ekran działania Contour 
Name[pt]=Ecrã de actividade do Contour
Name[pt_BR]=Tela de atividade do Contour
Name[sk]=Obrazovka aktivít Contour
Name[sl]=Obris dejavnosti na zaslonu
Name[sv]=Contour aktivitetsskärm
Name[tr]=Contour etkinlik ekranı
Name[uk]=Сторінка простору дій Contour
Name[wa]=Waitroûle d' activité Contour
Name[x-test]=xxContour activity screenxx
Name[zh_CN]=Contour 活动屏幕
Name[zh_TW]=Contour 活動螢幕
Comment=Categorized resources and widgets
Comment[bs]=Razvrstani izvori i grafičke kontrole
Comment[ca]=Recursos i estris catalogats
Comment[ca@valencia]=Recursos i ginys («widgets») catalogats
Comment[da]=Kategoriserede ressourcer og widgets
Comment[de]=Ressourcen und Miniprogramme sortiert in Kategorien
Comment[el]=Ταξινομημένοι πόροι και γραφικά συστατικά
Comment[en_GB]=Categorised resources and widgets
Comment[es]=Recursos y elementos gráficos por categorías
Comment[et]=Kategoriseeritud ressursid ja vidinad
Comment[eu]=Sailkatutako baliabideak eta trepetak
Comment[fi]=Luokitellut resurssit ja sovelmat
Comment[fr]=Ressources et composants graphiques classés par catégories
Comment[gl]=Trebellos e recursos categorizados.
Comment[hu]=Kategorizált erőforrások és widgetek
Comment[it]=Risorse per categoria e widget
Comment[kk]=Ресурстар мен виджеттер (санат бойынша)
Comment[km]=ប្រភព និង​ធាតុ​ក្រាហ្វិក​​ដែល​បាន​ចាត់​ជា​ផ្នែក​
Comment[ko]=분류된 자원과 위젯
Comment[nb]=Ressurser og skjermelementer etter kategori
Comment[nds]=Kategoriseert Ressourcen un Stüerelementen 
Comment[nl]=Lijst met hulpbronnen in categorieën en widgets
Comment[nn]=Kategoriserte ressursar og skjermelement
Comment[pl]=Kategoryzowane zasoby i elementy interfejsu
Comment[pt]=Recursos e elementos categorizados
Comment[pt_BR]=Recursos e widgets categorizados
Comment[sk]=Kategorizované zdroje a widgety
Comment[sl]=Kategorizirani viri in gradniki
Comment[sv]=Kategoriserade resurser och grafiska komponenter
Comment[tr]=Kategorilendirilmiş kaynaklar ve gereçler
Comment[uk]=Категоризований список ресурсів та віджетів
Comment[wa]=Rissources eyet ahesses categorijheyes
Comment[x-test]=xxCategorized resources and widgetsxx
Comment[zh_CN]=分类的资源及小部件
Comment[zh_TW]=分類的資源與元件
Encoding=UTF-8


Type=Service
Icon=nepomuk
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.activityscreen
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentCategories=desktop
