[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=mobilemenu
Name[et]=Mobiilimenüü
Name[nl]=mobieltje-menu
Name[pt]=Menu Móvel
Name[pt_BR]=Menu móvel
Name[sv]=Mobilmeny
Name[uk]=Мобільне меню
Name[x-test]=xxmobilemenuxx
Type=Service
Icon=

X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.contourmobilemenu
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/mobilemenu.qml
X-Plasma-RemoteLocation=
