# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Shell
Name[az]=Örtük
Name[ca]=Intèrpret d'ordres
Name[ca@valencia]=Intèrpret d'ordres
Name[cs]=Shell
Name[de]=Shell
Name[en_GB]=Shell
Name[es]=Intérprete de órdenes
Name[eu]=Oskola
Name[fi]=Komentotulkki
Name[fr]=Shell
Name[hi]=शेल
Name[hu]=Felület
Name[ia]=Shell
Name[it]=Shell
Name[ka]=გარსი
Name[ko]=셸
Name[nl]=Shell
Name[nn]=Skal
Name[pl]=Powłoka
Name[pt]=Consola
Name[pt_BR]=Shell
Name[ro]=Interpretor
Name[ru]=Оболочка
Name[sk]=Shell
Name[sl]=Shell
Name[sv]=Skal
Name[tr]=Kabuk
Name[uk]=Оболонка
Name[x-test]=xxShellxx
Name[zh_CN]=外壳程序
Comment=Configure the system shell
Comment[az]=Sistem 
Comment[ca]=Configura l'intèrpret d'ordres del sistema
Comment[ca@valencia]=Configura l'intèrpret d'ordres del sistema
Comment[en_GB]=Configure the system shell
Comment[es]=Configura el intérprete de órdenes del sistema
Comment[eu]=Konfiguratu sistemaren oskola
Comment[fi]=Aseta järjestelmän komentotulkki
Comment[fr]=Configurer le shell du système
Comment[hi]=तंत्र शेल विन्यस्त करें
Comment[hu]=A rendszerfelület beállítása
Comment[ia]=Configura le shell de systema
Comment[it]=Configura la shell di sistema
Comment[ka]=სისტემური გარსის მორგება
Comment[ko]=시스템 셸 설정
Comment[nl]=De systeem-shell configureren
Comment[nn]=Set opp systemskalet
Comment[pl]=Ustawienia powłoki systemowej
Comment[pt]=Configurar a consola do sistema
Comment[pt_BR]=Configurar o shell do sistema
Comment[ro]=Configurează interpretorul sistemului
Comment[ru]=Настройка системной оболочки
Comment[sk]=Nastaviť systémový shell
Comment[sl]=Nastavi sistemski shell
Comment[sv]=Anpassa systemskalet
Comment[tr]=Sistem kabuğunu yapılandır
Comment[uk]=Налаштувати командну оболонку системи
Comment[x-test]=xxConfigure the system shellxx
Comment[zh_CN]=配置系统外壳程序
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-plasma
X-KDE-Library=kcm_mobileshell
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop,handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=espidev@gmail.com
X-KDE-PluginInfo-Name=kcm_cellular_network
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma-mobile.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Keywords=system,shell,panel
X-KDE-Keywords[az]=sistem,örtük,panel
X-KDE-Keywords[ca]=sistema,intèrpret d'ordres,plafó
X-KDE-Keywords[ca@valencia]=sistema,intèrpret d'ordres,quadro
X-KDE-Keywords[en_GB]=system,shell,panel
X-KDE-Keywords[es]=sistema,intérprete,intérprete de órdenes,panel
X-KDE-Keywords[eu]=sistema,shell,oskola,panela
X-KDE-Keywords[fi]=järjestelmä,komentotulkki,paneeli
X-KDE-Keywords[fr]=système, shell, panneau
X-KDE-Keywords[hi]=तंत्र,शैल,पैनल
X-KDE-Keywords[hu]=rendszer,felület,panel
X-KDE-Keywords[ia]=system,systema,shell,pannello
X-KDE-Keywords[it]=sistema,shell,pannello
X-KDE-Keywords[ka]=system,shell,panel
X-KDE-Keywords[ko]=system,shell,panel,시스템,셸,패널
X-KDE-Keywords[nl]=systeem,shell,paneel
X-KDE-Keywords[nn]=system,skal,shell,panel
X-KDE-Keywords[pl]=system,powłoka,panel
X-KDE-Keywords[pt]=sistema,consola,painel
X-KDE-Keywords[pt_BR]=sistema,shell,painel
X-KDE-Keywords[ro]=sistem,interpretor,panou
X-KDE-Keywords[ru]=system,shell,panel,система,оболочка,панель
X-KDE-Keywords[sk]=systém,shell,panel
X-KDE-Keywords[sl]=sistem,shell,kontrolna plošča
X-KDE-Keywords[sv]=system,skal,panel
X-KDE-Keywords[tr]=sistem,kabuk,panel
X-KDE-Keywords[uk]=system,shell,panel,система,оболонка,панель
X-KDE-Keywords[x-test]=xxsystemxx,xxshellxx,xxpanelxx
X-KDE-Keywords[zh_CN]=system,shell,panel,系统,外壳,系统外壳,外壳程序,系统外壳程序,面板,
X-KDE-ParentApp=kcontrol
X-KDE-PluginInfo-Name=kcm_mobileshell
