# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Shell
Name[az]=Örtük
Name[ca]=Intèrpret d'ordres
Name[en_GB]=Shell
Name[es]=Intérprete de órdenes
Name[fr]=Shell
Name[hi]=शेल
Name[hu]=Felület
Name[nl]=Shell
Name[nn]=Skal
Name[ro]=Interpretor
Name[sl]=Shell
Name[sv]=Skal
Name[uk]=Оболонка
Name[x-test]=xxShellxx
Comment=Configure the system shell
Comment[az]=Sistem 
Comment[ca]=Configura l'intèrpret d'ordres del sistema
Comment[en_GB]=Configure the system shell
Comment[es]=Configura el intérprete de órdenes del sistema
Comment[fr]=Configurer le shell du système
Comment[hi]=तंत्र शेल विन्यस्त करें
Comment[hu]=A rendszerfelület beállítása
Comment[nl]=De systeem-shell configureren
Comment[nn]=Set opp systemskalet
Comment[ro]=Configurează interpretorul sistemului
Comment[sl]=Nastavi sistemski shell
Comment[sv]=Anpassa systemskalet
Comment[uk]=Налаштувати командну оболонку системи
Comment[x-test]=xxConfigure the system shellxx
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-plasma
X-KDE-Library=kcm_mobileshell
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop,handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=espidev@gmail.com
X-KDE-PluginInfo-Name=kcm_cellular_network
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma-mobile.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Keywords=system,shell,panel
X-KDE-Keywords[az]=sistem,örtük,panel
X-KDE-Keywords[ca]=sistema,intèrpret d'ordres,plafó
X-KDE-Keywords[en_GB]=system,shell,panel
X-KDE-Keywords[es]=sistema,intérprete,intérprete de órdenes,panel
X-KDE-Keywords[fr]=système, shell, panneau
X-KDE-Keywords[hi]=तंत्र,शैल,पैनल
X-KDE-Keywords[hu]=rendszer,felület,panel
X-KDE-Keywords[nl]=systeem,shell,paneel
X-KDE-Keywords[nn]=system,skal,shell,panel
X-KDE-Keywords[ro]=sistem,interpretor,panou
X-KDE-Keywords[sl]=sistem,shell,kontrolna plošča
X-KDE-Keywords[sv]=system,skal,panel
X-KDE-Keywords[uk]=system,shell,panel,система,оболонка,панель
X-KDE-Keywords[x-test]=xxsystemxx,xxshellxx,xxpanelxx
X-KDE-ParentApp=kcontrol
X-KDE-PluginInfo-Name=kcm_mobileshell
