[Desktop Entry]
Comment=Testing display of Nepomuk Resources
Comment[pt]=A testar a visualização dos Recursos do Nepomuk
Comment[uk]=Тестовий показ ресурсів Nepomuk
Comment[x-test]=xxTesting display of Nepomuk Resourcesxx
Encoding=UTF-8
Keywords=Online Services, Web
Keywords[es]=Servicios en línea, web
Keywords[pt]=Serviços 'Online', Web
Keywords[uk]=Служби мережі, інтернет
Keywords[x-test]=xxOnline Services, Webxx
Name=Resources List
Name[es]=Lista de recursos
Name[pt]=Lista de Recursos
Name[uk]=Список ресурсів
Name[x-test]=xxResources Listxx
Type=Service
Icon=nepomuk
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.resourcelist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://vizZzion.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=code/ResourceList.qml
X-Plasma-RemoteLocation=
