[Desktop Entry]
Comment=Testing display of Nepomuk Resources
Comment[da]=Test visning af Nepomuk-ressourcer
Comment[el]=Δοκιμή οθόνης πόρων του Nepomuk
Comment[et]=Nepomuki ressursside kuvamise test
Comment[fr]=Test d'affichage des ressources de Nepomuk
Comment[hu]=Nepomuk erőforrások megjelenésének tesztelése
Comment[km]=សាកល្បង​ទិដ្ឋភាព​របស់​ប្រភព​ Nepomuk
Comment[nl]=Testen van tonen van Nepomuk-hulpbronnen
Comment[pl]=Testowanie wyświetlania zasobów Nepomuk
Comment[pt]=A testar a visualização dos Recursos do Nepomuk
Comment[pt_BR]=Testando a visualização dos Recursos do Nepomuk
Comment[sv]=Prova visning av Nepomuk-resurser
Comment[tr]=Nepomuk Kaynakları için test gösterimi
Comment[uk]=Тестовий показ ресурсів Nepomuk
Comment[wa]=Håynaedje d' assaye des rissources di Nepomuk
Comment[x-test]=xxTesting display of Nepomuk Resourcesxx
Comment[zh_TW]=測試 Nepomuk 資源顯示
Encoding=UTF-8
Keywords=Online Services, Web
Keywords[da]=Online-tjenester, web
Keywords[de]=Online-Dienste, Web
Keywords[el]=Διαδικτυακές υπηρεσίες, ιστός
Keywords[es]=Servicios en línea, web
Keywords[et]=Võrguteenused, veeb
Keywords[fr]=Services en ligne, Web
Keywords[hu]=Online szolgáltatások, web
Keywords[km]=សេវាកម្ម​លើ​បណ្ដាញ បណ្ដាញ
Keywords[nl]=Online-diensten, web
Keywords[pl]=Usługi online, internetowe
Keywords[pt]=Serviços 'Online', Web
Keywords[pt_BR]=Serviços on-line, Web
Keywords[sv]=Nättjänster, webb
Keywords[tr]=Çevrimiçi Servisler, Web
Keywords[uk]=Служби мережі, інтернет
Keywords[wa]=Siervices so fyis, waibe
Keywords[x-test]=xxOnline Services, Webxx
Keywords[zh_TW]=線上服務，網頁
Name=Resources List
Name[da]=Ressourceliste
Name[de]=Ressourcenliste
Name[el]=Λίστα πόρων
Name[es]=Lista de recursos
Name[et]=Ressursiloend
Name[fr]=Liste des ressources
Name[hu]=Erőforráslista
Name[km]=បញ្ជី​ប្រភព
Name[nl]=Lijst met hulpbronnen
Name[pa]=ਸਰੋਤ ਸੂਚੀ
Name[pl]=Lista zasobów
Name[pt]=Lista de Recursos
Name[pt_BR]=Lista de recursos
Name[sv]=Resurslista
Name[tr]=Kaynaklar Listesi
Name[uk]=Список ресурсів
Name[wa]=Djivêye des rissources
Name[x-test]=xxResources Listxx
Name[zh_CN]=资源列表
Name[zh_TW]=資源清單
Type=Service
Icon=nepomuk
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.resourcelist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://vizZzion.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=code/ResourceList.qml
X-Plasma-RemoteLocation=
