[Desktop Entry]
Type=Service
Name=Image (mobile)
Icon=image-jpeg
ServiceTypes=Plasma/Wallpaper
Actions=SingleImage;Slideshow;

X-KDE-Library=plasma_wallpaper_mobileimage
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.mobileimage
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

MimeType=image/jpeg;image/png;image/svg+xml;image/svg+xml-compressed;
X-Plasma-DropMimeTypes=image/jpeg,image/png,image/svg+xml,image/svg+xml-compressed


