[Desktop Entry]
Name=Time and Date
Name[bs]=Vrijeme i datum
Name[ca]=Hora i data
Name[cs]=Datum a čas
Name[da]=Tid og dato
Name[de]=Uhrzeit und Datum
Name[el]=Ώρα και ημερομηνία
Name[es]=Fecha y hora
Name[et]=Kellaaeg ja kuupäev
Name[fi]=Aika ja päiväys
Name[fr]=Heure et Date
Name[ga]=Am agus Dáta
Name[gl]=Hora e data
Name[hu]=Idő és dátum
Name[it]=Data e ora
Name[kk]=Уақыт пен Күн
Name[km]=ពេលវេលា និង​កាលបរិច្ឆេទ
Name[lt]=Laikas ir data
Name[mr]=दिनांक व वेळ
Name[nb]=Dato og klokkeslett
Name[nl]=Tijd en datum
Name[pa]=ਸਮਾਂ ਅਤੇ ਮਿਤੀ
Name[pl]=Czas i data
Name[pt]=Hora e Data
Name[pt_BR]=Data e hora
Name[ro]=Oră și dată
Name[sk]=Dátum a čas
Name[sl]=Čas in datum
Name[sv]=Tid och datum
Name[tr]=Saat ve Tarih
Name[ug]=ۋاقىت ۋە چېسلا
Name[uk]=Час і дата
Name[wa]=Eure et date
Name[x-test]=xxTime and Datexx
Name[zh_CN]=时间和日期
Name[zh_TW]=時間與日期
Comment=Timezone, Date Display
Comment[bs]=Vremenska zona, Prikaži datum
Comment[ca]=Zona horària, Mostra la data
Comment[da]=Tidszone, datovisning
Comment[de]=Zeitzone, Datumsanzeige
Comment[el]=Ζώνη ώρας, εμφάνιση ημερομηνίας
Comment[es]=Zona horaria, Mostrar fecha
Comment[et]=Ajavööndi, kuupäeva näitamine
Comment[fi]=Aikavyöhyke, ajan näyttämisasetukset
Comment[fr]=Fuseau horaire, affichage de la date
Comment[gl]=Furo horario, visualización das datas.
Comment[hu]=Időzóna, dátummegjelenítés
Comment[it]=Fuso orario, visualizza data
Comment[kk]=Уақыт белдеуін, Күнін көрсету
Comment[km]=ការ​បង្ហាញ​តំបន់​ពេលវេលា និង​កាលបរិច្ឆេទ
Comment[nb]=Tidssone, datovisning
Comment[nl]=Tijdzone, datumweergave
Comment[pl]=Strefa czasowa, Wyświetlanie daty
Comment[pt]=Fuso-Horário, Apresentação de Datas
Comment[pt_BR]=Fuso-Horário, Apresentação de Datas
Comment[sk]=Časové pásmo, Zobrazenie dátumu
Comment[sl]=Časovni pas, prikaz datuma
Comment[sv]=Tidszon, datumvisning
Comment[tr]=Zaman dilimi, Tarih Görünümü
Comment[uk]=Параметри показу часового поясу і дати
Comment[wa]=Coisse ås eures, håynaedje del date
Comment[x-test]=xxTimezone, Date Displayxx
Comment[zh_TW]=時區，日期顯示
Encoding=UTF-8
Type=Service
Icon=preferences-system-time
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_time
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.time
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Package=org.kde.active.settings.time
X-Plasma-MainScript=ui/Time.qml
