[Desktop Entry]
Name=Time and Date
Name[de]=Zeit und Datum
Name[nl]=Datum en tijd
Name[pt]=Hora e Data
Name[pt_BR]=Data e hora
Name[sv]=Tid och datum
Name[uk]=Час і дата
Name[x-test]=xxTime and Datexx
Comment=Settings for timezone and date display
Comment[nl]=Instellingen voor weergave van tijdzone en datum
Comment[pt]=Configuração da visualização dos fusos-horários e datas
Comment[pt_BR]=Configurações de exibição de fuso horário e data
Comment[sv]=Inställningar av tidszon och datumvisning
Comment[uk]=Параметри показу часового поясу і дати
Comment[x-test]=xxSettings for timezone and date displayxx
Encoding=UTF-8
Type=Service
Icon=preferences-system-time
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_time
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.time
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Package=org.kde.active.settings.time
X-Plasma-MainScript=ui/Time.qml
