[Desktop Entry]
Encoding=UTF-8
Name=Search And Run
Name[ast]=Busca y execución
Name[ca]=Cerca i executa
Name[cs]=Vyhledat a spustit
Name[da]=Søg og kør
Name[de]=Suchen und Ausführen
Name[en_GB]=Search And Run
Name[es]=Buscar y ejecutar
Name[et]=Otsimine ja käivitamine
Name[eu]=Bilatu eta exekutatu
Name[fi]=Etsi ja käynnistä
Name[fr]=Chercher et lancer
Name[hu]=Keresés és indítás
Name[ia]=Cerca e Exeque
Name[id]=Cari Dan Jalankan
Name[it]=Cerca e avvia
Name[ko]=찾아서 실행하기
Name[lt]=Ieškoti ir paleisti
Name[nl]=Zoeken en uitvoeren
Name[nn]=Søk og køyr
Name[pa]=ਖੋਜੋ ਤੇ ਚਲਾਓ
Name[pl]=Znajdź i uruchom
Name[pt]=Pesquisar e Executar
Name[pt_BR]=Pesquisar e executar
Name[ro]=Căutare și lansare
Name[ru]=Поиск и запуск
Name[sk]=Hľadať a Spustiť
Name[sl]=Poišči in poženi
Name[sv]=Sök och kör
Name[uk]=Пошук і запуск
Name[x-test]=xxSearch And Runxx
Name[zh_CN]=搜索和运行
Name[zh_TW]=搜尋並執行

Comment=Search and run Applications and services
Comment[ast]=Busca y executa aplicaciones y servicios
Comment[ca]=Cerca i executa aplicacions i serveis
Comment[cs]=Vyhledat a spustit aplikace a služby
Comment[da]=Søg og kør programmer og tjenester
Comment[de]=Anwendungen und Dienste suchen und ausführen
Comment[en_GB]=Search and run Applications and services
Comment[es]=Buscar y ejecutar aplicaciones y servicios
Comment[et]=Rakenduste ja teenuste otsimine ja käivitamine
Comment[eu]=Bilatu eta exekutatu aplikazioak eta zerbitzuak
Comment[fi]=Etsi ja käynnistä sovelluksia ja palveluja
Comment[fr]=Chercher et lancer des applications et des services
Comment[hu]=Alkalmazások és szolgáltatások keresése és indítása
Comment[ia]=Cerca e Exeque Applicatione e Servicios
Comment[id]=Cari dan jalankan Aplikasi dan layanan
Comment[it]=Cerca e avvia applicazioni e servizi
Comment[ko]=프로그램과 서비스 찾아서 실행하기
Comment[lt]=Ieškoti ir paleisti programas bei tarnybas
Comment[nl]=Zoeken en uitvoeren van toepassingen en services
Comment[nn]=Søk etter og køyr program og tenester
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨਾਂ ਤੇ ਸੇਵਾਵਾਂ ਖੋਜੋ ਤੇ ਚਲਾਓ
Comment[pl]=Znajduj i uruchamiaj aplikacje i usługi
Comment[pt]=Pesquisa e executa aplicações e serviços
Comment[pt_BR]=Pesquisa e executa aplicativos e serviços
Comment[ro]=Caută și rulează aplicații și servicii
Comment[ru]=Поиск и запуск приложений и служб
Comment[sk]=Hľadať a spustiť Aplikácie a služby
Comment[sl]=Poišči in poženi program in storitve
Comment[sv]=Sök och kör program och tjänster
Comment[uk]=Пошук і запуск програм і служб
Comment[x-test]=xxSearch and run Applications and servicesxx
Comment[zh_CN]=搜索和运行应用程序及服务
Comment[zh_TW]=搜尋並執行應用程式及服務

Icon=search
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.krunner
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Search
X-Plasma-Provides=org.kde.plasma.search

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
