[Desktop Entry]
Name=Application Switcher
Name[en_GB]=Application Switcher
Name[pt]=Selector de Aplicações
Name[sv]=Programbyte
Name[tr]=Uygulama Seçici
Name[uk]=Перемикач програм
Name[x-test]=xxApplication Switcherxx
Comment=Launch the app switcher from hildon
Comment[en_GB]=Launch the app switcher from hildon
Comment[pt]=Lançar o selector de aplicações a partir do 'hildon'
Comment[sv]=Starta programbyte från Hildon
Comment[uk]=Запуск перемикача програм з Hildon
Comment[x-test]=xxLaunch the app switcher from hildonxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_appswitcher
X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=appswitcher
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
