[Desktop Entry]
Name=Application Switcher
Name[cs]=Přepínač aplikací
Name[de]=Anwendungsumschalter
Name[nl]=Programmaschakelaar
Name[pt]=Selector de Aplicações
Name[pt_BR]=Seletor de aplicativos
Name[sv]=Programbyte
Name[uk]=Перемикач програм
Name[x-test]=xxApplication Switcherxx
Comment=Launch the app switcher from hildon
Comment[nl]=Programmaschakelaar van hildon starten
Comment[pt]=Invoca o selector de aplicações do Hildon
Comment[pt_BR]=Carrega o seletor de aplicativos do Hildon
Comment[sv]=Starta programbyte från Hildon
Comment[uk]=Запуск перемикача програм з Hildon
Comment[x-test]=xxLaunch the app switcher from hildonxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_appswitcher
X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=org.kde.appswitcher
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
