[Desktop Entry]
Icon=plasmaapplet-location

Name=Location
Name[cs]=Umístění
Name[da]=Sted
Name[el]=Θέση
Name[es]=Posición
Name[et]=Asukoht
Name[fr]=Emplacement
Name[km]=ទីតាំង
Name[nl]=Locatie
Name[pl]=Położenie
Name[pt]=Localização
Name[pt_BR]=Localização
Name[sk]=Umiestnenie
Name[sv]=Plats
Name[tr]=Konum
Name[uk]=Розташування
Name[x-test]=xxLocationxx
Name[zh_CN]=位置
Name[zh_TW]=位置
Comment=Location chooser
Comment[da]=Stedvælger
Comment[el]=Επιλογέας θέσης
Comment[es]=Selector de posición
Comment[et]=Asukohavalija
Comment[fr]=Sélecteur d'emplacements
Comment[km]=កម្មវិធី​ជ្រើសរើស​ទីតាំង
Comment[nl]=Locatiekiezer
Comment[pl]=Wybieranie położenia
Comment[pt]=Selector da localização
Comment[pt_BR]=Seletor de localização
Comment[sv]=Platsväljare
Comment[tr]=Konum seçici
Comment[uk]=Вибір розташування
Comment[x-test]=xxLocation chooserxx
Comment[zh_CN]=位置选择器
Comment[zh_TW]=位置選擇器

Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_locationchooser
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic(at)kde.org
X-KDE-PluginInfo-Name=org.kde.locationchooser
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true
