[Desktop Entry]
Name=Phone multitask
Name[ast]=Multixera de teléfonos
Name[ca]=Multitasca del telèfon
Name[ca@valencia]=Multitasca del telèfon
Name[da]=Multitask til telefon
Name[en_GB]=Phone multitask
Name[es]=Multitarea del teléfono
Name[et]=Multitegumtelefon
Name[eu]=Telefonoko ataza-anizkuna
Name[fi]=Phonen moniajo
Name[fr]=Multi-tâches pour téléphone
Name[gl]=Multi-tarefa do teléfono
Name[hu]=Telefon multitask
Name[ia]=Multitask de Phone
Name[id]=Multitask ponsel
Name[it]=Multitasking del telefono
Name[ko]=전화 멀티태스킹
Name[lt]=Telefono daugiaprogramis apdorojimas
Name[nl]=Multitasking van de telefoon
Name[nn]=Telefon-multitasking
Name[pa]=ਫ਼ੋਨ ਬਹੁ-ਟਾਸਕ
Name[pl]=Wiele zadań na telefonie
Name[pt]=Multi-Tarefas do Telefone
Name[pt_BR]=Multitarefas do telefone
Name[ro]=Sarcini multiple pe telefon
Name[ru]=Многозадачность для телефона
Name[sk]=Multitask telefónu
Name[sl]=Večopravilni telefon
Name[sv]=Flera uppgifter på telefonen
Name[tr]=Telefon çoklu görev
Name[uk]=Багатозадачний телефон
Name[x-test]=xxPhone multitaskxx
Name[zh_CN]=手机多任务
Name[zh_TW]=手機多工
Comment=Multitasking user interface for Phone devices
Comment[ast]=Interfaz d'usuariu multixera pa teléfonos
Comment[ca]=Interfície d'usuari multitasca per als dispositius de telèfon
Comment[ca@valencia]=Interfície d'usuari multitasca per als dispositius de telèfon
Comment[da]=Brugerflade med multitasking til telefoner
Comment[en_GB]=Multitasking user interface for Phone devices
Comment[es]=Interfaz de usuario multitarea para teléfonos
Comment[et]=Telefonide multitegumtöö kasutajaliides
Comment[eu]=Telefono gailuentzako ataza-anizkuneko erabiltzaile interfazea
Comment[fi]=Moniajokäyttöliittymä Phone-laitteisiin
Comment[fr]=Interface utilisateur multi-tâches du téléphone
Comment[gl]=Interface de usuario multi-tarefa para dispositivos móbiles.
Comment[hu]=Multitask felület telefonokhoz
Comment[ia]=Interfacie de usator multitasking per dipositivos de Phone
Comment[id]=Antarmuka pengguna multitasking untuk perangkat Ponsel
Comment[it]=Interfaccia utente multitasking per i telefoni
Comment[ko]=전화기 장치의 멀티태스킹 사용자 인터페이스
Comment[lt]=Daugiaprogramio apdorojimo naudotojo sąsaja telefono įrenginiams
Comment[nl]=Gebruikersinterface voor multitasking voor telefoonapparaten
Comment[nn]=Multitaskingsgrensesnitt for telefoneiningar
Comment[pa]=ਫ਼ੋਨ ਡਿਵਾਈਸਾਂ ਲਈ ਬਹੁ-ਟਾਸਕ ਵਰਤੋਂਕਾਰ ਇੰਟਰਫੇਸ
Comment[pl]=Interfejs użytkownika dla telefonów do wykonywania wielu zadań
Comment[pt]=Interface multi-tarefa para dispositivos telefónicos
Comment[pt_BR]=Interface de multitarefas para telefones
Comment[ro]=Interfață cu sarcini multiple pentru dispozitive telefonice
Comment[ru]=Интерфейс пользователя с поддержкой многозадачности для телефонов
Comment[sk]=Rozhranie multitaskingu pre telefóny
Comment[sl]=Večopravilni uporabniški vmesnik za telefonske naprave
Comment[sv]=Användargränssnitt med flera uppgifter för telefoner
Comment[tr]=Telefon aygıtları için çoklu görev kullanıcı arayüzü
Comment[uk]=Багатозадачний інтерфейс користувача для телефонних пристроїв
Comment[x-test]=xxMultitasking user interface for Phone devicesxx
Comment[zh_CN]=为手机设备设计的多任务用户界面
Comment[zh_TW]=手機裝置的多工使用者介面

Icon=preferences-system-windows-script-test

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=false

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.phone.multitasking
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-EnabledByDefault=false

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
