[Desktop Entry]
Name=Phone multitask
Name[nl]=Multitasking van de telefoon
Name[pt]=Multi-Tarefas do Telefone
Name[sv]=Flera uppgifter på telefonen
Name[uk]=Багатозадачний телефон
Name[x-test]=xxPhone multitaskxx
Comment=Multitasking user interface for Phone devices
Comment[uk]=Багатозадачний інтерфейс користувача для телефонних пристроїв

Icon=preferences-system-windows-script-test

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=false

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.phone.multitasking
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-EnabledByDefault=false

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
