[Desktop Entry]
Encoding=UTF-8
Name=Location
Name[cs]=Umístění
Name[da]=Sted
Name[el]=Θέση
Name[es]=Posición
Name[et]=Asukoht
Name[fr]=Emplacement
Name[km]=ទីតាំង
Name[nl]=Locatie
Name[pl]=Położenie
Name[pt]=Localização
Name[pt_BR]=Localização
Name[sk]=Umiestnenie
Name[sv]=Plats
Name[tr]=Konum
Name[uk]=Розташування
Name[x-test]=xxLocationxx
Name[zh_CN]=位置
Name[zh_TW]=位置
Comment=Applet to tell the system where you are
Comment[da]=Applet som fortæller systemet hvor du er
Comment[el]=Μικροεφαρμογή που λέει στο σύστημα πού βρίσκεστε
Comment[es]=Miniaplicación para indicarle al sistema dónde está usted
Comment[et]=Aplett, mis annab süsteemile teada, kus sa oled
Comment[fr]=Applet pour indiquer au système où vous vous trouvez
Comment[km]=អាប់ភ្លេត​ដែល​ត្រូវ​ប្រាប់​ប្រព័ន្ធ​ថា​អ្នក​នៅ​ទីណា
Comment[nl]=Een applet om het systeem te laten weten waar u bent
Comment[pl]=Aplet mówiący systemowi gdzie jesteś
Comment[pt]='Applet' para indicar ao sistema onde se encontra
Comment[pt_BR]=Miniaplicativo para indicar ao sistema onde você está
Comment[sv]=Miniprogram som talar om för systemet var du är
Comment[tr]=Sisteme nerede olduğunuzu bildiren gereç
Comment[uk]=Аплет, який повідомлятиме системі про те, де ви перебуваєте
Comment[x-test]=xxApplet to tell the system where you arexx
Comment[zh_CN]=告诉系统当前位置的小程序
Comment[zh_TW]=告訴系統您在哪裡的小程式

Type=Service
Icon=location
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Ivan Cukic
# X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.locationchooser
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
# X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
# X-Plasma-API=declarativeappletscript
# X-Plasma-DefaultSize=290,340
X-Plasma-MainScript=ui/Location.qml

# X-KDE-PluginInfo-EnabledByDefault=true
# X-Plasma-NotificationArea=true

