[Desktop Entry]
Encoding=UTF-8
Name=Location
Comment=Applet to tell the system where you are

Type=Service
Icon=location
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Ivan Cukic
# X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.locationchooser
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
# X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
# X-Plasma-API=declarativeappletscript
# X-Plasma-DefaultSize=290,340
X-Plasma-MainScript=ui/LocationChooser.qml

# X-KDE-PluginInfo-EnabledByDefault=true
# X-Plasma-NotificationArea=true

