[Desktop Entry]
Comment=Contour tablet homescreen
Comment[da]=startskærm for Contour tablet
Comment[el]=Contour tablet homescreen
Comment[et]=Contouri tahvelarvuti koduekraan
Comment[fr]=Écran d'accueil Contour pour tablette
Comment[km]=វណ្ឌវង្ក​អេក្រង់​ដើម​របស់ tablet
Comment[nl]=Omranding van hoofdscherm van tablet
Comment[pl]=Ekran domowy tabletu Contour
Comment[pt]=Ecrã inicial para tabletes do Contour
Comment[pt_BR]=Tela inicial do Contour para tablets
Comment[sv]=Contour hemskärm för läsplatta
Comment[uk]=Домашня сторінка планшета Contour
Comment[wa]=Waitroûle måjhon Contour del tåvlete
Comment[x-test]=xxContour tablet homescreenxx
Comment[zh_TW]=Contour 平板首頁
Encoding=UTF-8
Keywords=
Name=Tablet homescreen
Name[da]=startskærm for tablet
Name[el]=Αρχική οθόνη πινακίου
Name[et]=Tahvelarvuti koduekraan
Name[fr]=Écran d'accueil pour tablette
Name[km]=អេក្រង់​ដើម​របស់ tablet
Name[nl]=Hoofdscherm van tablet
Name[pl]=Ekran domowy tabletu
Name[pt]=Ecrã inicial de tabletes
Name[pt_BR]=Tela inicial para tablets
Name[sv]=Hemskärm för läsplatta
Name[tr]=Tablet ev ekranı
Name[uk]=Домашня сторінка планшета
Name[wa]=Waitroûle måjhon del tåvlete
Name[x-test]=xxTablet homescreenxx
Name[zh_TW]=平板首頁
Type=Service

X-KDE-ServiceTypes=Plasma/GenericPackage
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
#FIXME: will be called org.kde.active.contour-homescreen or just be merged in tablet
X-KDE-PluginInfo-Name=org.kde.active.contour-tablet-homescreen
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/HomeScreen.qml
