[Desktop Entry]
Comment=Contour tablet homescreen
Comment[nl]=Omranding van hoofdscherm van tablet
Comment[pt]=Ecrã inicial para tabletes do Contour
Comment[pt_BR]=Tela inicial do Contour para tablets
Comment[sv]=Kontur hemskärm för surfplatta
Comment[uk]=Домашня сторінка планшета Contour
Comment[x-test]=xxContour tablet homescreenxx
Encoding=UTF-8
Keywords=
Name=Tablet homescreen
Name[nl]=Hoofdscherm van tablet
Name[pt]=Ecrã inicial de tabletes
Name[pt_BR]=Tela inicial para tablets
Name[sv]=Hemskärm för surfplatta
Name[uk]=Домашня сторінка планшета
Name[x-test]=xxTablet homescreenxx
Type=Service

X-KDE-ServiceTypes=Plasma/GenericPackage
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
#FIXME: will be called org.kde.active.contour-homescreen or just be merged in tablet
X-KDE-PluginInfo-Name=org.kde.active.contour-tablet-homescreen
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/HomeScreen.qml
