[Desktop Entry]
Comment=Contour tablet homescreen
Comment[bs]=Contour početni ekran tableta
Comment[ca]=Pantalla d'inici Contour de la tauleta
Comment[da]=startskærm for Contour tablet
Comment[de]=Contour-Tablett-Startbildschirm
Comment[el]=Contour tablet homescreen
Comment[es]=Pantalla de inicio Contour para tabletas
Comment[et]=Contouri tahvelarvuti koduekraan
Comment[fr]=Écran d'accueil Contour pour tablette
Comment[gl]=Pantalla de inicio da tableta de Contour.
Comment[hu]=Countour tablet kezdőképernyő
Comment[it]=Profilo della schermata iniziale del tablet
Comment[kk]=Contour планшет мекені
Comment[km]=វណ្ឌវង្ក​អេក្រង់​ដើម​របស់ tablet
Comment[ko]=Contour 태블릿 홈 화면
Comment[nb]=Hjemmeskjerm for Contour-nettbrett
Comment[nl]=Omranding van hoofdscherm van tablet
Comment[pl]=Ekran domowy tabletu Contour
Comment[pt]=Ecrã inicial para tabletes do Contour
Comment[pt_BR]=Tela inicial do Contour para tablets
Comment[sk]=Domovská obrazovka tabletu Contour
Comment[sl]=Obris domačega zaslona za tablico
Comment[sv]=Contour hemskärm för läsplatta
Comment[tr]=Contour tablet ev ekranı
Comment[uk]=Домашня сторінка планшета Contour
Comment[wa]=Waitroûle måjhon Contour del tåvlete
Comment[x-test]=xxContour tablet homescreenxx
Comment[zh_TW]=Contour 平板首頁
Encoding=UTF-8
Keywords=
Name=Tablet homescreen
Name[bs]=Početni ekran tableta
Name[ca]=Pantalla d'inici de la tauleta
Name[da]=startskærm for tablet
Name[de]=Tablett-Startbildschirm
Name[el]=Αρχική οθόνη πινακίου
Name[es]=Pantalla de inicio para tabletas
Name[et]=Tahvelarvuti koduekraan
Name[fr]=Écran d'accueil pour tablette
Name[gl]=Pantalla de inicio da tableta
Name[hu]=Tablet kezdőképernyő
Name[it]=Schermata iniziale del tablet
Name[kk]=Планшет мекен-экраны
Name[km]=អេក្រង់​ដើម​របស់ tablet
Name[ko]=태블릿 홈 화면
Name[nb]=Hjemmeskjerm for nettbrett
Name[nl]=Hoofdscherm van tablet
Name[pa]=ਟੇਬਲਟ ਹੋਮਸਕਰੀਨ
Name[pl]=Ekran domowy tabletu
Name[pt]=Ecrã inicial de tabletes
Name[pt_BR]=Tela inicial para tablets
Name[sk]=Domovská stránka tabletu
Name[sl]=Domači zaslon za tablico
Name[sv]=Hemskärm för läsplatta
Name[tr]=Tablet ev ekranı
Name[uk]=Домашня сторінка планшета
Name[wa]=Waitroûle måjhon del tåvlete
Name[x-test]=xxTablet homescreenxx
Name[zh_TW]=平板首頁
Type=Service

X-KDE-ServiceTypes=Plasma/GenericPackage
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
#FIXME: will be called org.kde.active.contour-homescreen or just be merged in tablet
X-KDE-PluginInfo-Name=org.kde.active.contour-tablet-homescreen
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/HomeScreen.qml
