# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Screen rotation
Name[ca]=Gir de la pantalla
Name[es]=Rotación de la pantalla
Name[uk]=Реалізовано обертання зображення на екрані
Name[x-test]=xxScreen rotationxx
Icon=rotation-allowed
Description=Screen rotation quick setting
Description[ca]=Configuració ràpida del gir de pantalla
Description[es]=Ajuste rápido de la rotación de la pantalla
Description[uk]=Швидке встановлення обертання екрана
Description[x-test]=xxScreen rotation quick settingxx

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.screenrotation
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+

