[Desktop Entry]
# ctxt: plasma containment
Name=MobileDesktop
Name[en_GB]=MobileDesktop
Name[pt]=Ambiente de Trabalho Móvel
Name[pt_BR]=MobileDesktop
Name[sv]=Mobilt skrivbord
Name[uk]=Мобільна стільниця
Name[x-test]=xxMobileDesktopxx
Comment=Default desktop containment
Comment[en_GB]=Default desktop containment
Comment[eo]=Apriora labortabla ujo
Comment[et]=Vaikimisi töölauakonteiner
Comment[fi]=Työpöydän oletussisällytys
Comment[fr]=Contenu du bureau par défaut
Comment[nl]=Verpakking voor standaard bureaublad
Comment[pa]=ਡਿਫਾਲਟ ਡੈਸਕਟਾਪ ਕਨਟੇਨਮੈਂਟ
Comment[pt]=Contentor do ecrã por omissão
Comment[pt_BR]=Conteúdo padrão da área de trabalho
Comment[sv]=Skrivbordets standardomgivning
Comment[tr]=Öntanımlı masaüstü kapsayıcı
Comment[uk]=Типовий контейнер стільниці
Comment[x-test]=xxDefault desktop containmentxx
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
NoDisplay=true

X-KDE-Library=plasma_containment_mobiledesktop
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
