[Desktop Entry]
# ctxt: plasma containment
Name=MobileDesktop
Name[nl]=MobielBureaublad
Name[pt]=Ecrã Móvel
Name[pt_BR]=Área de trabalho móvel
Name[sv]=Mobilt skrivbord
Name[uk]=Мобільна стільниця
Name[x-test]=xxMobileDesktopxx
Comment=Default desktop containment
Comment[nl]=Standaard bureaubladcontainer
Comment[pt]=Contentor do ambiente de trabalho predefinido
Comment[pt_BR]=Contêiner da área de trabalho padrão
Comment[sv]=Skrivbordets standardomgivning
Comment[uk]=Типовий контейнер стільниці
Comment[x-test]=xxDefault desktop containmentxx
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
NoDisplay=true

X-KDE-ParentAppp=plasma-mobile
X-KDE-Library=plasma_containment_mobiledesktop
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.mobiledesktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
