[Desktop Entry]
Name=Application Information
Name[cs]=Informace o aplikaci
Name[ga]=Eolas faoi Fheidhmchláir
Name[nl]=Programmainformatie
Name[pt]=Informação da Aplicação
Name[pt_BR]=Informações do aplicativo
Name[sv]=Information om program
Name[ug]=پروگرامما ئۇچۇرى
Name[uk]=Відомості щодо програм
Name[x-test]=xxApplication Informationxx
Comment=Information and launching of all applications in the app menu.
Comment[cs]=Informace a spouštění všech aplikací v menu aplikací.
Comment[de]=Informationen und Starten aller Anwendungen im Programmmenü.
Comment[nl]=Informatie en starten van alle programma's in het progmenu.
Comment[pt]=Informação e lançamento de todas as aplicações no menu de aplicações.
Comment[pt_BR]=Informação e inicialização de todos os aplicativos no menu de aplicativos.
Comment[sv]=Information om och start av alla program i programmenyn.
Comment[ug]=ئۇچۇر كۆرسىتىدۇ ياكى تىزىملىكتىكى ھەممە پروگراممىلارنى ئىجرا قىلىدۇ
Comment[uk]=Відомості і запуск всіх програма з меню програм.
Comment[x-test]=xxInformation and launching of all applications in the app menu.xx
Type=Service
Icon=user-desktop

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_active_apps

X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=org.kde.active.apps
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
