[Desktop Entry]
Name=Night Color
Name[ca]=Color de nit
Name[cs]=Noční barva
Name[en_GB]=Night Colour
Name[es]=Color nocturno
Name[eu]=Gaueko kolorea
Name[fr]=Couleur de nuit
Name[nl]=Nachtkleur
Name[pt]=Cor Nocturna
Name[pt_BR]=Cor noturna
Name[sv]=Nattfärg
Name[uk]=Нічні кольори
Name[x-test]=xxNight Colorxx
Name[zh_CN]=夜间颜色
Icon=redshift-status-on

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.nightcolor
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL

