[Desktop Entry]
Encoding=UTF-8
Name=Window Strip
Name[da]=Vinduesstribe
Name[el]=Σειρά παραθύρων
Name[es]=Tira de ventanas
Name[et]=Aknariba
Name[fr]=Bandeau de fenêtres
Name[hu]=Ablakösszefűzés
Name[it]=Finestra a scorrimento
Name[km]=ឆ្នូត​បង្អួច
Name[nl]=Vensterstrook
Name[pa]=ਵਿੰਡੋ ਸਟਰੈਪ
Name[pl]=Pas okna
Name[pt]=Barra da Janela
Name[pt_BR]=Barra da janela
Name[sv]=Fönsterremsa
Name[tr]=Pencere Dilimi
Name[uk]=Стрічка-вікно
Name[wa]=Binde di finiesse
Name[x-test]=xxWindow Stripxx
Name[zh_TW]=視窗帶
Icon=window
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-KDE-ParentAppp=plasma-mobile
X-KDE-Library=plasma_applet_windowstrip
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.windowstrip
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
