[Desktop Entry]
Encoding=UTF-8
Name=Brightness Settings

Comment=Set Display brightness

Icon=video-display-brightness
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.brightnesssettings
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=System

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
