#
# Copyright (C) 2014 Pier Luigi Fiorini
#
# Starts kded5 needed by the phone UI.
#

[Unit]
Description=KDED5
Requires=dbus.socket

[Service]
Type=notify
EnvironmentFile=-/var/lib/environment/plasma-phone/*.conf
ExecStart=/usr/bin/kded5
Restart=always

[Install]
WantedBy=user-session.target
