#
# Copyright (C) 2014 Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
#
# Starts kbuildsycoca5 needed by the phone UI.
#

[Unit]
Description=kbuildsycoca5
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/kbuildsycoca5

[Install]
WantedBy=user-session.target
