[Desktop Entry]
Exec=active-settings org.kde.active.settings.time
Icon=clock
Name=Adjust date and time
Name[cs]=Upravit datum a čas
Name[es]=Ajustar fecha y hora
Name[nl]=Datum en tijd aanpassen
Name[pl]=Dostosuj datę i czas
Name[pt]=Ajustar a data e hora
Name[pt_BR]=Ajustar data e hora
Name[sv]=Justera datum och tid
Name[uk]=Коригування дати і часу
Name[x-test]=xxAdjust date and timexx
Type=Application
Categories=Qt;KDE;System;Settings;
