[Desktop Entry]
Comment=Plasma Active shell
Comment[ca]=Intèrpret d'ordres del Plasma Active
Comment[ca@valencia]=Intèrpret d'ordres del Plasma Active
Comment[da]=Plasma Active-skal
Comment[de]=Plasma-Active-Shell
Comment[el]=Ενεργό Κέλυφος του Plasma
Comment[en_GB]=Plasma Active shell
Comment[es]=Intérprete para Plasma Active
Comment[eu]=Plasma Active shell
Comment[fi]=Plasma Active -kuori
Comment[fr]=Environnement Plasma Active
Comment[gl]=Intérprete de ordes de Plasma Active
Comment[it]=Shell di Plasma Active
Comment[ko]=Plasma Active 셸
Comment[nl]=Plasma-activiteit-shell
Comment[nn]=Plasma Active-skal
Comment[pl]=Powłoka Plazma Active
Comment[pt]=Consola do Plasma Active
Comment[pt_BR]=Shell do Plasma Active
Comment[sk]=Plasma Active shell
Comment[sl]=Lupina Plasma Active
Comment[sv]=Plasma Active skal
Comment[tr]=Plasma Active kabuğu
Comment[uk]=Портативна оболонка Плазми
Comment[x-test]=xxPlasma Active shellxx
Comment[zh_CN]=Plasma Active 外壳
Comment[zh_TW]=Plasma Active shell
Encoding=UTF-8
Keywords=
Name=Desktop
Name[ca]=Escriptori
Name[ca@valencia]=Escriptori
Name[cs]=Pracovní plocha
Name[da]=Desktop
Name[de]=Arbeitsfläche
Name[el]=Περιβάλλον γραφείου
Name[en_GB]=Desktop
Name[es]=Escritorio
Name[eu]=Mahaigaina
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[gl]=Escritorio
Name[it]=Desktop
Name[ko]=데스크톱
Name[nl]=Bureaublad
Name[nn]=Skrivebord
Name[pl]=Pulpit
Name[pt]=Ambiente de Trabalho
Name[pt_BR]=Ambiente de trabalho
Name[ru]=Рабочий стол
Name[sk]=Plocha
Name[sl]=Namizje
Name[sv]=Skrivbord
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[x-test]=xxDesktopxx
Name[zh_CN]=桌面
Name[zh_TW]=桌面
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Antonis Tsiapaliokas
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=antonis.tsiapaliokas@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.plasma.active
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=layout.js
