[Desktop Entry]
Name=Active Image viewer
GenericName=Image viewer
Comment=An image viewer for touch tablets

Exec=imageviewer-active -graphicssystem raster %u
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Graphics;Viewer;Photography;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
