[Desktop Entry]
Name=Custom Metadata Search Dataengine
Name[et]=Kohandatud metaandmete otsingu andmemootor
Name[fr]=Moteur de données de recherche de métadonnées personnalisé
Name[km]=ម៉ាស៊ីន​ស្វែងរក​ទិន្នន័យ​មេតា​ផ្ទាល់ខ្លួន
Name[nl]=Aangepaste engine voor zoeken in metagegevens
Name[pl]=Własny silnik danych do wyszukiwania metadanych
Name[pt]=Motor de Dados de Pesquisa de Meta-Dados
Name[pt_BR]=Motor de dados de pesquisa de meta-dados
Name[sv]=Eget datagränssnitt för metadatasökning
Name[uk]=Нетиповий рушій для пошуку метаданих
Name[x-test]=xxCustom Metadata Search Dataenginexx
Comment=Provides metadata for custom searches in semantic resources
Comment[et]=Semantiliste ressurssides kohandatud otsingu metaandmed
Comment[fr]=Fournit des métadonnées pour des recherches personnalisées dans les ressources sémantiques
Comment[km]=ផ្ដល់​ទិន្នន័យ​មេតា​សម្រាប់​ការស្វែងរក​ផ្ទាល់ខ្លួន​នៅ​ក្នុង​ប្រភព​​ស៊ីមែនទិក
Comment[nl]=Levert metagegevens voor aangepast zoeken in semantische hulpbronnen
Comment[pl]=Dostarcza metadane dla własnych wyszukiwań w zasobach semantycznych
Comment[pt]=Fornece meta-dados para pesquisas personalizadas nos recursos semânticos
Comment[pt_BR]=Fornece meta-dados para pesquisas personalizadas nos recursos semânticos
Comment[sv]=Tillhandahåller metadata för egna sökningar i semantiska resurser
Comment[uk]=Надає метадані у семантичних ресурсах для нетипових пошуків
Comment[x-test]=xxProvides metadata for custom searches in semantic resourcesxx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=nepomuk
X-KDE-Library=plasma_engine_active_customsearch
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.active.customsearch
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-Plasma-Args=plasma

