[Desktop Entry]
Encoding=UTF-8
Name=Quick Settings
Name[ast]=Axustes rápidos
Name[ca]=Opcions ràpides
Name[ca@valencia]=Opcions ràpides
Name[cs]=Rychlé nastavení
Name[de]=Schnelleinstellungen
Name[es]=Ajustes rápidos
Name[nl]=Snelle instellingen
Name[nn]=Snøgginnstillingar
Name[pl]=Szybkie ustawienia
Name[pt]=Configuração Rápida
Name[sv]=Snabbinställningar
Name[tr]=Hızlı Ayarlar
Name[uk]=Швидке налаштовування
Name[x-test]=xxQuick Settingsxx
Name[zh_TW]=快速設定

Comment=A panel to quickly access most important settings
Comment[ast]=Un panel p'acceder rápidamente a les opciones más importantes
Comment[ca]=Un plafó per accedir ràpidament a les opcions més importants
Comment[ca@valencia]=Un plafó per accedir ràpidament a les opcions més importants
Comment[es]=Un panel para acceder rápidamente a los ajustes más importantes
Comment[nl]=Een paneel voor snelle toegang tot de meest belangrijke instellingen
Comment[nn]=Panel for rask tilgang til dei viktigaste innstillingane
Comment[pl]=Panel szybkiego dostępu do najważniejszych ustawień
Comment[pt]=Um painel para aceder rapidamente às configurações mais importantes
Comment[sv]=En panel för att snabbt komma åt de viktigaste inställningarna
Comment[tr]=Önemli ayarların hızlıca yapılabildiği bir panel
Comment[uk]=Панель для пришвидшення доступу до найважливіших параметрів
Comment[x-test]=xxA panel to quickly access most important settingsxx
Comment[zh_TW]=快速存取重要設定的面板

Icon=systemsettings
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.quicksettings
X-KDE-Library=plasma_applet_quicksettings
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Settings

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
