[Desktop Entry]
Name=Power Button
Name[cs]=Vypínací tlačítko
Name[da]=Tænd-/sluk-knap
Name[de]=Netzschalter
Name[el]=Κουμπί τροφοδοσίας
Name[es]=Botón de encendido
Name[et]=Toitenupp
Name[fi]=Virtapainike
Name[fr]=Bouton de mise en marche
Name[hu]=Bekapcsológomb
Name[it]=Pulsante di accensione
Name[km]=ប៊ូតុង​ថាមពល
Name[nl]=Aan/Uit-knop
Name[pa]=ਪਾਵਰ ਬਟਨ
Name[pl]=Przycisk zasilania
Name[pt]=Botão de Energia
Name[pt_BR]=Botão de energia
Name[sk]=Tlačidlo napájania
Name[sl]=Gumb za izklop
Name[sv]=Strömknapp
Name[tr]=Güç Düğmesi
Name[ug]=توك مەنبە توپچىسى
Name[uk]=Кнопка живлення
Name[wa]=Boutoe d' aloumaedje
Name[x-test]=xxPower Buttonxx
Name[zh_CN]=电源按钮
Name[zh_TW]=電源按鈕
Comment=Suspends the device
Comment[da]=Suspenderer enheden
Comment[el]=Αναστέλλει τη συσκευή
Comment[es]=Suspende el dispositivo
Comment[et]=Seadme viimine uneseisundisse
Comment[fr]=Suspend le périphérique
Comment[hu]=Felfüggeszti az eszközt
Comment[it]=Sospendi il dispositivo
Comment[km]=ផ្អាក​ឧបករណ៍
Comment[nl]=Apparaat onderbreken
Comment[pa]=ਜੰਤਰ ਸਸਪੈਂਡ ਕਰੋ
Comment[pl]=Wstrzymuje urządzenie
Comment[pt]=Suspende o dispositivo
Comment[pt_BR]=Suspende o dispositivo
Comment[sl]=Postavi napravo v pripravljenost
Comment[sv]=Placera enheten i viloläge
Comment[tr]=Aygıtı askıya alır
Comment[uk]=Призупиняє роботу пристрою
Comment[wa]=Met doimi l' éndjin
Comment[x-test]=xxSuspends the devicexx
Comment[zh_CN]=挂起设备
Comment[zh_TW]=暫停裝置
Encoding=UTF-8
Keywords=Power Management, Battery, System, Energy
Keywords[cs]=Správa napájení, Baterie, Systém, Energie
Keywords[da]=Strømstyring, battery, system, energi
Keywords[de]=Energieverwaltungssystem,Akku,System,Energie
Keywords[el]=Διαχείριση τροφοδοσίας, μπαταρία, σύστημα, ενέργεια
Keywords[es]=Gestión de energía, batería, sistema, energía
Keywords[et]=Toitehaldus, aku, süsteem, energia
Keywords[fi]=Virranhallinta, akku, järjestelmä, virransäästö
Keywords[fr]=Gestion de l'alimentation, batterie, système, énergie
Keywords[hu]=Energiakezelés, Akkumulátor, Rendszer, Energia
Keywords[it]=Gestione dell'energia, batteria, sistema, energia
Keywords[km]=ការ​គ្រប់គ្រង​ថាមពល ថ្ម ប្រព័ន្ធ កម្លាំង
Keywords[nl]=Energiebeheer, accu, systeem, energie
Keywords[pl]=Zarządzanie energią, baterią, systemem
Keywords[pt]=Gestão de Energia, Bateria, Sistema, Energia
Keywords[pt_BR]=Gerenciamento de energia, bateria, sistema, energia
Keywords[sl]=Upravljanje z energijo,baterija,sistem,energija
Keywords[sv]=Strömhantering, batteri, system, energi
Keywords[tr]=Güç Yönetimi, Pil, Sistem, Enerji
Keywords[uk]=Керування живленням, акумулятор, система, енергія
Keywords[wa]=Manaedjmint di l' enerdjeye, batreye, sistinme, enerdjeye
Keywords[x-test]=xxPower Management, Battery, System, Energyxx
Keywords[zh_CN]=电源管理、电池、系统、能源
Keywords[zh_TW]=Power Management, Battery, System, Energy
Type=Service
Icon=system-suspend
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.powerbutton
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=32,32
X-Plasma-MainScript=code/PowerButton.qml
X-Plasma-RemoteLocation=
X-Plasma-NotificationArea=true
