[Desktop Entry]
Exec=contour
X-DBUS-StartupType=wait
Name=Contour data server
Name[el]=Εξυπηρετητής δεδομένων Contour
Name[es]=Servidor de datos Contour
Name[nl]=Omranding van gegevensserver
Name[pt]=Servidor de dados do Contour
Name[pt_BR]=Servidor de dados do Contour
Name[sk]=Dátový server Contour
Name[sl]=Podatkovni strežnik Contour
Name[sv]=Contour dataserver
Name[tr]=Contour veri sunucusu
Name[uk]=Сервер даних Contour
Name[x-test]=xxContour data serverxx

Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

