[Desktop Entry]
Exec=contour
X-DBUS-StartupType=wait
Name=Contour data server
Name[bs]=Contour data server
Name[ca]=Servidor de dades de Contour
Name[da]=Contour-dataserver
Name[de]=Contour-Datenserver
Name[el]=Εξυπηρετητής δεδομένων Contour
Name[es]=Servidor de datos Contour
Name[fr]=Serveur de données de Contour
Name[gl]=Servidor de datos Contour
Name[hu]=Contour adatkiszolgáló
Name[kk]=Contour дерек сервері
Name[ko]=Contour 데이터 서버
Name[nb]=Contour datatjener
Name[nl]=Omranding van gegevensserver
Name[pl]=Serwer danych Contour 
Name[pt]=Servidor de dados do Contour
Name[pt_BR]=Servidor de dados do Contour
Name[sk]=Dátový server Contour
Name[sl]=Podatkovni strežnik Contour
Name[sv]=Contour dataserver
Name[tr]=Contour veri sunucusu
Name[uk]=Сервер даних Contour
Name[x-test]=xxContour data serverxx
Name[zh_TW]=Contour 資料伺服器

Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

