[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Contour/RecommendationEngine

Comment=Recommendation engine for Contour
Comment[da]=Anbefalingsmotor til Contour
Comment[el]=Μηχανή συστάσεων για το Contour
Comment[es]=Motor de recomendaciones para Contour
Comment[fr]=Moteur de recommandation pour Contour
Comment[hu]=Javasolt motor a Contour kiszolgálóhoz
Comment[nb]=Anbefalingsmotor for Contour
Comment[nl]=Aanbevelingen-engine voor omranding
Comment[pl]=Zalecany silnik dla Contour
Comment[pt]=Motor de recomendações do Contour
Comment[pt_BR]=Mecanismo de recomendações do Contour
Comment[sk]=Odporúčací engine pre Contour
Comment[sl]=Pogon za priporočeno za Contour
Comment[sv]=Rekommendationsgränssnitt för Contour
Comment[tr]=Countour için önerilen motor
Comment[uk]=Рушій даних порад для Contour
Comment[x-test]=xxRecommendation engine for Contourxx
Comment[zh_TW]=Contour 推薦引擎


