[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Contour/RecommendationEngine/QtScript

Comment=Scripted recommendation engine for Contour
Comment[es]=Motor de recomendaciones de scripts para Contour
Comment[nl]=Aanbevelingen-engine voor omranding in scripts
Comment[pt]=Motor de recomendações programado do Contour
Comment[pt_BR]=Mecanismo de recomendações programado do Contour
Comment[sk]=Skriptovaný odporúčací engine pre Contour
Comment[sl]=Skriptiran pogon za priporočeno za Contour
Comment[sv]=Rekommendationsgränssnitt med skript för Contour
Comment[tr]=Countour için betiklenmiş önerilen motor
Comment[uk]=Скриптовий рушій даних порад для Contour
Comment[x-test]=xxScripted recommendation engine for Contourxx


