[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Contour/RecommendationEngine/QtScript

Comment=Scripted recommendation engine for Contour
Comment[ca]=Motor de recomanacions amb scripts per a Contour
Comment[da]=Scriptet anbefalingsmotor til Contour
Comment[de]=Skript-Vorschlags-Datentreiber für Contour
Comment[el]=Μηχανή σεναρίων παραγωγής συστάσεων για το Contour
Comment[es]=Motor de recomendaciones de scripts para Contour
Comment[fr]=Moteur de recommandation scriptée pour Contour
Comment[gl]=Motor de recomendacións con scripts para o Contour
Comment[hu]=Szkriptelt javasolt motor a Contour kiszolgálóhoz
Comment[kk]=Contour үшін лайықты скрипт тетігі
Comment[nb]=Skriptet anbefalingsmotor for Contour
Comment[nl]=Aanbevelingen-engine voor omranding in scripts
Comment[pl]=Skryptowe zalecenia silnika dla Contour
Comment[pt]=Motor de recomendações programado do Contour
Comment[pt_BR]=Mecanismo de recomendações programado do Contour
Comment[sk]=Skriptovaný odporúčací engine pre Contour
Comment[sl]=Skriptiran pogon za priporočeno za Contour
Comment[sv]=Rekommendationsgränssnitt med skript för Contour
Comment[tr]=Countour için betiklenmiş önerilen motor
Comment[uk]=Скриптовий рушій даних порад для Contour
Comment[x-test]=xxScripted recommendation engine for Contourxx
Comment[zh_TW]=Contour 文稿推薦引擎


