[Desktop Entry]
Name=Air for netbooks
Name[hr]=Zrak za netbooke
Name[pt]=Air para Netbooks
Name[sv]=Luft för bärbara nätdatorer
Name[tr]=Netbooklar için Air
Name[uk]=«Повітря» для субноутбука
Name[x-test]=xxAir for netbooksxx
Comment=A breath of fresh air
Comment[el]=Μια ριπή φρέσκου αέρα
Comment[en_GB]=A breath of fresh air
Comment[et]=Sõõm värsket õhku
Comment[gl]=Un pouco de ar fresco
Comment[hr]=Dašak svježeg zraka
Comment[nds]=En beten Frischluft
Comment[pt]=Uma brisa de ar fresco
Comment[ro]=O gură de aer proaspăt
Comment[sv]=En frisk fläkt
Comment[tr]=Bir nefes temiz hava
Comment[uk]=Ковток свіжого повітря
Comment[x-test]=xxA breath of fresh airxx


X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=air-netbook
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
FallbackTheme=default
