# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Location
Name[az]=Məkan
Name[ca]=Ubicació
Name[ca@valencia]=Ubicació
Name[cs]=Umístění
Name[de]=Standort
Name[en_GB]=Location
Name[es]=Ubicación
Name[eu]=Kokalekua
Name[fi]=Sijainti
Name[fr]=Localisation
Name[ia]=Location
Name[it]=Posizione
Name[ka]=მდებარეობა
Name[ko]=위치
Name[nl]=Locatie
Name[pl]=Położenie
Name[pt]=Localização
Name[pt_BR]=Localização
Name[ro]=Localizare
Name[ru]=Расположение
Name[sk]=Umiestnenie
Name[sl]=Lokacija
Name[sv]=Plats
Name[tr]=Konum
Name[uk]=Розташування
Name[x-test]=xxLocationxx
Name[zh_CN]=位置
Icon=gps
Description=Location quick setting
Description[az]=Məkan sürətli ayarı
Description[ca]=Configuració ràpida de la ubicació
Description[ca@valencia]=Configuració ràpida de la ubicació
Description[en_GB]=Location quick setting
Description[es]=Ajuste rápido de la ubicación
Description[eu]=Kokalekuaren ezarpen azkarra
Description[fi]=Sijainnin pika-asetus
Description[fr]=Configuration rapide de la localisation
Description[ia]=Preferentia rapide de location
Description[it]=Impostazioni rapide posizione
Description[ka]=მდებარეობის სწრაფი მორგება
Description[ko]=위치 빠른 설정
Description[nl]=Snelle instelling van locatie
Description[pl]=Szybkie ustawienia położenia
Description[pt]=Configuração rápida da localização
Description[pt_BR]=Configurações rápidas de localização
Description[ru]=Быстрая настройка расположения
Description[sl]=Hitre nastavitve lokacije
Description[sv]=Snabbinställning av plats
Description[tr]=Konum hızlı ayarı
Description[uk]=Швидке налаштовування розташування
Description[x-test]=xxLocation quick settingxx
Description[zh_CN]=位置快速设置

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.location
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+
