[Desktop Entry]
Comment=Plasma phone dialer
Comment[ca]=Marcador del telèfon del Plasma
Comment[ca@valencia]=Marcador del telèfon del Plasma
Comment[en_GB]=Plasma phone dialer
Comment[es]=Marcador del teléfono Plasma
Comment[nl]=Telefoonkiezer van Plasma
Comment[nn]=Telefonringjar for Plasma
Comment[pl]=Pole wybierania telefonu
Comment[pt]=Teclado do Plasma
Comment[sv]=Plasma telefonuppringning
Comment[uk]=Засіб набирання номеру Плазми
Comment[x-test]=xxPlasma phone dialerxx
Encoding=UTF-8
Keywords=
Name=Phone
Name[ca]=Telèfon
Name[ca@valencia]=Telèfon
Name[de]=Telefon
Name[en_GB]=Phone
Name[es]=Teléfono
Name[nl]=Telefoon
Name[nn]=Telefon
Name[pl]=Telefon
Name[pt]=Telefone
Name[sv]=Telefon
Name[uk]=Телефон
Name[x-test]=xxPhonexx
Type=Application
Icon=call-start
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.dialer
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/Generic
Exec=plasmaphonedialer %u

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
MimeType=x-scheme-handler/call
