[Desktop Entry]
Name=Addons example (QML)
Name[pt]=Exemplo de extensão (QML)
Name[pt_BR]=Exemplo de extensão (QML)
Name[uk]=Приклад додатків (QML)
Name[x-test]=xxAddons example (QML)xx
Comment=An example on how to use javascript addons in the qml plasmoids
Comment[pt]=Um exemplo de utilização de extensões em JavaScript nos plasmóides em QML
Comment[pt_BR]=Um exemplo de utilização de extensões em JavaScript nos plasmoides em QML
Comment[uk]=Приклад використання додатків javascript у плазмоїдах мовою qml
Comment[x-test]=xxAn example on how to use javascript addons in the qml plasmoidsxx
Encoding=UTF-8
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.addons-example-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
