[Desktop Entry]
Name=Mobile Fiber
Name[km]=សសៃ​ចល័ត
Name[pt]=Fibra Móvel
Name[pt_BR]=Fibra móvel
Name[sv]=Mobilfiber
Name[uk]=Мобільне волокно
Name[x-test]=xxMobile Fiberxx
X-KDE-PluginInfo-Name=Fiber
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=LGPLv3
