[Desktop Entry]
Encoding=UTF-8
Name=Phone Activities
Name[nl]=Telefoonactiviteiten
Name[pt]=Actividades do Telefone
Name[sv]=Telefonaktiviteter
Name[uk]=Простори дій телефону
Name[x-test]=xxPhone Activitiesxx

Comment=Activity switcher for the phone
Comment[nl]=Omschakelaar van telefoonactiviteiten
Comment[pt]=Selector de actividades do telefone
Comment[sv]=Aktivitetsbyte för telefonen
Comment[uk]=Перемикач дій для телефону
Comment[x-test]=xxActivity switcher for the phonexx
Icon=preferences-activities
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.activities
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Activities
X-Plasma-Provides=org.kde.plasma.activities

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
