[Desktop Entry]
Encoding=UTF-8
Name=Notifications
Name[cs]=Oznamování
Name[da]=Bekendtgørelser
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[es]=Notificaciones
Name[et]=Märguanded
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[ga]=Fógairt
Name[hu]=Értesítések
Name[it]=Notifiche
Name[km]=ការ​ជូនដំណឹង
Name[nl]=Meldingen
Name[pa]=ਸੂਚਨਾ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[sk]=Upozornenia
Name[sl]=Obvestila
Name[sv]=Underrättelser
Name[tr]=Bildirimler
Name[ug]=ئۇقتۇرۇشلار
Name[uk]=Сповіщення
Name[wa]=Notifiaedjes
Name[x-test]=xxNotificationsxx
Name[zh_CN]=通知
Name[zh_TW]=通知
Comment=Notifications
Comment[cs]=Oznamování
Comment[da]=Bekendtgørelser
Comment[de]=Benachrichtigungen
Comment[el]=Ειδοποιήσεις
Comment[es]=Notificaciones
Comment[et]=Märguanded
Comment[fi]=Ilmoitukset
Comment[fr]=Notifications
Comment[hu]=Értesítések
Comment[it]=Notifiche
Comment[km]=ការ​ជូនដំណឹង
Comment[nl]=Meldingen
Comment[pa]=ਸੂਚਨਾ
Comment[pl]=Powiadomienia
Comment[pt]=Notificações
Comment[pt_BR]=Notificações
Comment[sk]=Upozornenia
Comment[sl]=Obvestila
Comment[sv]=Underrättelser
Comment[tr]=Bildirimler
Comment[ug]=ئۇقتۇرۇشلار
Comment[uk]=Сповіщення
Comment[wa]=Notifiaedjes
Comment[x-test]=xxNotificationsxx
Comment[zh_CN]=通知
Comment[zh_TW]=通知

Type=Service
Icon=preferences-desktop-notification
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.notifications
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/PopupApplet,Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-NotificationArea=true
