[Desktop Entry]
Encoding=UTF-8
Name=Notifications
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[cs]=Oznamování
Name[de]=Benachrichtigungen
Name[en_GB]=Notifications
Name[es]=Notificaciones
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[gl]=Notificacións
Name[it]=Notifiche
Name[nl]=Meldingen
Name[nn]=Varslingar
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[sv]=Underrättelser
Name[tr]=Bildirimler
Name[uk]=Сповіщення
Name[x-test]=xxNotificationsxx
Name[zh_CN]=通知
Name[zh_TW]=通知
Comment=Display notifications and jobs
Comment[ca]=Mostra les notificacions i els treballs
Comment[ca@valencia]=Mostra les notificacions i els treballs
Comment[cs]=Oznámení a úlohy
Comment[de]=Benachrichtigungen und Aktionen anzeigen
Comment[en_GB]=Display notifications and jobs
Comment[es]=Mostrar notificaciones y tareas
Comment[fi]=Näytä ilmoitukset ja työt
Comment[fr]=Affiche les notifications et les tâches
Comment[gl]=Mostra notificacións e tarefas
Comment[it]=Visualizza le notifiche ed i lavori
Comment[nl]=Meldingen en taken tonen
Comment[nn]=Vis varslingar og jobbar
Comment[pl]=Wyświetla powiadomienia i zadania
Comment[pt]=Mostrar as notificações e tarefas
Comment[sv]=Visa underrättelser och jobb
Comment[tr]=Bildirimleri ve işleri görüntüle
Comment[uk]=Показ сповіщень і завдань
Comment[x-test]=xxDisplay notifications and jobsxx
Comment[zh_CN]=显示通知和任务
Comment[zh_TW]=顯示通知與工作

Type=Service
Icon=preferences-desktop-notification
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.phone.notifications
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-Provides=org.kde.plasma.notifications
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
