[Desktop Entry]
Encoding=UTF-8
Name=Notifications
Name[et]=Märguanded
Name[fr]=Notifications
Name[km]=ការ​ជូនដំណឹង
Name[nl]=Meldingen
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[sv]=Underrättelser
Name[ug]=ئۇقتۇرۇشلار
Name[uk]=Сповіщення
Name[x-test]=xxNotificationsxx
Comment=Notifications
Comment[et]=Märguanded
Comment[fr]=Notifications
Comment[km]=ការ​ជូនដំណឹង
Comment[nl]=Meldingen
Comment[pl]=Powiadomienia
Comment[pt]=Notificações
Comment[pt_BR]=Notificações
Comment[sv]=Underrättelser
Comment[ug]=ئۇقتۇرۇشلار
Comment[uk]=Сповіщення
Comment[x-test]=xxNotificationsxx

Type=Service
Icon=notifications
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.notifications
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=code/Notifications.qml

