Source: plasma-phone-components
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Boudewijn Rempt <boud@valdyas.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf5declarative-dev,
               libkf5notifications-dev,
               libkf5service-dev,
               libsystemd-dev,
               pkg-config,
               pkg-kde-tools (>= 0.9),
               plasma-framework-dev,
               qt5-default,
               qtdeclarative5-dev
Standards-Version: 3.9.6
Homepage: https://github.com/plasma-mobile/plasma-phone-components
Vcs-Browser: https://github.com/plasma-mobile/plasma-phone-components-packaging
Vcs-Git: https://github.com/plasma-mobile/plasma-phone-components-packaging.git

Package: plasma-phone-components
Architecture: any
Depends: plasma-workspace,
         qtwayland,
         ttf-oxygen-font-family,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Plasma Phone Components
 This package contains the home screen for the phone.
