#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export LDFLAGS += -Wl,--as-needed

%:
	dh $@ --parallel --with kde --with sodeps

override_dh_auto_configure:
	dh_auto_configure -Skde -- -DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_install:
	mv debian/plasma-phone-components debian/tmp
	dh_install

.PHONY: override_dh_auto_test

