[Desktop Entry]
Name=Image Viewer
Name[cs]=Prohlížeč obrázků
Name[es]=Visor de imágenes
Name[nl]=Afbeeldingenviewer
Name[pt]=Visualizador de Imagens
Name[sk]=Prehliadač obrázkov
Name[sv]=Bildvisare
Name[uk]=Переглядач зображень
Name[x-test]=xxImage Viewerxx
Comment=Touchscreen friendly simple image viewer
Comment[nl]=Eenvoudige afbeeldingenviewer vriendelijk voor aanraakscherm
Comment[pt]=Visualizador de imagens simples e amigável por toque
Comment[sv]=Enkel pekskärmsvänlig bildvisare
Comment[uk]=Проста сенсорна програма для перегляду зображень
Comment[x-test]=xxTouchscreen friendly simple image viewerxx
Encoding=UTF-8
Type=Service
Icon=active-image-viewer
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.imageviewer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/imageviewer.qml
