[Desktop Entry]
Name=Links plugin
Name[bs]=Linkovi plugin-a
Name[ca]=Connector per a enllaços
Name[ca@valencia]=Connector per a enllaços
Name[da]=Link-plugin
Name[de]=Verknüpfungsmodul
Name[el]=Πρόσθετο συνδέσμων
Name[es]=Complemento para enlaces
Name[fr]=Module externe de liens
Name[gl]=Engadido de ligazóns
Name[hu]=Hivatkozások bővítmény
Name[kk]=Сілтемелер плагині
Name[ko]=링크 플러그인
Name[nb]=Programtillegg for lenker
Name[nl]=Plug-in voor koppelingen
Name[pl]=Wtyczka odnośników
Name[pt]='Plugin' de ligações
Name[pt_BR]=Plugin de links
Name[sk]=Plugin odkazov
Name[sl]=Vstavek za povezave
Name[sv]=Länkinsticksprogram
Name[tr]=Bağlantılar eklentisi
Name[uk]=Додаток посилань
Name[x-test]=xxLinks pluginxx
Name[zh_TW]=連結外掛程式
Comment=Shows some KDE-related links
Comment[bs]=Prikazuje neke KDE-vezane linkove
Comment[ca]=Mostra alguns enllaços relacionats amb el KDE
Comment[ca@valencia]=Mostra alguns enllaços relacionats amb el KDE
Comment[da]=Viser nogle KDE-relaterede links
Comment[de]=Zeigt einige Verknüpfungen zu KDE
Comment[el]=Εμφανίζει κάποιους συνδέσμους σχετικούς με το KDE
Comment[es]=Muestra algunos enlaces relacionados con KDE
Comment[fr]=Affiche des lie,s apparentés à KDE
Comment[gl]=Mostra algunhas ligazóns relacionadas co KDE
Comment[hu]=Megjelenít néhány KDE-vel kapcsolatos hivatkozást
Comment[kk]=Кейбір KDE-ге арналған сілтемелерді көрсетеді
Comment[ko]=KDE 관련 링크 표시
Comment[nb]=Viser noen KDE-relaterte lenker
Comment[nl]=Toont enige aan KDE gerelateerde koppelingen
Comment[pl]=Pokaż pewne odnośniki związane z KDE
Comment[pt]=Mostra algumas ligações relacionadas com o KDE
Comment[pt_BR]=Mostra alguns links relacionados ao KDE
Comment[sk]=Zobrazí niektoré KDE odkazy
Comment[sl]=Pokaže nekatere povezave sorodne s KDE
Comment[sv]=Visar vissa KDE-relaterade länkar
Comment[tr]=Bazı KDE ile ilgili bağlantıları gösterir
Comment[uk]=Показує деякі пов’язані з KDE посилання
Comment[x-test]=xxShows some KDE-related linksxx
Comment[zh_TW]=顯示一些 KDE 相關連結
Type=Service
Icon=

X-KDE-ServiceTypes=Contour/RecommendationEngine/QtScript
X-KDE-Library=org.kde.contour.links
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.contour.links
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-ActivityManager-PluginType=normal
