# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Mobile Data
Name[az]=Mobil internet
Name[ca]=Dades mòbils
Name[ca@valencia]=Dades mòbils
Name[cs]=Mobilní data
Name[de]=Mobile Daten
Name[en_GB]=Mobile Data
Name[es]=Datos móviles
Name[eu]=Mugikorreko datuak
Name[fi]=Mobiilidata
Name[fr]=Données mobiles
Name[ia]=Datos Mobile
Name[it]=Dati mobili
Name[ka]=მობილური ინტერნეტი
Name[ko]=모바일 데이터
Name[nl]=Mobiele gegevens
Name[pl]=Dane komórkowe
Name[pt]=Dados Móveis
Name[pt_BR]=Dados móveis
Name[ro]=Date mobile
Name[ru]=Мобильные данные
Name[sk]=Mobilné dáta
Name[sl]=Mobilni podatki
Name[sv]=Mobildata
Name[tr]=Mobil veri
Name[uk]=Мобільні дані
Name[x-test]=xxMobile Dataxx
Name[zh_CN]=移动数据
Icon=network-modem
Description=Location quick setting
Description[az]=Məkan sürətli ayarı
Description[ca]=Configuració ràpida de la ubicació
Description[ca@valencia]=Configuració ràpida de la ubicació
Description[en_GB]=Location quick setting
Description[es]=Ajuste rápido de la ubicación
Description[eu]=Kokalekuaren ezarpen azkarra
Description[fi]=Sijainnin pika-asetus
Description[fr]=Configuration rapide de la localisation
Description[ia]=Preferentia rapide de location
Description[it]=Impostazioni rapide posizione
Description[ka]=მდებარეობის სწრაფი მორგება
Description[ko]=위치 빠른 설정
Description[nl]=Snelle instelling van locatie
Description[pl]=Szybkie ustawienia położenia
Description[pt]=Configuração rápida da localização
Description[pt_BR]=Configurações rápidas de localização
Description[ru]=Быстрая настройка расположения
Description[sl]=Hitre nastavitve lokacije
Description[sv]=Snabbinställning av plats
Description[tr]=Konum hızlı ayarı
Description[uk]=Швидке налаштовування розташування
Description[x-test]=xxLocation quick settingxx
Description[zh_CN]=位置快速设置

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.mobiledata
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+

