[Desktop Entry]
X-SuSE-translate=true
TryExec=/nowhere
Exec=krunner
X-DBUS-StartupType=wait
Name=KRunner
Name[da]=KRunner
Name[es]=KRunner
Name[et]=KRunner
Name[fr]=KRunner
Name[nl]=KRunner
Name[pl]=KRunner
Name[pt]=KRunner
Name[pt_BR]=KRunner
Name[sk]=KRunner
Name[sv]=Kör program
Name[tr]=KRunner
Name[uk]=KRunner
Name[x-test]=xxKRunnerxx
Name[zh_CN]=KRunner
Name[zh_TW]=KRunner
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0


