[Desktop Entry]
X-SuSE-translate=true
TryExec=/nowhere
Exec=krunner
X-DBUS-StartupType=wait
Name=KRunner
Name[pt]=KRunner
Name[sk]=KRunner
Name[uk]=KRunner
Name[x-test]=xxKRunnerxx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0


