[Desktop Entry]
Name=KWin GLES
Name[nl]=KWin GLES
Name[pt]=KWin GLES
Name[pt_BR]=KWin GLES
Name[sv]=Kwin GLES
Name[uk]=KWin з GLES
Name[x-test]=xxKWin GLESxx
Exec=kwin_gles
TryExec=kwin_gles
X-KDE-WindowManagerConfigure=systemsettings
X-KDE-WindowManagerRestartArgument=--replace
