[Desktop Entry]
Name=KWin GLES
Name[da]=KWin GLES
Name[el]=KWin GLES
Name[es]=KWin GLES
Name[et]=KWin GLES
Name[fr]=KWin GLES
Name[nl]=KWin GLES
Name[pl]=KWin GLES
Name[pt]=KWin GLES
Name[pt_BR]=KWin GLES
Name[sk]=KWin GLES
Name[sv]=Kwin GLES
Name[tr]=KWin GLES
Name[uk]=KWin з GLES
Name[x-test]=xxKWin GLESxx
Name[zh_CN]=KWin GLES
Name[zh_TW]=KWin GLES
Exec=kwin_gles
TryExec=kwin_gles
X-KDE-WindowManagerConfigure=systemsettings
X-KDE-WindowManagerRestartArgument=--replace
