[Desktop Entry]
X-SuSE-translate=true
Exec=sleep 3 ; plasma-contour
X-DBUS-StartupType=wait
Name=Plasma Active Contour Shell
Name[nl]=Plasma-shell met actieve omtrek
Name[pt_BR]=Shell do Plasma Active Contour
Name[sv]=Plasma aktivt konturskal
Name[uk]=Оболонка Контур Плазми для сенсорних екранів
Name[x-test]=xxPlasma Active Contour Shellxx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0


