[Desktop Entry]
X-SuSE-translate=true
TryExec=/nowhere
Exec=plasma-desktop
X-DBUS-StartupType=wait
Name=Plasma Desktop Workspace
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0


