[Desktop Entry]
X-SuSE-translate=true
TryExec=/nowhere
Exec=plasma-desktop
X-DBUS-StartupType=wait
Name=Plasma Desktop Workspace
Name[cs]=Pracovní plocha Plasma
Name[de]=Plasma-Arbeitsflächenbereiche
Name[es]=Espacio de trabajo del escritorio Plasma
Name[et]=Plasma töölaua töötsoon
Name[fr]=Espace de travail du bureau Plasma
Name[ga]=Spás Oibre Deisce Plasma
Name[km]=តំបន់​ធ្វើការ​ផ្ទៃតុ​ប្លាស្មា
Name[nl]=Plasma Bureaubladwerkruimte
Name[pl]=Przestrzeń pulpitu Plazmy
Name[pt]=Espaço do Ecrã do Plasma
Name[pt_BR]=Espaço de trabalho do Plasma
Name[sv]=Arbetsyta för Plasma skrivbord
Name[ug]=پلازما ئۈستەلئۈستى خىزمەت بوشلۇقى
Name[uk]=Робочий простір стільниці Плазми
Name[x-test]=xxPlasma Desktop Workspacexx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0


