[Desktop Entry]
X-SuSE-translate=true
TryExec=/usr/bin/active-firstrun
Exec=active-firstrun >> /tmp/active-firstrun.log 2>&1 &
X-DBUS-StartupType=wait
Name=KRunner
Name[de]=KRunner
Name[es]=KRunner
Name[et]=KRunner
Name[nl]=KRunner
Name[pl]=KRunner
Name[pt]=KRunner
Name[pt_BR]=KRunner
Name[sk]=KRunner
Name[sv]=Kör program
Name[uk]=KRunner
Name[x-test]=xxKRunnerxx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0


