[Desktop Entry]
Name=About
Name[de]=Über
Name[es]=Acerca de
Name[et]=Teave
Name[nl]=Info over
Name[pl]=O programie
Name[pt]=Acerca
Name[pt_BR]=Sobre
Name[sv]=Om
Name[ug]=ھەققىدە
Name[uk]=Про програму
Name[x-test]=xxAboutxx
GenericName=About Plasma Active
GenericName[es]=Acerca de Plasma Active
GenericName[et]=Teave Plasma Active'i kohta
GenericName[nl]=Info over Plasma Active
GenericName[pl]=O Plazma Active
GenericName[pt]=Acerca do Plasma Active
GenericName[pt_BR]=Sobre o Plasma Active
GenericName[sv]=Om Plasma aktiv
GenericName[uk]=Про Портативну Плазму
GenericName[x-test]=xxAbout Plasma Activexx
Comment=Information about Plasma Active
Comment[es]=Información sobre Plasma Active
Comment[et]=Teave Plasma Active'i kohta
Comment[nl]=Informatie over Plasma Active
Comment[pl]=Informacje o Plazma Active
Comment[pt]=Informações acerca do Plasma Active
Comment[pt_BR]=Informações sobre o Plasma Active
Comment[sv]=Information om Plasma aktiv
Comment[uk]=Дані щодо Портативної Плазми
Comment[x-test]=xxInformations about Plasma Activexx
Exec=active-aboutapp -graphicssystem raster
Terminal=false
Icon=active-about
Type=Application
Categories=Qt;KDE;Core;Documentation;System;
