[Desktop Entry]
Name=About
Name[cs]=O aplikaci
Name[da]=Om
Name[de]=Über
Name[el]=Σχετικά
Name[es]=Acerca de
Name[et]=Teave
Name[fi]=Tietoja
Name[fr]=À propos
Name[hu]=Névjegy
Name[km]=អពី
Name[nl]=Info over
Name[pa]=ਇਸ ਬਾਰੇ
Name[pl]=O programie
Name[pt]=Acerca
Name[pt_BR]=Sobre
Name[sk]=O programe
Name[sv]=Om
Name[tr]=Hakkında
Name[ug]=ھەققىدە
Name[uk]=Про програму
Name[wa]=Åd fwait
Name[x-test]=xxAboutxx
Name[zh_CN]=关于
Name[zh_TW]=關於
GenericName=About Plasma Active
GenericName[da]=Om Plasma Active
GenericName[de]=Über Plasma Active
GenericName[el]=Σχετικά με το Plasma Active
GenericName[es]=Acerca de Plasma Active
GenericName[et]=Teave Plasma Active'i kohta
GenericName[fr]=À propos de Plasma Active
GenericName[hu]=Névjegy: Plasma Active
GenericName[km]=អំពី​ប្លាស្មា​សកម្ម
GenericName[nl]=Info over Plasma Active
GenericName[pa]=ਪਲਾਜ਼ਮਾ ਐਕਟਿਵ ਬਾਰੇ
GenericName[pl]=O Plazma Active
GenericName[pt]=Acerca do Plasma Active
GenericName[pt_BR]=Sobre o Plasma Active
GenericName[sv]=Om Plasma Active
GenericName[tr]=Plasma Active Hakkında
GenericName[uk]=Про Портативну Плазму
GenericName[wa]=Åd fwait di Plasma Active
GenericName[x-test]=xxAbout Plasma Activexx
GenericName[zh_CN]=关于 Plasma Active
GenericName[zh_TW]=關於 Plasma Active
Comment=Information about Plasma Active
Comment[da]=Information om Plasma Active
Comment[de]=Informationen über Plasma Active
Comment[el]=Πληροφορίες σχετικά με το Plasma Active
Comment[es]=Información sobre Plasma Active
Comment[et]=Teave Plasma Active'i kohta
Comment[fr]=Informations à propos de Plasma Active
Comment[hu]=Információk a Plasma Active-ról
Comment[km]=ព័ត៌មាន​អំពី​ប្លាស្មា​សកម្ម
Comment[nl]=Informatie over Plasma Active
Comment[pl]=Informacje o Plazma Active
Comment[pt]=Informações acerca do Plasma Active
Comment[pt_BR]=Informações sobre o Plasma Active
Comment[sv]=Information om Plasma Active
Comment[tr]=Plasma Active hakkında bilgiler
Comment[uk]=Інформація щодо Портативної Плазми
Comment[wa]=Informåcions åd fwait di Plasma Active
Comment[x-test]=xxInformation about Plasma Activexx
Comment[zh_CN]=Plasma Active 的信息
Comment[zh_TW]=關於 Plasma Active 的資訊
Exec=active-aboutapp -graphicssystem raster
Terminal=false
Icon=active-about
Type=Application
Categories=Qt;KDE;Core;Documentation;System;
