[Desktop Entry]
Encoding=UTF-8
Name=Mobile Network Operator
Name[es]=Operador de red móvil
Name[pt]=Operador da Rede Móvel
Name[uk]=Оператор мобільної мережі
Name[x-test]=xxMobile Network Operatorxx

Type=Service
ServiceTypes=Plasma/Applet
Icon=phone
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=org.kde.mobilenetworkoperator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Mobile Phone
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
