[Desktop Entry]
Encoding=UTF-8
Name=Mobile System Tray
Name[et]=Mobiili süsteemisalv
Name[fr]=Boîte à miniatures du réseau mobile
Name[km]=ថាស​ប្រព័ន្ធ​ចល័ត
Name[nl]=Systeemvak voor mobiel
Name[pl]=Tacka systemowa dla Mobile
Name[pt]=Bandeja do Sistema Móvel
Name[pt_BR]=Área de notificação móvel
Name[sv]=Systembricka för mobil
Name[uk]=Мобільний у системному лотку
Name[x-test]=xxMobile System Trayxx
Comment=A system tray applet for mobile shell
Comment[et]=Süsteemisalve aplett mobiilile
Comment[fr]=Une applet de boîte à miniatures pour un interpréteur de réseau mobile
Comment[km]=ថាស​ប្រព័ន្ធ​អាប់ភ្លេត​សម្រាប់​សែល​ចល័ត
Comment[nl]=Een systeemvak-applet voor de mobiele shell
Comment[pl]=Aplet tacki systemowej dla powłoki Mobile
Comment[pt]=Uma 'applet' da bandeja para a área de trabalho móvel
Comment[pt_BR]=Um miniaplicativo de área de notificação para a área de trabalho móvel
Comment[sv]=Ett miniprogram med systembricka för mobil-skal
Comment[uk]=Аплет системного лотка для командної оболонки керування мобільним телефоном
Comment[x-test]=xxA system tray applet for mobile shellxx
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ContainmentCategories=panel
