[Desktop Entry]
Encoding=UTF-8
Name=Mobile System Tray
Name[da]=Statusområde til Mobile
Name[el]=Πλαίσιο συστήματος για κινητά
Name[es]=Bandeja del sistema móvil
Name[et]=Mobiili süsteemisalv
Name[fr]=Boîte à miniatures du réseau mobile
Name[km]=ថាស​ប្រព័ន្ធ​ចល័ត
Name[nl]=Systeemvak voor mobiel
Name[pl]=Tacka systemowa dla Mobile
Name[pt]=Bandeja do Sistema Móvel
Name[pt_BR]=Área de notificação móvel
Name[sv]=Mobil systembricka
Name[tr]=Cep Telefonu Sistem Çekmecesi
Name[uk]=Мобільний у системному лотку
Name[wa]=Boesse ås imådjetes sistinme axhlåve
Name[x-test]=xxMobile System Trayxx
Name[zh_TW]=行動系統匣
Comment=A system tray applet for mobile shell
Comment[da]=En statusområde-applet til Mobil-skallen
Comment[el]=Μικροεφαρμογή πλαισίου συστήματος για κέλυφος κινητού
Comment[et]=Süsteemisalve aplett mobiilile
Comment[fr]=Une applet de boîte à miniatures pour une console de réseau mobile
Comment[km]=ថាស​ប្រព័ន្ធ​អាប់ភ្លេត​សម្រាប់​សែល​ចល័ត
Comment[nl]=Een systeemvak-applet voor de mobiele shell
Comment[pl]=Aplet tacki systemowej dla powłoki Mobile
Comment[pt]=Uma 'applet' da bandeja para a área de trabalho móvel
Comment[pt_BR]=Um miniaplicativo de área de notificação para a área de trabalho móvel
Comment[sv]=Ett miniprogram för systembrickan i mobila skal
Comment[tr]=Mobil kabuk için sistem çekmecesi gereci
Comment[uk]=Аплет системного лотка для командної оболонки керування мобільним телефоном
Comment[wa]=Ene boesse ås imådjetes sistinme pol shell axhlåve
Comment[x-test]=xxA system tray applet for mobile shellxx
Comment[zh_TW]=Mobile shell 使用的系統匣
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ContainmentCategories=panel
