[Desktop Entry]
Name=Audio metadata browser
Name[bs]=Audio metadata preglednik
Name[ca]=Navegador de metadades d'àudio
Name[ca@valencia]=Navegador de metadades d'àudio
Name[da]=Browser til lyd-metadata
Name[de]=Audiometadaten-Browser
Name[el]=Audio metadata browser
Name[es]=Explorador de metadatos de audio
Name[fr]=Navigateur de métadonnées audio
Name[gl]=Navegador de metadatos de son
Name[hu]=Hang metaadat böngésző
Name[kk]=Аудио метадерек шолғышы
Name[ko]=오디오 메타 데이터 탐색기
Name[nb]=Blaing i metadata for lyd
Name[nl]=Browser voor metagegevens van audio
Name[pl]=Przeglądarka metadanych dźwięku
Name[pt]=Navegador de meta-dados de áudio
Name[pt_BR]=Navegador de metadados de áudio
Name[sk]=Prehliadač metadát audia
Name[sl]=Brskalnik po zvočnih metapodatkih
Name[sv]=Bläddra i ljud-metadata
Name[tr]=Ses üst veri tarayıcısı
Name[uk]=Програма для перегляду метаданих звукових файлів
Name[x-test]=xxAudio metadata browserxx
Name[zh_TW]=音效檔中繼資料瀏覽器
Comment=A browser for audio files metadata
Comment[bs]=Pretraživač audio datoteka metadata
Comment[ca]=Un navegador per a metadades d'àudio
Comment[ca@valencia]=Un navegador per a metadades d'àudio
Comment[da]=En browser til lydfilers metadata
Comment[de]=Ein Browser für Metadaten von Audiodateien
Comment[el]=Ένας περιηγητής μεταδεδομένων αρχείων ήχου
Comment[es]=Un explorador de metadatos de archivos de audio
Comment[fr]=Un navigateur pour les métadonnées de fichiers audio
Comment[gl]=Un navegador para metadatos de ficheiros de son
Comment[hu]=Egy böngésző hangfájlok metaadataihoz
Comment[kk]=Аудио файлдардағы метадерек шолғышы
Comment[ko]=오디오 파일 메타 데이터 탐색기
Comment[nb]=Program som blar i metadata for lydfiler
Comment[nl]=Een browser voor metagegevens van audiobestanden
Comment[pl]=Przeglądarka dla metadanych plików dźwiękowych
Comment[pt]=Um navegador para os meta-dados dos ficheiros de áudio
Comment[pt_BR]=Navegador para os metadados dos arquivos de áudio
Comment[sk]=Prehliadač pre metadáta audio súborov
Comment[sl]=Brskalnik po metapodatkih zvočnih datotek
Comment[sv]=En bläddrare för ljudfil-metadata
Comment[tr]=Ses dosyası üst verileri için bir tarayıcı
Comment[uk]=Програма для перегляду метаданих звукових файлів
Comment[x-test]=xxA browser for audio files metadataxx
Comment[zh_TW]=音效檔中繼資料瀏覽器
Encoding=UTF-8
Type=Service
Icon=audio-x-generic
X-KDE-ServiceTypes=Active/FileBrowserPart
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.audiopart
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/BrowserAddon.qml
ResourceTypes=nfo:Audio
#FIXME
MimeTypes=nfo:Audio
SupportedComponents=Browser
