[Desktop Entry]
Encoding=UTF-8
Name=Launcher panel
Name[da]=Panel til programstart
Name[es]=Panel de lanzamiento
Name[nl]=Startpaneel
Name[pl]=Panel uruchamiania
Name[pt]=Painel de lançamento
Name[pt_BR]=Painel de lançamento
Name[sv]=Programstartpanel
Name[tr]=Başlatıcı paneli
Name[uk]=Панель запуску
Name[x-test]=xxLauncher panelxx
Comment=Panel with some launcher icons
Comment[da]=Panel med programgenveje
Comment[es]=Panel con algunos iconos de lanzamiento
Comment[nl]=Paneel met pictogrammen om iets te starten
Comment[pl]=Panel z pewnymi ikonami aktywatorów programów
Comment[pt]=Painel com alguns ícones de lançamento
Comment[pt_BR]=Painel com alguns ícones de lançamento
Comment[sv]=Panel med några startikoner
Comment[tr]=Bazı uygulama simgelerini barındıran panel
Comment[uk]=Панель з піктограмами для запуску програм
Comment[x-test]=xxPanel with some launcher iconsxx
Icon=preferences-desktop-launch-feedback
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.launcherpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-RequiredExtensions=LaunchApp
