[Desktop Entry]
Encoding=UTF-8
Name=Digital clock
Name[bs]=Digitalni sat
Name[ca]=Rellotge digital
Name[ca@valencia]=Rellotge digital
Name[cs]=Digitální hodiny
Name[da]=Digitalt ur
Name[de]=Digitale Uhr
Name[el]=Ψηφιακό ρολόι
Name[es]=Reloj digital
Name[et]=Digitaalkell
Name[fi]=Digitaalikello
Name[fr]=Horloge numérique
Name[gl]=Reloxo dixital
Name[hu]=Digitális óra
Name[it]=Orologio digitale
Name[kk]=Цифрлық сағат
Name[ko]=디지털 시계
Name[lt]=Skaitmeninis laikrodis
Name[mr]=डिजिटल घड्याळ
Name[nb]=Digital klokke
Name[nl]=Digitale klok
Name[pl]=Zegar cyfrowy
Name[pt]=Relógio digital
Name[pt_BR]=Relógio digital
Name[ro]=Ceas digital
Name[sk]=Digitálne hodiny
Name[sl]=Digitalna ura
Name[sv]=Digitalklocka
Name[tr]=Dijital saat
Name[ug]=رەقەملىك سائەت
Name[uk]=Цифровий годинник
Name[wa]=Ôrlodje limerike
Name[x-test]=xxDigital clockxx
Name[zh_TW]=數位時鐘
Comment=Time displayed in a digital format
Comment[bs]=Vrijeme prikazano u digitalnom obliku
Comment[ca]=L'hora visualitzada en un format digital
Comment[ca@valencia]=L'hora visualitzada en un format digital
Comment[cs]=Čas zobrazený v digitálním formátu
Comment[da]=Tiden vist i et digitalt format
Comment[de]=Zeigt die Uhrzeit in digitaler Form an.
Comment[el]=Ο χρόνος εμφανίζεται σε ψηφιακή μορφή
Comment[es]=La hora mostrada en formato digital
Comment[et]=Aja esitamine digitaalsel kujul
Comment[fr]=Heure affichée dans un format numérique
Comment[ga]=An t-am, taispeánta i bhformáid dhigiteach
Comment[gl]=A hora mostrada nun formato dixital.
Comment[hu]=Digitális formában kijelzett idő
Comment[it]=Ora indicata in formato digitale
Comment[kk]=Уақытты цифрлармен көрсету
Comment[ko]=디지털 형식으로 시간 표시
Comment[lt]=Laikas rodomas skaitmeniniu formatu
Comment[mr]=डिजीटल स्वरूपात दर्शविलेली वेळ
Comment[nb]=Tid vist i digitalt format
Comment[nl]=Tijd weergegeven in een digitale opmaak
Comment[pl]=Czas pokazywany w formacie cyfrowym
Comment[pt]=A hora apresentada num formato digital
Comment[pt_BR]=Hora exibida em formato digital
Comment[ro]=Ora afișată în format numeric
Comment[sk]=Čas zobrazený v digitálnom formáte
Comment[sl]=Čas prikazan v digitalni obliki
Comment[sv]=Tid visat med ett digitalt format
Comment[tr]=Dijital biçimde gösterilen saat 
Comment[ug]=ۋاقىتنى رەقەم پىچىمىدا كۆرسىتىدۇ
Comment[uk]=Час, показаний у цифровому форматі
Comment[wa]=L' eure håynêye dins ene cogne limerike
Comment[x-test]=xxTime displayed in a digital formatxx
Comment[zh_TW]=以數位格式顯示時間

Type=Service
Icon=clock
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.digital-clock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,32
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp

