[Desktop Entry]
Encoding=UTF-8
Name=Digital Clock (QML)
Name[en_GB]=Digital Clock (QML)
Name[es]=Reloj digital (QML)
Name[et]=Digitaalkell (QML)
Name[ja]=デジタル時計 (QML)
Name[km]=នាឡិកា​ឌីជីថល (QML)
Name[nds]=Digitaalklock (QLM)
Name[pt]=Relógio Digital (QML)
Name[pt_BR]=Relógio digital (QML)
Name[sv]=Digitalklocka (QML)
Name[uk]=Цифровий годинник (QML)
Name[x-test]=xxDigital Clock (QML)xx
Comment=A digital clock in QML
Comment[en_GB]=A digital clock in QML
Comment[es]=Un reloj digital en QML
Comment[et]=Digitaalkell QML keeles
Comment[ja]=QML によるデジタル時計
Comment[km]=នាឡិកា​ឌីជីថល​ក្នុង​ QML
Comment[pt]=Um relógio digital em QML
Comment[pt_BR]=Um relógio digital em QML
Comment[sv]=En digitalklocka i QML
Comment[uk]=Цифровий годинник, написаний мовою QML
Comment[x-test]=xxA digital clock in QMLxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=org.kde.digital-clock-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
