[Desktop Entry]
# ctxt: plasma containment
Name=Mobile icon grid
Name[en_GB]=Mobile icon grid
Name[km]=ក្រឡាចត្រង្គរបស់​​រូបតំណាង​ចល័ត
Name[pt]=Grelha de ícones móvel
Name[pt_BR]=Grade de ícones móveis
Name[sv]=Ikonrutnät för mobiler
Name[th]=กริดไอคอนสำหรับมือถือ
Name[uk]=Гратка для піктограм мобільної версії
Name[x-test]=xxMobile icon gridxx
Comment=Main menu for mobile devices
Comment[en_GB]=Main menu for mobile devices
Comment[es]=Menú principal para dispositivos móviles
Comment[et]=Peamenüü mobiilsetele seadmetele
Comment[ja]=モバイルデバイスのメインメニュー
Comment[km]=ម៉ឺនុយ​មេ​សម្រាប់​ឧបករណ៍​ចល័ត
Comment[pt]=Menu principal para dispositivos móveis
Comment[pt_BR]=Menu principal para dispositivos móveis
Comment[sv]=Huvudmeny för mobilenheter
Comment[th]=เมนูหลักสำหรับอุปกรณ์มือถือ
Comment[uk]=Головне меню для мобільних пристроїв
Comment[x-test]=xxMain menu for mobile devicesxx
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
NoDisplay=true

X-KDE-ParentAppp=plasma-mobile
X-KDE-Library=plasma_containment_mobilelauncher
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.mobilelauncher
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
