[Desktop Entry]
Name=Now playing (QML)
Name[ja]=今聴いているもの (QML)
Name[pt]=Agora a tocar (QML)
Name[pt_BR]=Reproduzindo agora (QML)
Name[sv]=Spelar nu (QML)
Name[uk]=Зараз відтворюється (QML)
Name[x-test]=xxNow playing (QML)xx
Comment=A proof of concept media player controller qml
Comment[pt]=Uma prova de conceito de um controlador multimédia em QML
Comment[pt_BR]=Uma prova de conceito de um controlador multimídia em QML
Comment[sv]=Ett koncept för ett kontrollverktyg för mediaspelare i QML
Comment[uk]=Тестова програма для спостереження за відтворенням мультимедійних даних, написана мовою qml
Comment[x-test]=xxA proof of concept media player controller qmlxx
Encoding=UTF-8
Icon=applications-multimedia
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.nowplaying-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
