[Desktop Entry]
Name=Airplane Mode
Name[ca]=Mode avió
Name[cs]=Režim v Letadle
Name[en_GB]=Airplane Mode
Name[es]=Modo avión
Name[eu]=Hegaldi modua
Name[fr]=Mode Avion
Name[ia]=Modo aeroplano
Name[nl]=Vliegtuigmodus
Name[nn]=Flymodus
Name[pa]=ਏਅਰਪਲੇਨ ਮੋਡ
Name[pl]=Tryb samolotowy
Name[pt_BR]=Modo avião
Name[ru]=Режим полёта
Name[sl]=Letalski način
Name[sv]=Flygplansläge
Name[uk]=Режим польоту
Name[x-test]=xxAirplane Modexx
Name[zh_CN]=飞行模式
Icon=network-flightmode-on

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Bhushan Shah
X-KDE-PluginInfo-Email=bshah@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.airplanemode
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL

