# SPDX-FileCopyrightText: 2021 Bhushan Shah <bshah@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Airplane Mode
Name[az]=Uçuş rejimi
Name[ca]=Mode avió
Name[ca@valencia]=Mode avió
Name[cs]=Režim v Letadle
Name[da]=Flytilstand
Name[de]=Flugzeug-Modus
Name[en_GB]=Airplane Mode
Name[es]=Modo avión
Name[eu]=Hegaldi modua
Name[fi]=Lentokonetila
Name[fr]=Mode Avion
Name[hi]=विमान मोड
Name[hu]=Repülős üzemmód
Name[ia]=Modo aeroplano
Name[it]=Modalità aereo
Name[ka]=თვითმფრინავის რეჟიმი
Name[ko]=비행기 모드
Name[nl]=Vliegtuigmodus
Name[nn]=Flymodus
Name[pa]=ਏਅਰਪਲੇਨ ਮੋਡ
Name[pl]=Tryb samolotowy
Name[pt]=Modo de Avião
Name[pt_BR]=Modo avião
Name[ro]=Regim de avion
Name[ru]=Режим полёта
Name[sk]=Režim lietadlo
Name[sl]=Letalski način
Name[sv]=Flygplansläge
Name[tr]=Uçak Kipi
Name[uk]=Режим польоту
Name[x-test]=xxAirplane Modexx
Name[zh_CN]=飞行模式
Icon=network-flightmode-on
Description=Airplane mode quick setting
Description[az]=Təyyarə rejimi sürətli ayarı
Description[ca]=Configuració ràpida del mode avió
Description[ca@valencia]=Configuració ràpida del mode avió
Description[en_GB]=Airplane mode quick setting
Description[es]=Ajuste rápido del modo avión
Description[eu]=Hegaldi-moduaren ezarpen azkarra
Description[fi]=Lentokonetilan pika-asetus
Description[fr]=Configuration rapide du mode Avion
Description[ia]=Preferentia   rapide de modo eroplano
Description[it]=Impostazioni rapide per la modalità aereo
Description[ka]=თვითმფრინავის რეჟიმის სწრაფი დაყენება
Description[ko]=비행기 모드 빠른 설정
Description[nl]=Snelle instelling van vliegtuigmodus
Description[pl]=Szybkie ustawienia trybu samolotowego
Description[pt]=Configuração rápida do modo de avião
Description[pt_BR]=Configurações rápidas do modo avião
Description[ru]=Быстрая настройка режима полёта
Description[sl]=Hitre nastavitve letalskega načina
Description[sv]=Snabbinställning av flygplansläge
Description[tr]=Uçak kipi hızlı ayarı
Description[uk]=Швидке встановлення режиму польоту
Description[x-test]=xxAirplane mode quick settingxx
Description[zh_CN]=飞行模式快速设置

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Bhushan Shah
X-KDE-PluginInfo-Email=bshah@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.airplanemode
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+

