[Desktop Entry]
Exec=plasma-keyboardcontainer
X-DBUS-StartupType=wait
Name=Plasma Desktop Workspace
Name[cs]=Pracovní plocha Plasma
Name[da]=Plasma Desktop Arbejdsområde
Name[de]=Plasma-Arbeitsflächenbereiche
Name[el]=Χώρος εργασίας επιφάνειας plasma
Name[es]=Espacio de trabajo Plasma
Name[et]=Plasma töölaua töötsoon
Name[fr]=Espace de travail du bureau Plasma
Name[ga]=Spás Oibre Deisce Plasma
Name[hu]=Plasma Desktop munkaterület
Name[it]=Area di lavoro del desktop Plasma
Name[km]=តំបន់​ធ្វើការ​ផ្ទៃតុ​ប្លាស្មា
Name[nl]=Plasma bureaubladwerkruimte
Name[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਵਰਕਸਪੇਸ
Name[pl]=Przestrzeń pulpitu Plazmy
Name[pt]=Espaço do Ecrã do Plasma
Name[pt_BR]=Espaço de trabalho do Plasma
Name[sv]=Plasma skrivbordsarbetsyta
Name[tr]=Plasma Masaüstü Çalışma Alanı
Name[ug]=پلازما ئۈستەلئۈستى خىزمەت بوشلۇقى
Name[uk]=Робочий простір стільниці Плазми
Name[wa]=Espåce di boutaedje Sicribanne di Plasma
Name[x-test]=xxPlasma Desktop Workspacexx
Name[zh_CN]=Plasma 桌面工作空间
Name[zh_TW]=Plasma 桌面工作空間

Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

