[Desktop Entry]
Exec=plasma-keyboardcontainer
X-DBUS-StartupType=wait
Name=Plasma Desktop Workspace
Name[cs]=Pracovní plocha Plasma
Name[da]=Plasma Desktop Arbejdsområde
Name[es]=Espacio de trabajo Plasma
Name[nl]=Plasma bureaubladwerkruimte
Name[pl]=Przestrzeń pulpitu Plazmy
Name[pt]=Espaço do Ecrã do Plasma
Name[pt_BR]=Espaço de trabalho do Plasma
Name[sv]=Plasma skrivbordsarbetsyta
Name[tr]=Plasma Masaüstü Çalışma Alanı
Name[uk]=Робочий простір стільниці Плазми
Name[x-test]=xxPlasma Desktop Workspacexx

Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

