[Desktop Entry]
Name=Active Web Browser
Name[nl]=Actieve webbrowser
Name[pt]=Navegador Web Activo
Name[sv]=Aktiv webbläsare
Name[uk]=Активний переглядач інтернету
Name[x-test]=xxActive Web Browserxx
GenericName=Web Browser
GenericName[nl]=Webbrowser
GenericName[pt]=Navegador Web
GenericName[sv]=Webbläsare
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
Comment=A web browser reader for touch tablets
Comment[nl]=Een webbrowser voor aanraaktablets
Comment[pt]=Um navegador Web para tabletes por toque
Comment[sv]=En enkel webbläsare för pekskärmar
Comment[uk]=Програма для перегляду інтернету для сенсорних планшетів
Comment[x-test]=xxA web browser reader for touch tabletsxx
Exec=plasma-windowed -graphicssystem raster qtwebbrowser
Terminal=false
Icon=internet-web-browser
Type=Application
Categories=Qt;KDE;News;
