[Desktop Entry]
Encoding=UTF-8
Name=Web Browser
Name[et]=Veebibrauser
Name[nl]=Webbrowser
Name[pt]=Navegação Web
Name[sv]=Pekwebbläsare
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач інтернету
Name[x-test]=xxWeb Browserxx
Comment=Simple web browser suited for touch interfaces
Comment[et]=Puutetundlikele ekraanidele kohandatud lihtne veebibrauser
Comment[nl]=Eenvoudige webbrowser geschikt voor aanraakinterfaces
Comment[pt]=Um navegador Web simples e adequado para interfaces por toque
Comment[sv]=Enkel webbläsare för beröringsgränssnitt
Comment[uk]=Проста програма для перегляду інтернету для сенсорних інтерфейсів
Comment[x-test]=xxSimple web browser suited for touch interfacesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=internet-web-browser
X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=code/webbrowser.qml
X-KDE-PluginInfo-Author=Qt at Nokia
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=qtwebbrowser
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://qt.nokia.com/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
