[Desktop Entry]
Encoding=UTF-8
Name=Battery Monitor
Name[de]=Akkuüberwachung
Name[pt]=Monitor da Bateria
Name[sv]=Batteriövervakning
Name[uk]=Монітор акумулятора
Name[x-test]=xxBattery Monitorxx
Comment=Simple battery monitor
Comment[de]=Einfache Akkuüberwachung
Comment[pt]=Monitor de bateria simples
Comment[sv]=Enkel batteriövervakning
Comment[uk]=Простий засіб спостереження за акумуляторами
Comment[x-test]=xxSimple battery monitorxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=internet-web-browser
X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=code/webbrowser.qml
X-KDE-PluginInfo-Author=Qt at Nokia
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=qtwebbrowser
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://qt.nokia.com/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
