[Desktop Entry]
Encoding=UTF-8
Name=Mobile Network Status
Name[da]=Netværksstatus til Mobile
Name[el]=Κατάσταση δικτύου κινητού
Name[es]=Estado de red móvil
Name[et]=Mobiilivõrgu olek
Name[fr]=État du réseau mobile
Name[hu]=Mobilhálózat állapota
Name[it]=Stato di rete mobile
Name[km]=ស្ថានភាព​បណ្ដាញ​ចល័ត
Name[nl]=Status mobiele netwerk
Name[pa]=ਮੋਬਾਇਲ ਨੈੱਟਵਰਕ ਹਾਲਤ
Name[pl]=Stan sieci dla Mobile
Name[pt]=Estado da Rede Móvel
Name[pt_BR]=Status da rede móvel
Name[sv]=Mobil nätverksstatus
Name[tr]=Mobil Ağ Durumu
Name[uk]=Стан мобільної мережі
Name[wa]=Estat del rantoele axhlåve
Name[x-test]=xxMobile Network Statusxx
Name[zh_TW]=行動網路狀態

Type=Service
ServiceTypes=Plasma/Applet
Icon=phone
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=org.kde.mobilenetworkstatus
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Mobile Phone
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
