[Desktop Entry]
# ctxt: plasma containment
Name=Desktop
Name[bg]=Работен плот
Name[ca]=Escriptori
Name[cs]=Pracovní plocha
Name[csb]=Pùlt
Name[da]=Skrivebord
Name[de]=Arbeitsfläche
Name[en_GB]=Desktop
Name[es]=Escritorio
Name[et]=Töölaud
Name[fr]=Bureau
Name[fy]=Buroblêd
Name[gl]=Escritorio
Name[gu]=ડેસ્કટોપ
Name[hr]=Radna površina
Name[hu]=Asztal
Name[id]=Desktop
Name[is]=Skjáborð
Name[ja]=デスクトップ
Name[km]=ផ្ទៃតុ​
Name[ko]=데스크톱
Name[lt]=Darbastalis
Name[lv]=Darbvirsma
Name[mk]=Работна површина
Name[nb]=Skrivebord
Name[nds]=Schriefdisch
Name[nl]=Bureaublad
Name[nn]=Skrivebord
Name[pt]=Ambiente de Trabalho
Name[pt_BR]=Área de trabalho
Name[ro]=Birou
Name[ru]=Рабочий стол
Name[sl]=Namizje
Name[sr]=површ
Name[sr@latin]=površ
Name[sv]=Skrivbord
Name[tg]=Мизи корӣ
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[uz@cyrillic]=Иш столи
Name[x-test]=xxDesktopxx
Name[zh_CN]=桌面
Name[zh_TW]=桌面
Comment=Default desktop containment
Comment[ar]=حاوية سطح المكتب المبدئية
Comment[be@latin]=Zmoŭčanaje jomišča dla rabočaha stała
Comment[bg]=Стандартен работен плот
Comment[ca]=Contenidor de l'escriptori per omissió
Comment[ca@valencia]=Contenidor de l'escriptori per omissió
Comment[cs]=Obecný kontejner plochy
Comment[da]=Standard skrivebordsbeholder
Comment[de]=Standard-Arbeitsflächen-Behälter
Comment[el]=Προ
Comment[en_GB]=Default desktop containment
Comment[es]=Contenedor predeterminado del escritorio
Comment[et]=Vaikimisi töölauakonteiner
Comment[fr]=Conteneur par défaut du bureau
Comment[fy]=Standert buroblêdynslúter
Comment[ga]=Coimeádán réamhshocraithe deisce
Comment[gl]=Contedor predeterminado do escritorio
Comment[gu]=મૂળભૂત ડેસ્કટોપ ધરાવનાર
Comment[hi]=डिफ़ॉल्ट डेस्कटॉप कंटेनमेंट
Comment[hne]=डिफाल्ट डेस्कटाप कंटेनमेंट
Comment[hr]=Uobičajeno sadržitelj radne površine
Comment[hu]=Alapértelmezett tartóelem az asztalon
Comment[id]=Pembatasan desktop standar
Comment[is]=Sjálfgefin afmörkun fyrir skjáborð
Comment[it]=Contenitore desktop predefinito
Comment[ja]=デスクトップの標準の入れ物
Comment[kk]=Әдетті үстел бетіндегісі
Comment[km]=មាន​ផ្ទៃតុ​លំនាំដើម
Comment[kn]=ಪೂರ್ವನಿಯೋಜಿತ ಗಣಕತೆರೆ ಧಾರಣೆ (ಕಂಟೋಯ್ನ್ಮೆಂಟ್)
Comment[ko]=모든 것을 포함하는 기본 데스크톱
Comment[lt]=Numatytasis darbastalio talpiklis
Comment[lv]=Noklusētais darbvirsmas ietvērums
Comment[ml]=സാധരണയായ പണിയിടം കണ്‍ടേന്മെന്റ്
Comment[mr]=मुलभूत डेस्कटॉप वातावरण
Comment[nb]=Standard skrivebordbeholder
Comment[nds]=Standard-Schriefdischgelaats
Comment[nl]=Standaard bureaubladcontainer
Comment[nn]=Standard skrivebordsbehaldar
Comment[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ ଡ଼େସ୍କଟପ ଧାରଣ
Comment[pa]=ਡਿਫਾਲਟ ਡੈਸਕਟਾਪ ਰੱਖਣਵਾਲਾ
Comment[pl]=Domyślny kontener pulpitu
Comment[pt]=Contentor do ecrã por omissão
Comment[pt_BR]=Conteúdo padrão da área de trabalho
Comment[ro]=Containerul implicit pentru birou
Comment[ru]=Контейнер рабочего стола
Comment[si]=Default desktop containment
Comment[sk]=Štandardné umiestnenie plochy
Comment[sl]=Privzet vsebnik namizja
Comment[sr]=Подразумевани садржалац површи
Comment[sr@latin]=Podrazumevani sadržalac površi
Comment[sv]=Skrivbordets standardomgivning
Comment[ta]=Default desktop containment
Comment[te]=అప్రమేయ రంగస్థల కంటైన్‌మెంట్
Comment[tg]=Контейнери панели мизи корӣ
Comment[th]=ส่วนบรรจุพื้นที่ทำงานปริยาย
Comment[tr]=Öntanımlı masaüstü içeriği
Comment[uk]=Типове розмежування стільниці
Comment[x-test]=xxDefault desktop containmentxx
Comment[zh_CN]=默认桌面容器
Comment[zh_TW]=預設桌面容器
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
NoDisplay=true

X-KDE-Library=plasma_containment_desktop
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
