[Desktop Entry]
Name=Horos Green
Name[nl]=Horos Green
Name[pt]=Horos Verde
Name[uk]=Хорос (зелений)
Name[x-test]=xxHoros Greenxx

X-KDE-PluginInfo-Name=HorosGreen
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
