[Desktop Entry]
Name=Horos Green
Name[et]=Roheline Horos
Name[km]=Horos Green
Name[nl]=Horos Green
Name[pl]=Horos Green
Name[pt]=Horos Verde
Name[pt_BR]=Horos verde
Name[sv]=Horos Green
Name[uk]=Хорос (зелений)
Name[x-test]=xxHoros Greenxx

X-KDE-PluginInfo-Name=HorosGreen
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
