[Desktop Entry]
Name=Plasma Active App Lister
Name[da]=Plasma Active app-liste
Name[el]=Plasma Active App Lister
Name[et]=Plasma Active'i rakendusteloend
Name[km]=Plasma Active App Lister
Name[nl]=Programma voor het tonen van actieve toepassingen van Plasma
Name[pl]=Wykaz programów Plazmy Active
Name[pt]=Lista de Aplicações do Plasma Active
Name[pt_BR]=Lista de aplicativos do Plasma Active
Name[sv]=Plasma Active programlista
Name[tr]=Plasma Active Uygulama Listeleyici
Name[uk]=Список програм Портативної Плазми
Name[x-test]=xxPlasma Active App Listerxx
Name[zh_TW]=Plasma Active App Lister
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=applications-other
X-KDE-Library=krunner_activeapps
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.active.apps
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
