[Desktop Entry]
Name=Image Viewer
Comment=Touchscreen friendly simple image viewer
Encoding=UTF-8
Type=Service
Icon=active-image-viewer
X-KDE-ServiceTypes=Active/FileBrowserPart
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.imageviewerpart
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ViewerPage.qml
MimeTypes=image/gif,image/jpeg,image/png,image/bmp,image/x-eps,image/x-ico,image/x-portable-bitmap,image/x-portable-graymap,image/x-portable-pixmap,image/x-xbitmap,image/x-xpixmap,
