[Desktop Entry]
Name=Image Viewer
Name[cs]=Prohlížeč obrázků
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολέας εικόνων
Name[es]=Visor de imágenes
Name[et]=Pildinäitaja
Name[fr]=Afficheur d'images
Name[hu]=Képmegjelenítő
Name[km]=កម្មវិធី​មើល​រូបភាព
Name[nl]=Afbeeldingenviewer
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de imagens
Name[sk]=Prehliadač obrázkov
Name[sv]=Bildvisare
Name[tr]=Resim Gösterici
Name[ug]=سۈرەت كۆرگۈ
Name[uk]=Переглядач зображень
Name[wa]=Håyneu d' imådjes
Name[x-test]=xxImage Viewerxx
Name[zh_CN]=图像查看器
Name[zh_TW]=影像檢視器
Comment=Touchscreen friendly simple image viewer
Comment[da]=Simpel touchskærm-venlig billedfremviser
Comment[el]=Φιλικός σε οθόνες αφής απλός προβολέας εικόνων
Comment[et]=Puuteekraanisõbralik lihtne pildinäitaja
Comment[fr]=Afficheur d'images simple et convivial pour les écrans tactiles
Comment[hu]=Érintésbarát, egyszerű képmegjelenítő
Comment[km]=កម្មវិធី​មើល​រូបភាព​ធម្មតា​ការ​ប៉ះ​អេក្រង់​ដែល​ពេញ​និយម​
Comment[nl]=Eenvoudige afbeeldingenviewer vriendelijk voor aanraakscherm
Comment[pl]=Prosta przeglądarka obrazów przyjazna ekranom dotykowym
Comment[pt]=Visualizador de imagens simples e amigável por toque
Comment[pt_BR]=Visualizador de imagens simples e amigável por toque
Comment[sv]=Enkel pekskärmsvänlig bildvisare
Comment[tr]=Dokunmatik ekrana uygun resim gösterici
Comment[uk]=Проста сенсорна програма для перегляду зображень
Comment[wa]=Åjhey håyneu d' imådje amishtåve avou les waitroûles a toutchî
Comment[x-test]=xxTouchscreen friendly simple image viewerxx
Comment[zh_CN]=触摸屏友好的简单图片浏览器
Comment[zh_TW]=適用於觸控面板的友善簡易影像檢視器
Encoding=UTF-8
Type=Service
Icon=active-image-viewer
X-KDE-ServiceTypes=Active/FileBrowserPart
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.imageviewerpart
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ViewerPage.qml
MimeTypes=image/gif,image/jpeg,image/png,image/bmp,image/x-eps,image/x-ico,image/x-portable-bitmap,image/x-portable-graymap,image/x-portable-pixmap,image/x-xbitmap,image/x-xpixmap,
