[Desktop Entry]
Encoding=UTF-8
Name=Window Strip
Name[nl]=Vensterstrook
Name[pl]=Pas okna
Name[pt]=Barra da Janela
Name[pt_BR]=Barra da janela
Name[sv]=Fönsterremsa
Name[uk]=Стрічка-вікно
Name[x-test]=xxWindow Stripxx
Icon=window
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-KDE-ParentAppp=plasma-mobile
X-KDE-Library=plasma_applet_windowstrip
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.windowstrip
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
