[Desktop Entry]
Comment=Testing display of Nepomuk Resources
Comment[et]=Nepomuki ressursside kuvamise test
Comment[nl]=Testen van tonen van Nepomuk-hulpbronnen
Comment[pt]=A testar a visualização dos Recursos do Nepomuk
Comment[sv]=Testar visning av Nepomuk-resurser
Comment[uk]=Тестовий показ ресурсів Nepomuk
Comment[x-test]=xxTesting display of Nepomuk Resourcesxx
Encoding=UTF-8
Keywords=Online Services, Web
Keywords[et]=Võrguteenused, veeb
Keywords[nl]=Online-diensten, web
Keywords[pt]=Serviços 'Online', Web
Keywords[pt_BR]=Serviços on-line, Web
Keywords[sv]=Nättjänster, webb
Keywords[uk]=Служби мережі, інтернет
Keywords[x-test]=xxOnline Services, Webxx
Name=Categorized resources List
Name[et]=Kategoriseeritud ressursiloend
Name[pt]=Lista de recursos por categorias
Name[uk]=Категоризований список ресурсів
Name[x-test]=xxCategorized resources Listxx

Type=Service
Icon=nepomuk
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.categorizedresources
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://notmart.org
X-KDE-ServiceTypes=Plasma/Applet,Plasma-Containment
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=ui/CategorizedResources.qml
X-Plasma-RemoteLocation=
