[Desktop Entry]
Encoding=UTF-8
Name=Activity switcher
Name[nl]=Omschakelaar van activiteiten
Name[pt]=Selector de actividades
Name[pt_BR]=Seletor de atividades
Name[uk]=Перемикач просторів дій
Name[x-test]=xxActivity switcherxx
Comment=Simple activity switcher applet
Comment[pt]='Applet' de mudança simples de actividades
Comment[pt_BR]=Miniaplicativo simples para seleção de atividades
Comment[uk]=Простий аплет для перемикання просторів дій
Comment[x-test]=xxSimple activity switcher appletxx
Icon=preferences-activities
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.mobileactivityswitcher
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
