[Desktop Entry]
Name=Orientation
Name[bs]=Orijentacija
Name[ca]=Orientació
Name[da]=Orientering
Name[de]=Ausrichtung
Name[el]=Προσανατολισμός
Name[es]=Orientación
Name[fr]=Orientation
Name[gl]=Orientación
Name[hu]=Tájolás
Name[kk]=Бағдары
Name[nb]=Retning
Name[nl]=Oriëntatie
Name[pl]=Orientacja
Name[pt]=Orientação
Name[pt_BR]=Orientação
Name[sk]=Orientácia
Name[sl]=Usmerjenost
Name[sv]=Orientering
Name[tr]=Yönlendirme
Name[ug]=يۆنىلىش
Name[uk]=Орієнтація
Name[x-test]=xxOrientationxx
Name[zh_TW]=方向
Comment=Adjusts screen orientation
Comment[bs]=Podešavanje orijentacije ekrana
Comment[ca]=Ajusta l'orientació de la pantalla
Comment[da]=Justerer skærmens orientering
Comment[de]=Bildschirmausrichtung anpassen
Comment[el]=Προσαρμόζει τον προσανατολισμό της οθόνης
Comment[es]=Ajusta la orientación de la pantalla
Comment[fr]=Ajuste l'orientation de l'écran
Comment[gl]=Axusta a orientación da pantalla
Comment[hu]=Beállítja a kijelző tájolását
Comment[kk]=Экран бағдарын туралау
Comment[nb]=Justerer skjermens retning
Comment[nl]=Scherm oriëntatie aanpassen
Comment[pl]=Dostosuj orientację ekranu
Comment[pt]=Ajusta a orientação do ecrã
Comment[pt_BR]=Ajuste da orientação da tela
Comment[sk]=Prispôsobiť orientáciu obrazovky
Comment[sl]=Prilagodi usmerjenost zaslona
Comment[sv]=Justerar skärmens orientering
Comment[tr]=Ekran yönlendirmesini ayarlar
Comment[uk]=Коригування орієнтації екрана
Comment[x-test]=xxAdjusts screen orientationxx
Comment[zh_TW]=調整螢幕方向
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=transform-rotate
X-KDE-Library=plasma_engine_orientation

X-KDE-PluginInfo-Author=Jeremy Whiting
X-KDE-PluginInfo-Email=jpwhiting@kde.org
X-KDE-PluginInfo-Name=org.kde.active.screenorientation
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=

