[Desktop Entry]
Name=Documents plugin
Name[bs]=Dokumenti plugin-a
Name[ca]=Connector per a documents
Name[da]=Dokument-plugin
Name[de]=Dokumentenmodul
Name[el]=Πρόσθετο εγγράφων
Name[es]=Complemento para documentos
Name[fr]=Module externe des documents
Name[gl]=Engadido de documentos
Name[hu]=Dokumentumok bővítmény
Name[kk]=Құжаттар плагині
Name[nb]=Programtillegg for dokumenter
Name[nl]=Plug-in voor documenten
Name[pl]=Wtyczka dokumentów
Name[pt]='Plugin' de documentos
Name[pt_BR]=Plugin de documentos
Name[sk]=Plugin dokumentov
Name[sl]=Vstavek za dokumente
Name[sv]=Dokumentinsticksprogram
Name[tr]=Belgeler eklentisi
Name[uk]=Додаток документів
Name[x-test]=xxDocuments pluginxx
Name[zh_TW]=文件外掛程式
Comment=Shows highest rated documents
Comment[bs]=Prikazuje najbolje rangirane dokumente
Comment[ca]=Mostra els documents millor valorats
Comment[da]=Viser de højest vurderede dokumenter
Comment[de]=Zeigt die am höchsten bewerteten Dokumente
Comment[el]=Εμφανίζει τα έγγραφα με την υψηλότερη βαθμολογία
Comment[es]=Muestra los documentos mejor valorados
Comment[fr]=Affiche les documents les mieux notés
Comment[gl]=Mostra os documentos con mellor puntuación
Comment[hu]=Megjeleníti a legjobbra értékelt dokumentumokat
Comment[kk]=Ең бағалы құжатарды көрсету
Comment[nb]=Viser dokumenter med høyest rangering
Comment[nl]=Toont hoogst beoordeelde documenten
Comment[pl]=Pokaż najwyżej oceniane dokumenty
Comment[pt]=Mostra os documentos melhor classificados
Comment[pt_BR]=Mostra os documentos com melhor classificação
Comment[sk]=Zobrazí najvyššie hodnotené dokumenty
Comment[sl]=Pokaže najbolje ocenjene dokumente
Comment[sv]=Visar dokument med högst betyg
Comment[tr]=En yüksek beğeni alan belgeleri gösterir
Comment[uk]=Показує список документів з найвищими оцінками
Comment[x-test]=xxShows highest rated documentsxx
Comment[zh_TW]=顯示最高評比文件
Type=Service
Icon=

X-KDE-ServiceTypes=Contour/RecommendationEngine
X-KDE-Library=contour_recommendationengine_documents
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.contour.documents
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-ActivityManager-PluginType=normal
