[Desktop Entry]
Name=Documents plugin
Name[es]=Complemento para documentos
Name[nl]=Plug-in voor documenten
Name[pt]='Plugin' de documentos
Name[pt_BR]=Plugin de documentos
Name[sk]=Plugin dokumentov
Name[sl]=Vstavek za dokumente
Name[sv]=Dokumentinsticksprogram
Name[tr]=Belgeler eklentisi
Name[uk]=Додаток документів
Name[x-test]=xxDocuments pluginxx
Comment=Shows highest rated documents
Comment[es]=Muestra los documentos mejor valorados
Comment[nl]=Toont hoogst beoordeelde documenten
Comment[pt]=Mostra os documentos melhor classificados
Comment[pt_BR]=Mostra os documentos com melhor classificação
Comment[sk]=Zobrazí najvyššie hodnotené dokumenty
Comment[sl]=Pokaže najbolje ocenjene dokumente
Comment[sv]=Visar dokument med högst betyg
Comment[tr]=En yüksek beğeni alan belgeleri gösterir
Comment[uk]=Показує список документів з найвищими оцінками
Comment[x-test]=xxShows highest rated documentsxx
Type=Service
Icon=

X-KDE-ServiceTypes=Contour/RecommendationEngine
X-KDE-Library=contour_recommendationengine_documents
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.contour.documents
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-ActivityManager-PluginType=normal
