# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Screenshot
Name[az]=Ekran şəkli
Name[ca]=Captura de pantalla
Name[ca@valencia]=Captura de pantalla
Name[es]=Captura de pantalla
Name[fr]=Copie d'écran
Name[nl]=Schermafdruk
Name[pt]=Captura
Name[pt_BR]=Captura de tela
Name[sl]=Slika zaslona
Name[sv]= Skärmbild
Name[tr]=Ekran görüntüsü
Name[uk]=Знімок вікна
Name[x-test]=xxScreenshotxx
Icon=spectacle
Description=Screenshot quick setting
Description[az]=Ekran şəkli sürətli ayarı
Description[ca]=Configuració ràpida de la captura de pantalla
Description[ca@valencia]=Configuració ràpida de la captura de pantalla
Description[es]=Ajuste rápido de la captura de pantalla
Description[fr]=Configuration rapide des copies d'écran
Description[nl]=Snelle instelling van schermafdruk
Description[pt]=Configuração rápida da captura do ecrã
Description[pt_BR]=Configurações rápidas de captura de tela
Description[sl]=Hitre nastavitve slike zaslona
Description[sv]=Snabbinställning av skärmbild
Description[tr]=Ekran görüntüsü hızlı ayarı
Description[uk]=Швидке встановлення знімка вікна
Description[x-test]=xxScreenshot quick settingxx

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.screenshot
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+
