[Desktop Entry]
Encoding=UTF-8
Name=Web Dashboard
Name[da]=Web-instrumentbræt
Name[el]=Πίνακας ελέγχου ιστού
Name[es]=Tablero de mandos Web
Name[et]=Veebi-vidinavaade
Name[fr]=Tableau de bord web
Name[hu]=Webáttekintő
Name[km]=ផ្ទាំង​គ្រប់គ្រង​បណ្ដាញ
Name[nl]=Web-dashboard
Name[pa]=ਵੈੱਬ ਡੈਸ਼ਬੋਰਡ
Name[pl]=Tablica sieciowa
Name[pt]=Painel da Web
Name[pt_BR]=Painel da Web
Name[sv]=Webbinstrumentpanel
Name[tr]=Web Kontrol Paneli
Name[uk]=Інтернет-панель
Name[wa]=Tåvlea d' boird waibe
Name[x-test]=xxWeb Dashboardxx
Name[zh_TW]=網頁資訊看板
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-RequiredExtensions=HTTP
X-KDE-ParentAppp=plasma-mobile
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=code/WebDashboard.qml
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.webdashboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
