[Desktop Entry]
# ctxt: plasma containment
Name=MobileSystemTrayPanel
Name[pt]=MobileSystemTrayPanel
Name[pt_BR]=MobileSystemTrayPanel
Name[sv]=Systembricka för mobil
Name[uk]=Мобільна панель системного лотка
Name[x-test]=xxMobileSystemTrayPanelxx
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
NoDisplay=true

X-KDE-Library=plasma_containment_mobilesystemtraypanel
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=mobilesystemtraypanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
