! cancel ALL your rules in the adblock,
! load these and test rekonq against 
! the proposed sites
! Good Luck!
!
! This rule will block EVERY site containing adv
adv
!
! This one will wildcard EVERY site containing the word "advice"
@@advice
!
! Block every google site :)
||http://google*
!
! Block every pdf file!
*pdf||
!
! Block every div of the class "advise"
##div.advise