# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=Audio
Name[ca]=Àudio
Name[es]=Sonido
Name[uk]=Звук
Name[x-test]=xxAudioxx
Icon=audio-speakers-symbolic
Description=Audio quick setting
Description[ca]=Configuració ràpida de l'àudio
Description[es]=Ajuste rápido del sonido
Description[uk]=Швидке налаштовування звуку
Description[x-test]=xxAudio quick settingxx

Type=Service
X-KDE-ServiceTypes=KPackage/GenericQML

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.quicksetting.audio
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL-2.0+
