[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Widget and resources explorer
Name[da]=Gennemse widgets og ressourcer
Name[el]=Εξερευνητής συστατικών και πόρων
Name[es]=Explorador de elementos gráficos y recursos
Name[et]=Vidinate ja ressursside näitaja
Name[fr]=Explorateur de composants graphiques et de ressources
Name[hu]=Widget- és erőforrás-felfedező
Name[km]=កម្មវិធី​រុករក​ធាតុ​ក្រាហ្វិក និង​ធនធាន
Name[nl]=Verkenner van widgets en hulpbronnen
Name[pl]=Eksplorator zasobów i elementów interfejsu
Name[pt]=Explorador de elementos e recursos
Name[pt_BR]=Explorador de recursos e widgets
Name[sv]=Komponent och resursutforskning
Name[tr]=Gereç ve kaynak tarayıcı
Name[uk]=Перегляд віджетів та ресурсів
Name[wa]=Naivieu d' ahesses et d' rissources
Name[x-test]=xxWidget and resources explorerxx
Name[zh_TW]=元件與資源瀏覽器
Type=Service

X-KDE-ServiceTypes=Plasma/GenericPackage
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.widgetexplorer
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/view.qml
