[Desktop Entry]
Name=Touch Test
Name[ca]=Prova el tàctil
Name[ca@valencia]=Prova el tàctil
Name[es]=Prueba táctil
Name[nl]=Aanraaktest
Name[pl]=Próba dotyku
Name[pt]=Teste de Toque
Name[sv]=Beröringsprov
Name[uk]=Тестування дотику
Name[x-test]=xxTouch Testxx
Name[zh_TW]=觸控測試

Categories=Qt;KDE;System;Development;

Exec=touchtest
GenericName=Terminal
GenericName[ca]=Terminal
GenericName[ca@valencia]=Terminal
GenericName[de]=Terminal
GenericName[es]=Terminal
GenericName[nl]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[sv]=Terminal
GenericName[uk]=Термінал
GenericName[x-test]=xxTerminalxx
GenericName[zh_TW]=終端機
Icon=input-touchpad
MimeType=

Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=touchtest
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AuthorizeAction=shell_access
X-KDE-SubstituteUID=false
X-KDE-Username=
