[Desktop Entry]
# ctxt: plasma containment
Name=MobileDesktop
Name[da]=MobileDesktop
Name[el]=MobileDesktop
Name[es]=MobileDesktop
Name[et]=Mobiilne töölaud
Name[fr]=MobileDesktop
Name[hu]=Mobil asztal
Name[km]=MobileDesktop
Name[nl]=MobielBureaublad
Name[pa]=ਮੋਬਾਇਲਡੈਸਕਟਾਪ
Name[pl]=Pulpit Mobile
Name[pt]=Ecrã Móvel
Name[pt_BR]=Área de trabalho móvel
Name[sv]=Mobilt skrivbord
Name[tr]=Cep Telefonu Masaüstü
Name[uk]=Мобільна стільниця
Name[wa]=Axhlåve sicribanne
Name[x-test]=xxMobileDesktopxx
Name[zh_TW]=行動桌面
Comment=Default desktop containment
Comment[da]=Standard skrivebordsbeholder
Comment[el]=Προκαθορισμένος υποδοχέας επιφάνειας εργασίας
Comment[es]=Contenedor por omisión para el escritorio
Comment[et]=Vaikimisi töölauakonteiner
Comment[fr]=Conteneur de bureau par défaut
Comment[hu]=Alapértelmezett asztali tartóelem
Comment[km]=មាន​ផ្ទៃតុ​លំនាំដើម
Comment[nl]=Standaard bureaubladcontainer
Comment[pa]=ਡਿਫਾਲਟ ਡੈਸਕਟਾਪ ਕਨਟੇਨਮੈਂਟ
Comment[pl]=Domyślna izolacja pulpitu
Comment[pt]=Contentor do ambiente de trabalho predefinido
Comment[pt_BR]=Contêiner da área de trabalho padrão
Comment[sv]=Standardskrivbordsomgivning
Comment[tr]=Öntanımlı masaüstü kapsayıcısı
Comment[uk]=Типовий контейнер стільниці
Comment[wa]=Prémetou contneu d' sicribanne
Comment[x-test]=xxDefault desktop containmentxx
Comment[zh_TW]=預設桌面容器
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
NoDisplay=true

X-KDE-ParentAppp=plasma-mobile
X-KDE-Library=plasma_containment_mobiledesktop
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.mobiledesktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
