[Desktop Entry]
Name=Satellite Lockers

X-KDE-PluginInfo-Name=org.kde.satellite.lockers
X-KDE-PluginInfo-Author=Jens Reuterberg
X-KDE-PluginInfo-Email=jens@ohyran.se
X-KDE-PluginInfo-License=LGPLv3
