[Desktop Entry]
Name=Plasma Phone Lockers
Name[ast]=Bloquiadores de Plasma Phone
Name[ca]=Bloqueigs del telèfon del Plasma
Name[ca@valencia]=Bloqueigs del telèfon del Plasma
Name[en_GB]=Plasma Phone Lockers
Name[es]=Bloqueos del teléfono de Plasma
Name[fr]=Verrouillage de téléphone Plasma
Name[gl]=Casilleiros de Plasma Phone
Name[it]=Blocca telefono di Plasma
Name[nl]=Plasma telefoonvergrendeling
Name[nn]=Telefonlåsarar for Plasma
Name[pl]=Blokady telefonu plazmy
Name[pt]=Bloqueios de Telefone do Plasma
Name[sv]=Plasma telefonskåp
Name[tr]=Plasma Telefon Kilidi
Name[uk]=Блокувальники телефону Плазми
Name[x-test]=xxPlasma Phone Lockersxx
Name[zh_CN]=Plasma Phone 锁屏
Name[zh_TW]=Plasma 手機鎖定程式

X-KDE-PluginInfo-Name=org.kde.plasma.phone.lockers
X-KDE-PluginInfo-Author=Jens Reuterberg
X-KDE-PluginInfo-Email=jens@ohyran.se
X-KDE-PluginInfo-License=LGPLv3
