[Desktop Entry]
Name=Plasma Phone Lockers
Name[ca]=Bloqueigs del telèfon del Plasma
Name[ca@valencia]=Bloqueigs del telèfon del Plasma
Name[en_GB]=Plasma Phone Lockers
Name[nl]=Plasma telefoonvergrendeling
Name[nn]=Telefonlåsarar for Plasma
Name[pl]=Blokady telefonu plazmy
Name[pt]=Bloqueios de Telefone do Plasma
Name[sv]=Plasma telefonskåp
Name[uk]=Блокувальники телефону Плазми
Name[x-test]=xxPlasma Phone Lockersxx

X-KDE-PluginInfo-Name=org.kde.plasma.phone.lockers
X-KDE-PluginInfo-Author=Jens Reuterberg
X-KDE-PluginInfo-Email=jens@ohyran.se
X-KDE-PluginInfo-License=LGPLv3
