[Desktop Entry]
Encoding=UTF-8
Name=News reader (QML)
Name[en_GB]=News reader (QML)
Name[ja]=ニュースリーダー (QML)
Name[km]=កម្មវិធី​អាន​ព័ត៌មាន (QML)
Name[pt]=Leitor de notícias (QML)
Name[pt_BR]=Leitor de notícias (QML)
Name[sv]=Nyhetsläsare (QML)
Name[uk]=Програма для читання новин (QML)
Name[x-test]=xxNews reader (QML)xx
Comment=A proof of concept RSS reader written in qml
Comment[en_GB]=A proof of concept RSS reader written in qml
Comment[km]=ការ​ផ្ទៀង​ផ្ទាត់​បែប​បទ​ចំណុច​ប្រទាក់​កម្មវិធី​ផ្ញើ​សំបុត្រ​ដែល​សរសេរ​ជា​ qml
Comment[pt]=Uma prova de conceito de um leitor de RSS feito em QML
Comment[pt_BR]=Uma prova de conceito de um leitor RSS escrito em QML
Comment[sv]=Ett koncept för en RSS-läsare skrivet i QML
Comment[uk]=Тестова програма для читання RSS, написана мовою qml
Comment[x-test]=xxA proof of concept RSS reader written in qmlxx
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=akregator
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.news-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
