[Desktop Entry]
Name=Settings
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[es]=Preferencias
Name[nl]=Instellingen
Name[pl]=Ustawienia
Name[pt]=Configuração
Name[pt_BR]=Configurações
Name[sk]=Nastavenie
Name[sv]=Inställningar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx
GenericName=Settings
GenericName[cs]=Nastavení
GenericName[da]=Indstillinger
GenericName[es]=Preferencias
GenericName[nl]=Instellingen
GenericName[pl]=Ustawienia
GenericName[pt]=Configuração
GenericName[pt_BR]=Configurações
GenericName[sk]=Nastavenie
GenericName[sv]=Inställningar
GenericName[uk]=Параметри
GenericName[x-test]=xxSettingsxx
Comment=Settings for Plasma Active
Comment[da]=Indstillinger for Plasma Active
Comment[es]=Preferencias de Plasma Active
Comment[nl]=Instellingen voor Plasma Active
Comment[pl]=Ustawienia dla Plazma Active
Comment[pt]=Configuração do Plasma Active
Comment[pt_BR]=Configurações do Plasma Active
Comment[sv]=Inställning av Plasma Active
Comment[uk]=Параметри Портативної Плазми
Comment[x-test]=xxSettings for Plasma Activexx
Exec=active-settings -graphicssystem raster %u
Terminal=false
Icon=preferences-desktop
Type=Application
Categories=Qt;KDE;Settings;X-SuSE-core;Qt;Core;
X-KDE-PluginInfo-Website=http://plasma-active.org
