[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Active/SettingsModule

Name=Active Settings Module
Name[da]=Indstillingsmodul til Active
Name[nl]=Module voor instellingen van Active
Name[pl]=Moduł ustawień Active
Name[pt]=Módulo de Configuração do Active
Name[pt_BR]=Módulo de configurações do Active
Name[sv]=Active inställningsmodul
Name[tr]=Active Ayarlar Modülü
Name[uk]=Модуль параметрів для портативних пристроїв
Name[x-test]=xxActive Settings Modulexx
Comment=Active Settings Module Plugin
Comment[da]=Plugin til indstillingsmodul til Active
Comment[nl]=Plug-in voor module voor instellingen van Active
Comment[pl]=Wtyczka moduł ustawień Active
Comment[pt]='Plugin' do Módulo de Configuração do Active
Comment[pt_BR]=Plugin do módulo de configurações do Active
Comment[sv]=Insticksmodul för Active inställningar
Comment[tr]=Active Ayarlar Modülü Eklentisi
Comment[uk]=Додаток модуля параметрів для портативних пристроїв
Comment[x-test]=xxActive Settings Module Pluginxx

#[PropertyDef::X-KDE-PluginInfo-Name]
#Type=QString

[PropertyDef::X-Plasma-Package]
Type=QString
