[Desktop Entry]
Name=Settings
Name[cs]=Nastavení
Name[de]=Einstellungen
Name[nl]=Instellingen
Name[pt]=Configuração
Name[pt_BR]=Configurações
Name[sv]=Inställningar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx
GenericName=Settings
GenericName[de]=Einstellungen
GenericName[nl]=Instellingen
GenericName[pt]=Configuração
GenericName[pt_BR]=Configurações
GenericName[sv]=Inställningar
GenericName[uk]=Параметри
GenericName[x-test]=xxSettingsxx
GenericName=Settings
GenericName[de]=Einstellungen
GenericName[nl]=Instellingen
GenericName[pt]=Configuração
GenericName[pt_BR]=Configurações
GenericName[sv]=Inställningar
GenericName[uk]=Параметри
GenericName[x-test]=xxSettingsxx
Comment=Settings for Plasma Active
Comment[nl]=Instellingen voor Plasma Active
Comment[pt]=Configuração do Plasma Active
Comment[pt_BR]=Configurações do Plasma Active
Comment[sv]=Inställningar för Plasma aktiv
Comment[uk]=Параметри Портативної Плазми
Comment[x-test]=xxSettings for Plasma Activexx
Exec=active-settings -graphicssystem raster %u
Terminal=false
Icon=preferences-desktop
Type=Application
Categories=Qt;KDE;Settings;X-SuSE-core;Qt;Core;
X-KDE-PluginInfo-Website=http://plasma-active.org
