[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Active/SettingsModule

Name=Active Settings Module
Name[da]=Indstillingsmodul til Active
Name[el]=Άρθρωμα ενεργών ρυθμίσεων
Name[et]=Active'i seadistusmoodul
Name[fr]=Module de configuration pour Active
Name[nl]=Module voor instellingen van Active
Name[pl]=Moduł ustawień Active
Name[pt]=Módulo de Configuração do Active
Name[pt_BR]=Módulo de configurações do Active
Name[sv]=Active inställningsmodul
Name[tr]=Active Ayarlar Modülü
Name[uk]=Модуль параметрів для портативних пристроїв
Name[x-test]=xxActive Settings Modulexx
Name[zh_CN]=Active 设置模块
Name[zh_TW]=Active 設定模組
Comment=Active Settings Module Plugin
Comment[da]=Plugin til indstillingsmodul til Active
Comment[el]=Πρόσθετο αρθρώματος ενεργών ρυθμίσεων
Comment[et]=Active'i seadistusmooduli plugin
Comment[fr]=Module externe de paramètres pour Active
Comment[nl]=Plug-in voor module voor instellingen van Active
Comment[pl]=Wtyczka moduł ustawień Active
Comment[pt]='Plugin' do Módulo de Configuração do Active
Comment[pt_BR]=Plugin do módulo de configurações do Active
Comment[sv]=Insticksmodul för Active inställningar
Comment[tr]=Active Ayarlar Modülü Eklentisi
Comment[uk]=Додаток модуля параметрів для портативних пристроїв
Comment[x-test]=xxActive Settings Module Pluginxx
Comment[zh_TW]=Active 設定模組外掛程式

#[PropertyDef::X-KDE-PluginInfo-Name]
#Type=QString

[PropertyDef::X-Plasma-Package]
Type=QString
