[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Active/SettingsModule

Name=Active Settings Module
Name[bs]=Modul za aktivne postavke
Name[ca]=El mòdul d'arranjament de «actiu»
Name[ca@valencia]=El mòdul d'arranjament de «actiu»
Name[da]=Indstillingsmodul til Active
Name[de]=Einstellungen für Plasma Active
Name[el]=Άρθρωμα ενεργών ρυθμίσεων
Name[en_GB]=Active Settings Module
Name[es]=Módulo de preferencias para Active
Name[fi]=Activen asetusosio
Name[fr]=Module de configuration pour Active
Name[gl]=Módulo de configuración de Active
Name[hu]=Active beállítások modul
Name[it]=Impostazioni del modulo Active
Name[kk]=Active баптау модулі
Name[km]=ម៉ូឌុល​ការកំណត់​សកម្ម
Name[ko]=활성 설정 모듈
Name[nb]=Modul for Active-innstillinger
Name[nds]=Aktiev-Instellenmoduul
Name[nl]=Module voor instellingen van Active
Name[pa]=ਐਕਟਿਵ ਸੈਟਿੰਗ ਮੋਡੀਊਲ
Name[pl]=Moduł ustawień Active
Name[pt]=Módulo de Configuração do Active
Name[pt_BR]=Módulo de configurações do Active
Name[sk]=Modul nastavení Active
Name[sl]=Modul za nastavitve Active
Name[sv]=Active inställningsmodul
Name[tr]=Active Ayarlar Modülü
Name[uk]=Модуль параметрів для портативних пристроїв
Name[wa]=Module d' apontiaedjes Active
Name[x-test]=xxActive Settings Modulexx
Name[zh_CN]=Active 设置模块
Name[zh_TW]=Active 設定模組
Comment=Active Settings Module Plugin
Comment[bs]=Modul za Aktivne postavke Plugin-a
Comment[ca]=Connector del mòdul d'arranjament de «actiu»
Comment[ca@valencia]=Connector del mòdul d'arranjament de «actiu»
Comment[da]=Plugin til indstillingsmodul til Active
Comment[de]=Einstellungsmodul für Plasma Active
Comment[el]=Πρόσθετο αρθρώματος ενεργών ρυθμίσεων
Comment[en_GB]=Active Settings Module Plugin
Comment[es]=Complemento del módulo de preferencias para Active
Comment[fi]=Activen asetusosion liitännäinen
Comment[fr]=Module externe de paramètres pour Active
Comment[gl]=Complemento do módulo de configuración de Active.
Comment[hu]=Active beállítások modul bővítmény
Comment[it]=Estensione per le impostazioni del modulo Active
Comment[kk]=Active баптау модулінің модулі
Comment[km]=កម្មវិធី​ជំនួយ​ម៉ូឌុល​ការកំណត់​សកម្ម
Comment[ko]=활성 설정 모듈 플러그인
Comment[nb]=Programtillegg – modul for Active-innstillinger
Comment[nds]=Moduul för't Aktiev-Instellenmoduul
Comment[nl]=Plug-in voor module voor instellingen van Active
Comment[pl]=Wtyczka moduł ustawień Active
Comment[pt]='Plugin' do Módulo de Configuração do Active
Comment[pt_BR]=Plugin do módulo de configurações do Active
Comment[sk]=Plugin modulu nastavení Active
Comment[sl]=Vstavek za modul za nastavitve Active
Comment[sv]=Insticksmodul för Active inställningar
Comment[tr]=Active Ayarlar Modülü Eklentisi
Comment[uk]=Додаток модуля параметрів для портативних пристроїв
Comment[wa]=Tchôke-divins module d' apontiaedjes Active
Comment[x-test]=xxActive Settings Module Pluginxx
Comment[zh_TW]=Active 設定模組外掛程式

#[PropertyDef::X-KDE-PluginInfo-Name]
#Type=QString

[PropertyDef::X-Plasma-Package]
Type=QString
