[Desktop Entry]
Name=Active Metadata
Name[nl]=Metagegevens
Name[et]=Metaandmed
Name[pt]=Meta-dados
Name[sv]=Metadata
Name[uk]=Метадані
Name[x-test]=xxMetadataxx
Comment=Provides metadata for semantic resources
Comment[et]=Semantiliste ressursside metaandmed
Comment[nl]=Levert metagegevens voor semantische hulpbronnen
Comment[pt]=Fornece meta-dados para os recursos semânticos
Comment[sv]=Tillhandahåller metadata för semantiska resurser
Comment[uk]=Надає метадані для семантичних ресурсів
Comment[x-test]=xxProvides metadata for semantic resourcesxx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=nepomuk
X-KDE-Library=plasma_engine_active_metadata
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=active_metadata
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=

