[Desktop Entry]
Name=Active Settings
Name[da]=Indstillinger for Active
Name[et]=Active'i seadistused
Name[fr]=Configuration de Active
Name[nl]=Instellingen van Active
Name[pl]=Ustawienia Active
Name[pt]=Configuração do Active
Name[pt_BR]=Configurações do Active
Name[sv]=Active inställningar
Name[tr]=Active Ayarları
Name[uk]=Параметри для сенсорного екрана
Name[x-test]=xxActive Settingsxx
Name[zh_TW]=Active 設定
Comment=Touchscreen friendly settings UI for Active
Comment[da]=Touchskærm-venlig konfigurationsbrugerflade til Active
Comment[et]=Puuteekraanisõbralik Active'i seadistuste kasutajaliides
Comment[fr]=Interface de configuration conviviale avec écran tactile pour Active
Comment[nl]=Instellingen voor UI voor Active, vriendelijk voor aanraakscherm
Comment[pl]=Ustawienia interfejsu użytkownika dla Active przyjazne ekranom dotykowym
Comment[pt]=Interface de configuração amigável por toque para o Active
Comment[pt_BR]=Interface de configuração amigável por toque para o Active
Comment[sv]=Pekskärmsvänliga inställningar av användargränssnitt för Active
Comment[tr]=Active için dokunmatik ekrana uyumlu ayarlar arayüzü
Comment[uk]=Зручні для користування сенсорним пристроєм параметри
Comment[x-test]=xxTouchscreen friendly settings UI for Activexx
Comment[zh_TW]=Active 的觸控面板專用介面
Encoding=UTF-8
Type=Service
Icon=preferences-desktop
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ActiveSettings.qml
