[Desktop Entry]
Name=Widget Strip
Name[bs]=Widget Strip
Name[ca]=Banda d'estris
Name[ca@valencia]=Banda d'estris
Name[da]=Widget-stribe
Name[de]=Miniprogrammleiste
Name[el]=Σειρά γραφικών συστατικών
Name[es]=Tira de elementos gráficos
Name[et]=Vidinariba
Name[fi]=Sovelmanauha
Name[fr]=Bandeau de fenêtre
Name[gl]=Barra de trebellos
Name[hu]=Összefűzött widget
Name[it]=Striscia di oggetti
Name[kk]=Виджет жолағы
Name[km]=ធាតុ​ក្រាហ្វិក​ឆ្នូត
Name[ko]=위젯 표시줄
Name[lt]=Valdiklio juosta
Name[nb]=Elementstripe 
Name[nds]=Stüerelement-Striep
Name[nl]=Widget-strip
Name[pa]=ਵਿਦਜੈੱਟ ਪੱਟੀ
Name[pl]=Pas elementów interfejsu
Name[pt]=Barra de Elementos
Name[pt_BR]=Barra de widgets
Name[sk]=Pruh prvku
Name[sl]=Pas gradnikov
Name[sv]=Komponentrad
Name[tr]=Gereç Dilimi
Name[ug]=كىچىك ئەپ Strip
Name[uk]=Стрічка віджетів
Name[wa]=Binde d' ahesses
Name[x-test]=xxWidget Stripxx
Name[zh_TW]=元件帶
GenericName=Widget Strip
GenericName[bs]=Widget Strip
GenericName[ca]=Banda d'estris
GenericName[ca@valencia]=Banda d'estris
GenericName[da]=Widget-stribe
GenericName[de]=Miniprogrammleiste
GenericName[el]=Σειρά γραφικών συστατικών
GenericName[es]=Tira de elementos gráficos
GenericName[et]=Vidinariba
GenericName[fi]=Sovelmanauha
GenericName[fr]=Bandeau de fenêtre
GenericName[gl]=Barra de trebellos
GenericName[hu]=Összefűzött widget
GenericName[it]=Striscia di oggetti
GenericName[kk]=Виджет жолағы
GenericName[km]=ធាតុ​ក្រាហ្វិក​ឆ្នូត
GenericName[ko]=위젯 표시줄
GenericName[lt]=Valdiklio juosta
GenericName[nb]=Elementstripe 
GenericName[nds]=Stüerelement-Striep
GenericName[nl]=Widget-strip
GenericName[pa]=ਵਿਦਜੈੱਟ ਪੱਟੀ
GenericName[pl]=Pas elementów interfejsu
GenericName[pt]=Barra de Elementos
GenericName[pt_BR]=Barra de widgets
GenericName[sk]=Pruh prvku
GenericName[sl]=Pas gradnikov
GenericName[sv]=Komponentrad
GenericName[tr]=Gereç Dilimi
GenericName[ug]=كىچىك ئەپ Strip
GenericName[uk]=Стрічка віджетів
GenericName[wa]=Binde d' ahesses
GenericName[x-test]=xxWidget Stripxx
GenericName[zh_TW]=元件帶
Comment=A collection of widgets
Comment[bs]=Kolekcija grafičkih kontrola
Comment[ca]=Una col·lecció d'estris
Comment[ca@valencia]=Una col·lecció d'estris
Comment[da]=En samling af widgets
Comment[de]=Eine Sammlung von Miniprogrammen
Comment[el]=Συλλογή γραφικών συστατικών
Comment[es]=Una colección de elementos gráficos
Comment[et]=Vidinakogu
Comment[fi]=Kokoelma sovelmia
Comment[fr]=Une collection de composants graphiques
Comment[gl]=Unha colección de trebellos.
Comment[hu]=Widgetek gyűjteménye
Comment[it]=Collezione di oggetti
Comment[kk]=Виджетер жинағы
Comment[km]=សម្រាំង​របស់​ធាតុ​ក្រាហ្វិក
Comment[ko]=위젯 모음집
Comment[nb]=En samling skjermelementer
Comment[nds]=En Sammeln vun Stüerelementen
Comment[nl]=Een verzameling widgets
Comment[pl]=Zbiór elementów interfejsu
Comment[pt]=Uma colecção de elementos
Comment[pt_BR]=Coleção de widgets
Comment[sk]=Kolekcia widgetov
Comment[sl]=Zbirka gradnikov
Comment[sv]=En samling grafiska komponenter
Comment[tr]=Gereç koleksiyonu
Comment[ug]=كىچىك ئەپلەر توپلىمى
Comment[uk]=Збірка віджетів
Comment[wa]=Ene ramexhnêye d' ahesses
Comment[x-test]=xxA collection of widgetsxx
Comment[zh_TW]=元件收藏

Exec=plasma-widgetstrip
Terminal=false
Icon=dashboard-show
Type=Application
Categories=Qt;KDE;Network;WebBrowser;
