[Desktop Entry]
Name=Touch Browser
Name[da]=Touchbrowser
Name[el]=Περιηγητής αφής
Name[es]=Navegador táctil
Name[et]=Puutebrauser
Name[fr]=Navigateur tactile
Name[hu]=Touch böngésző
Name[it]=Browser Web
Name[km]=ប៉ះ​កម្មវិធី​រុករក​
Name[nl]=Aanraakbrowser
Name[pa]=ਟੱਚ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka dotykowa
Name[pt]=Navegador por Toque
Name[pt_BR]=Navegador por toque
Name[sv]=Pekbläddrare
Name[tr]=Dokunmatik Tarayıcı
Name[uk]=Сенсорний переглядач
Name[wa]=Betchteu a toutchî
Name[x-test]=xxTouch Browserxx
Name[zh_CN]=触摸浏览器
Name[zh_TW]=觸控瀏覽器
Comment=Touchscreen friendly simple web browser
Comment[da]=Simpel touchskærm-venlig webbrowser
Comment[el]=Φιλικός σε οθόνες αφής απλός περιηγητής ιστού
Comment[es]=Navegador Web sencillo para pantallas táctiles
Comment[et]=Puuteekraanisõbralik lihtne veebibrauser
Comment[fr]=Navigateur web tactile simple et convivial à écran tactile
Comment[hu]=Érintésbarát, egyszerű webböngésző
Comment[it]=Un web browser per tablet sensibili al tocco
Comment[km]=កម្មវិធី​រុករក​បណ្ដាញ​ធម្មតា​ការ​ប៉ះ​អេក្រង់​ដែល​ពេញ​និយម​
Comment[nl]=Eenvoudige webbrowser vriendelijk voor aanraken
Comment[pl]=Prosta przeglądarka internetowa, przyjazna ekranom dotykowym
Comment[pt]=Navegador Web simples e amigável por toque
Comment[pt_BR]=Navegador Web simples e amigável por toque
Comment[sv]=Pekskärmsvänlig enkel webbläsare
Comment[tr]=Dokunmatik ekrana uygun basit bir web tarayıcı
Comment[uk]=Проста сенсорна програма для перегляду інтернету
Comment[wa]=Åjhey betchteu waibe amishtåve avou les waitroûles a toutchî
Comment[x-test]=xxTouchscreen friendly simple web browserxx
Comment[zh_TW]=適用於觸控面板的友善簡易網頁瀏覽器
Encoding=UTF-8
Type=Service
Icon=internet-web-browser
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Qt at Nokia
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.rekonqactive
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://qt.nokia.com/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/webbrowser.qml
