[Desktop Entry]
Name=QML package structure
Name[en_GB]=QML package structure
Name[es]=Estructura de paquete QML
Name[et]=QML paketi struktuur
Name[fr]=Structure de paquetage QML
Name[hr]=QML struktura paketa
Name[ja]=QML パッケージ構造
Name[km]=រចនាសម្ព័ន្ធ​កញ្ចប់ QML
Name[pt]=Estrutura de pacotes QML
Name[pt_BR]=Estrutura de pacotes QML
Name[sv]=QML-paketstruktur
Name[tr]=QML paket yapısı
Name[uk]=Структура пакунків QML
Name[x-test]=xxQML package structurexx
Type=Service

X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_qml
X-EngineName=qmlscript
X-Plasma-API=qmlscript
X-Plasma-PackageFileFilter=*.qml

X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=qmlscript
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

