[Desktop Entry]
Name=QML
Name[en_GB]=QML
Name[et]=QML
Name[ja]=QML
Name[km]=QML
Name[nds]=QML
Name[pt]=QML
Name[pt_BR]=QML
Name[sv]=QML
Name[uk]=QML
Name[x-test]=xxQMLxx
Type=Service

X-KDE-ServiceTypes=Plasma/ScriptEngine
X-KDE-Library=plasma_appletscript_qml
X-EngineName=qmlscript
X-Plasma-API=qmlscript
X-Plasma-ComponentTypes=Applet
X-Plasma-PackageFormat=qmlscript

X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=qmlscript
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
