# SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Halcyon
Name[ca]=Halcyon
Name[es]=Halcyon
Name[fr]=Halcyon
Name[nl]=Halcyon
Name[tr]=Halikon
Name[uk]=Альціон
Name[x-test]=xxHalcyonxx
Description=A mobile homescreen focused on simplicity and ease-of-use.
Description[ca]=Una pantalla d'inici del mòbil enfocada a la senzillesa i facilitat d'ús.
Description[es]=Pantalla de inicio para móvil centrada en la simplicidad y en la facilidad de uso.
Description[fr]=Un écran d'accueil pour périphérique mobile, centré sur la simplicité et la facilité d'utilisation.
Description[nl]=Een startscherm voor een mobiel gericht op eenvoud en gebruiksgemak.
Description[tr]=Yalınlığa ve kullanım kolaylığına odaklanmış, taşınabilir bir ana ekran.
Description[uk]=Домашній екран для мобільних пристроїв із акцентом на простоті та зручності.
Description[x-test]=xxA mobile homescreen focused on simplicity and ease-of-use.xx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-KDE-Library=plasma_containment_phone_homescreen_halcyon
X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.phone.homescreen.halcyon
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-ContainmentType=Desktop
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu
