[Desktop Entry]
Encoding=UTF-8
Name=Mobile System Tray
Name[pt]=Bandeja do Sistema Móvel
Name[uk]=Мобільний у системному лотку
Name[x-test]=xxMobile System Trayxx
Comment=A system tray applet for mobile shell
Comment[pt]=Uma 'applet' da bandeja para a consola móvel
Comment[uk]=Аплет системного лотка для командної оболонки керування мобільним телефоном
Comment[x-test]=xxA system tray applet for mobile shellxx
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_mobilesystemtray
X-KDE-PluginInfo-Author=Lim Yuen Hoe
X-KDE-PluginInfo-Email=yuenhoe@hotmail.com
X-KDE-PluginInfo-Name=mobilesystemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
