[Desktop Entry]
Comment=Simple battery monitor
Comment[de]=Einfache Akkuüberwachung
Comment[et]=Lihtne aku jälgija
Comment[pt]=Monitor de bateria simples
Comment[pt_BR]=Monitor de bateria simples
Comment[sv]=Enkel batteriövervakning
Comment[uk]=Простий засіб спостереження за акумуляторами
Comment[x-test]=xxSimple battery monitorxx
Encoding=UTF-8
Keywords=Power Management, Battery, System, Energy
Keywords[et]=Toitehaldus, aku, süsteem, energia
Keywords[pt]=Gestão de Energia, Bateria, Sistema, Energia
Keywords[pt_BR]=Gerenciamento de energia, bateria, sistema, energia
Keywords[sv]=Krafthantering, batteri, system, energi
Keywords[uk]=Керування живленням, акумулятор, система, енергія
Keywords[x-test]=xxPower Management, Battery, System, Energyxx
Name=Simple Battery
Name[et]=Lihtne aku
Name[pt]=Bateria Simples
Name[pt_BR]=Bateria simples
Name[sv]=Enkelt batteri
Name[uk]=Простий акумулятор
Name[x-test]=xxSimple Batteryxx
Type=Service
Icon=battery
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.batterymonitor
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=http://vizZzion.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=code/batterymonitor.qml
X-Plasma-RemoteLocation=
