[Desktop Entry]
Name=Browser
Name[cs]=Prohlížeč
Name[de]=Browser
Name[es]=Navegador
Name[ga]=Brabhsálaí
Name[nl]=Browser
Name[pl]=Przeglądarka
Name[pt]=Navegador
Name[pt_BR]=Navegador
Name[sv]=Webbläsare
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач
Name[x-test]=xxBrowserxx
GenericName=Web Browser
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[es]=Navegador Web
GenericName[et]=Veebibrauser
GenericName[fr]=Navigateur web
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[sv]=Webbläsare
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
Comment=A web browser reader for touch tablets
Comment[et]=Veebibrauser puuteekraaniga tahvelarvutitele
Comment[fr]=Un lecteur de navigateur web pour les tablettes graphiques
Comment[km]=កម្មវិធី​រុករក​បណ្ដាញ​ធម្មតា​ដែល​សមរម្យ​សម្រាប់​ចំណុចប្រទាក់​ប៉ះ
Comment[nl]=Een webbrowser voor aanraaktablets
Comment[pl]=Czytnik przeglądarki internetowej dla tabletów dotykowych
Comment[pt]=Um navegador Web para tabletes por toque
Comment[pt_BR]=Um navegador Web para tablets
Comment[sv]=En enkel webbläsare för pekskärmar
Comment[uk]=Програма для перегляду інтернету для сенсорних планшетів
Comment[x-test]=xxA web browser reader for touch tabletsxx
Exec=active-webbrowser -graphicssystem raster %u
Terminal=false
Icon=active-web-browser
Type=Application
Categories=Qt;KDE;Network;WebBrowser;
X-KDE-PluginInfo-Website=
MimeType=text/html;text/xml;application/xhtml+xml;
