[Desktop Entry]
Name=Active Web Browser
Name[et]=Aktiivne veebibrauser
Name[fr]=Navigateur web actif
Name[km]=កម្មវិធី​រុករក​បណ្ដាញ​សកម្ម
Name[nl]=Actieve webbrowser
Name[pl]=Aktywna przeglądarka internetowa
Name[pt]=Navegador Web Activo
Name[pt_BR]=Navegador Web ativo
Name[sv]=Aktiv webbläsare
Name[uk]=Активний переглядач інтернету
Name[x-test]=xxActive Web Browserxx
GenericName=Web Browser
GenericName[et]=Veebibrauser
GenericName[fr]=Navigateur web
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[sv]=Webbläsare
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
Comment=A web browser reader for touch tablets
Comment[et]=Veebibrauser puuteekraaniga tahvelarvutitele
Comment[fr]=Un lecteur de navigateur web pour les tablettes graphiques
Comment[km]=កម្មវិធី​រុករក​បណ្ដាញ​ធម្មតា​ដែល​សមរម្យ​សម្រាប់​ចំណុចប្រទាក់​ប៉ះ
Comment[nl]=Een webbrowser voor aanraaktablets
Comment[pl]=Czytnik przeglądarki internetowej dla tabletów dotykowych
Comment[pt]=Um navegador Web para tabletes por toque
Comment[pt_BR]=Um navegador Web para tabletes por toque
Comment[sv]=En enkel webbläsare för pekskärmar
Comment[uk]=Програма для перегляду інтернету для сенсорних планшетів
Comment[x-test]=xxA web browser reader for touch tabletsxx
Exec=active-webbrowser -graphicssystem raster %u
Terminal=false
Icon=internet-web-browser
Type=Application
Categories=Qt;KDE;News;
X-KDE-PluginInfo-Website=http://community.kde.org/Plasma/Active
MimeType=text/html;text/xml;application/xhtml+xml;
