[Desktop Entry]
Name=Browser
Name[bs]=Pregledač
Name[ca]=Navegador
Name[cs]=Prohlížeč
Name[da]=Browser
Name[de]=Browser
Name[el]=Περιηγητής
Name[es]=Navegador
Name[et]=Veebibrauser
Name[fi]=Selain
Name[fr]=Navigateur
Name[ga]=Brabhsálaí
Name[gl]=Navegador
Name[hu]=Böngésző
Name[it]=Browser
Name[kk]=Шолғыш
Name[km]=កម្មវិធី​រុករក
Name[lt]=Naršyklė
Name[mr]=ब्राऊजर
Name[nb]=Nettleser
Name[nl]=Browser
Name[pa]=ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka
Name[pt]=Navegador
Name[pt_BR]=Navegador
Name[ro]=Navigator
Name[sk]=Prehliadač
Name[sl]=Brskalnik
Name[sv]=Webbläsare
Name[tr]=Tarayıcı
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач
Name[wa]=Betchteu
Name[x-test]=xxBrowserxx
Name[zh_CN]=浏览器
Name[zh_TW]=瀏覽器
GenericName=Web Browser
GenericName[bs]=Čitač veba
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur web
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[kk]=Веб-шолғышы
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[lt]=Žiniatinklio naršyklė
GenericName[mr]=वेब ब्राऊजर
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator web
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач інтернету
GenericName[wa]=Betchteu waibe
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=A web browser reader for touch tablets
Comment[ca]=Un lector de navegador web per a tauletes tàctils
Comment[da]=En webbrowser til tablet-pc'er med touchskærm
Comment[el]=Αναγνώστης περιηγητή ιστού για πινάκια αφής
Comment[es]=Un navegador web para tabletas táctiles
Comment[et]=Veebibrauser puuteekraaniga tahvelarvutitele
Comment[fr]=Un lecteur navigateur web pour les tablettes graphiques
Comment[gl]=Un navegador web para tabletas táctiles.
Comment[hu]=Egy webböngésző tabletekhez
Comment[it]=Un browser web adatto per tablet sensibili al tocco
Comment[kk]=Сенсорлық планшеттерге арналған веб-шолғышы
Comment[km]=កម្មវិធី​រុករក​បណ្ដាញ​ធម្មតា​ដែល​សមរម្យ​សម្រាប់​ចំណុចប្រទាក់​ប៉ះ
Comment[nb]=En nettleser for touch-brett
Comment[nl]=Een webbrowser voor aanraaktablets
Comment[pl]=Czytnik przeglądarki internetowej dla tabletów dotykowych
Comment[pt]=Um navegador Web para tabletes por toque
Comment[pt_BR]=Um navegador Web para tablets
Comment[sk]=Čítačka webového prehliadača pre dotykové tablety
Comment[sl]=Bralnik spletnega brskalnika za tablice na dotik
Comment[sv]=En webbläsare för läsplattor
Comment[tr]=Dokunmatik tabletler için bir web tarayıcı okuyucusu
Comment[ug]=چەكمە ئۈسكۈنىلەر ئۈچۈن توركۆرگۈ
Comment[uk]=Програма для перегляду інтернету для сенсорних планшетів
Comment[wa]=On betchteu léjheu waibe po tåvletes a toutchî
Comment[x-test]=xxA web browser reader for touch tabletsxx
Comment[zh_TW]=觸控平板使用的網頁瀏覽閱讀器
Exec=active-webbrowser -graphicssystem raster %u
Terminal=false
Icon=active-web-browser
Type=Application
Categories=Qt;KDE;Network;WebBrowser;ActiveCore;
X-KDE-PluginInfo-Website=
MimeType=text/html;text/xml;application/xhtml+xml;
