[Desktop Entry]
Name=Images
Name[bs]=Slike
Name[ca]=Imatges
Name[ca@valencia]=Imatges
Name[cs]=Obrázky
Name[da]=Billeder
Name[de]=Bilder
Name[el]=Εικόνες
Name[en_GB]=Images
Name[es]=Imágenes
Name[et]=Pildid
Name[eu]=Irudiak
Name[fi]=Kuvat
Name[fr]=Images
Name[ga]=Íomhánna
Name[gl]=Imaxes
Name[hu]=Képek
Name[it]=Immagini
Name[kk]=Кескіндер
Name[km]=រូបភាព
Name[ko]=그림
Name[lt]=Paveikslėliai
Name[mr]=प्रतिमा
Name[nb]=Bilder
Name[nds]=Biller
Name[nl]=Afbeeldingen
Name[nn]=Bilete
Name[pa]=ਚਿੱਤਰ
Name[pl]=Obrazy
Name[pt]=Imagens
Name[pt_BR]=Imagens
Name[ro]=Imagini
Name[ru]=Изображения
Name[sk]=Obrázky
Name[sl]=Slike
Name[sv]=Bilder
Name[tg]=Тасвирҳо
Name[tr]=Resimler
Name[ug]=سۈرەتلەر
Name[uk]=Зображення
Name[wa]=Imådjes
Name[x-test]=xxImagesxx
Name[zh_CN]=图片
Name[zh_TW]=影像
GenericName=Image viewer
GenericName[bs]=Preglednik slika
GenericName[ca]=Visor d'imatges
GenericName[ca@valencia]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[en_GB]=Image viewer
GenericName[es]=Visor de imágenes
GenericName[et]=Pildinäitaja
GenericName[eu]=Irudi erakuslea
GenericName[fi]=Kuvankatselin
GenericName[fr]=Afficheur d'images
GenericName[gl]=Visor de imaxes
GenericName[hu]=Képmegjelenítő
GenericName[it]=Visualizzatore di immagini
GenericName[kk]=Кескінді қарау құралы
GenericName[km]=កម្មវិធី​មើល​រូបភាព
GenericName[ko]=그림 뷰어
GenericName[lt]=Paveikslų žiūryklė
GenericName[nb]=Bildeviser
GenericName[nds]=Bildkieker
GenericName[nl]=Afbeeldingenviewer
GenericName[nn]=Biletvisar
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ro]=Vizualizor de imagini
GenericName[ru]=Программа просмотра изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sv]=Bildvisare
GenericName[tr]=Resim gösterici
GenericName[ug]=رەسىم كۆرگۈ
GenericName[uk]=Переглядач зображень
GenericName[wa]=Håyneu d' imådjes
GenericName[x-test]=xxImage viewerxx
GenericName[zh_CN]=图像查看器
GenericName[zh_TW]=影像檢視器
Comment=An image viewer for touch tablets
Comment[bs]=Preglednik slika za dodirne tablete
Comment[ca]=Un visor d'imatges per a les tauletes tàctils
Comment[ca@valencia]=Un visor d'imatges per a les tauletes tàctils
Comment[da]=En billedfremviser til tablet-pc'er med touchskærm
Comment[de]=Ein Bildbetrachter für Touch-Geräte
Comment[el]=Προβολέας εικόνων για πινάκια αφής
Comment[en_GB]=An image viewer for touch tablets
Comment[es]=Un visor de imágenes para tabletas táctiles
Comment[et]=Pildinäitaja puuteekraaniga tahvelarvutitele
Comment[eu]=Ukimen-tabletetarako irudi erakusle bat
Comment[fi]=Kuvakatselin kosketusnäyttötableteille
Comment[fr]=Un afficheur d'images pour les tablettes graphiques
Comment[gl]=Un visor de imaxes para tabletas táctiles.
Comment[hu]=Egy egyszerű képmegjelenítő tabletekhez
Comment[it]=Visualizzatore di immagini per tablet touch screen
Comment[kk]=Сенсорлық планшеттерге арналған кескіндерді қарау құралы
Comment[km]=កម្មវិធី​មើល​រូបភាព​សម្រាប់ touch tablets
Comment[ko]=터치 태블릿을 위한 그림 뷰어
Comment[nb]=En bildeviser for nettbrett med touch-skjerm
Comment[nds]=En Bildkieker för Anröögschirmen
Comment[nl]=Een afbeeldingenviewer voor aanraaktablets
Comment[nn]=Ein biletvisar for nettbrett
Comment[pl]=Przeglądarka obrazów dla tabletów dotykowych
Comment[pt]=Um visualizador de imagens para tabletes por toque
Comment[pt_BR]=Um visualizador de imagens para tablets
Comment[ro]=Vizualizor de imagini pentru planșete tactile
Comment[sk]=Prehliadač obrázkov pre dotykové tablety
Comment[sl]=Pregledovalnik slik za tablice na dotik
Comment[sv]=En bildvisare för läsplattor
Comment[tr]=Dokunmatik tabletler için bir resim gösterici
Comment[ug]=چەكمە ئۈسكۈنىلەر ئۈچۈن سۈرەت كۆرگۈ
Comment[uk]=Програма для перегляду зображень на сенсорних планшетах
Comment[wa]=On håyneu d' imådjes po tåvletes a toutchî
Comment[x-test]=xxAn image viewer for touch tabletsxx
Comment[zh_CN]=用于触摸屏的图像浏览器
Comment[zh_TW]=觸控面板的影像檢視器

Exec=active-filebrowser --resourceType=nfo:Image -graphicssystem raster %u
Terminal=false
Icon=active-image-viewer
Type=Application
Categories=Qt;KDE;Graphics;RasterGraphics;Viewer;Photography;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
InitialPreference=9
