[Desktop Entry]
Name=Books
Name[da]=Bøger
Name[de]=Bücher
Name[el]=Βιβλία
Name[es]=Libros
Name[et]=Raamatud
Name[fi]=Kirjat
Name[fr]=Livres
Name[hu]=Könyvek
Name[it]=Libri
Name[km]=សៀវភៅ
Name[nl]=Boeken
Name[pa]=ਕਿਤਾਬਾਂ
Name[pl]=Książki
Name[pt]=Livros
Name[pt_BR]=Livros
Name[sl]=Knjige
Name[sv]=Böcker
Name[tr]=Kitaplar
Name[uk]=Книги
Name[wa]=Lives
Name[x-test]=xxBooksxx
Name[zh_TW]=書籍
GenericName=Book collection
GenericName[da]=Bogsamling
GenericName[de]=Bücher-Sammlung
GenericName[el]=Συλλογή βιβλίων
GenericName[es]=Colección de libros
GenericName[et]=Raamatukogu
GenericName[fi]=Kirjakokoelma
GenericName[fr]=Collection de livres
GenericName[hu]=Könyvgyűjtemény
GenericName[it]=Raccolta di libri
GenericName[km]=សម្រាំង​សៀវភៅ
GenericName[nl]=Boekenverzameling
GenericName[pl]=Kolekcja książek
GenericName[pt]=Colecção de livros
GenericName[pt_BR]=Coleção de livros
GenericName[sl]=Zbirka knjig
GenericName[sv]=Boksamling
GenericName[tr]=Kitap koleksiyonu
GenericName[uk]=Збірка книг
GenericName[wa]=Ramexhnêye di lives
GenericName[x-test]=xxBook collectionxx
GenericName[zh_TW]=書籍收藏
Comment=All books installed on the device
Comment[da]=Alle bøger installeret på enheden
Comment[de]=Alle auf dem Gerät installierten Bücher
Comment[el]=Όλα τα εγκατεστημένα βιβλία στη συσκευή
Comment[es]=Todos los libros instalados en el dispositivo
Comment[et]=Kõik seadmesse paigaldatud raamatud
Comment[fr]=Tous les livres installés sur le périphérique
Comment[hu]=Az eszközön található összes könyv
Comment[it]=Libri inseriti nel dispositivo
Comment[km]=បាន​ដំឡើង​សៀវភៅ​ទាំងអស់​នៅ​លើ​ឧបករណ៍
Comment[nl]=Alle op het apparaat geïnstalleerde boeken 
Comment[pl]=Wszystkie książki zainstalowane na urządzeniu
Comment[pt]=Todos os livros instalados no dispositivo
Comment[pt_BR]=Todos os livros instalados no dispositivo
Comment[sl]=Vse knjige nameščene na napravi
Comment[sv]=Alla böcker installerade på enheten
Comment[tr]=Aygıt üzerindeki tüm kitaplar
Comment[uk]=Всі книги, встановлені на пристрої
Comment[wa]=Toss les lives astalés so l' éndjin
Comment[x-test]=xxAll books installed on the devicexx
Comment[zh_TW]=所有安裝在此裝置上的書籍

Exec=active-filebrowser --mimeTypes=application/epub+zip,application/pdf -graphicssystem raster %u
Terminal=false
Icon=application-epub+zip
Type=Application
Categories=Qt;KDE;Office;
InitialPreference=9
