[Desktop Entry]
Name=Files
GenericName=File browser
Comment=A simple file browser/manager


Exec=active-filebrowser -graphicssystem raster %u
Terminal=false
Icon=system-file-manager
Type=Application
Categories=Qt;KDE;System;Filemanagement;
MimeType=inode/directory;
InitialPreference=9
