[Desktop Entry]
Name=Books
Name[el]=Βιβλία
Name[et]=Raamatud
Name[nl]=Boeken
Name[pt]=Livros
Name[pt_BR]=Livros
Name[sv]=Böcker
Name[tr]=Kitaplar
Name[uk]=Книги
Name[x-test]=xxBooksxx
GenericName=Book collection
GenericName[el]=Συλλογή βιβλίων
GenericName[nl]=Boekenverzameling
GenericName[pt]=Colecção de livros
GenericName[pt_BR]=Coleção de livros
GenericName[sv]=Boksamling
GenericName[tr]=Kitap koleksiyonu
GenericName[uk]=Збірка книг
GenericName[x-test]=xxBook collectionxx
Comment=All books installed on the device
Comment[el]=Όλα τα εγκατεστημένα βιβλία στη συσκευή
Comment[et]=Kõik seadmesse paigaldatud raamatud
Comment[nl]=Alle op het apparaat geïnstalleerde boeken 
Comment[pt]=Todos os livros instalados no dispositivo
Comment[pt_BR]=Todos os livros instalados no dispositivo
Comment[sv]=Alla böcker installerade på enheten
Comment[tr]=Aygıt üzerindeki tüm kitaplar
Comment[uk]=Всі книги, встановлені на пристрої
Comment[x-test]=xxAll books installed on the devicexx

Exec=active-filebrowser --mimeTypes=application/epub+zip,application/pdf -graphicssystem raster %u
Terminal=false
Icon=application-epub+zip
Type=Application
Categories=Qt;KDE;Office;
InitialPreference=9
