[Desktop Entry]
Name=Images
Name[cs]=Obrázky
Name[da]=Billeder
Name[es]=Imágenes
Name[nl]=Afbeeldingen
Name[pl]=Obrazy
Name[pt]=Imagens
Name[pt_BR]=Imagens
Name[sk]=Obrázky
Name[sv]=Bilder
Name[uk]=Зображення
Name[x-test]=xxImagesxx
GenericName=Image viewer
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[es]=Visor de imágenes
GenericName[nl]=Afbeeldingenviewer
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[sk]=Prehliadač obrázkov
GenericName[sv]=Bildvisare
GenericName[uk]=Переглядач зображень
GenericName[x-test]=xxImage viewerxx
Comment=An image viewer for touch tablets
Comment[da]=En billedfremviser til tablet-pc'er med touchskærm
Comment[es]=Un visor de imágenes para tabletas táctiles
Comment[nl]=Een afbeeldingenviewer voor aanraaktablets
Comment[pl]=Przeglądarka obrazów dla tabletów dotykowych
Comment[pt]=Um visualizador de imagens para tabletes por toque
Comment[pt_BR]=Um visualizador de imagens para tablets
Comment[sv]=En bildvisare för läsplattor
Comment[uk]=Програма для перегляду зображень на сенсорних планшетах
Comment[x-test]=xxAn image viewer for touch tabletsxx

Exec=active-filebrowser --resourceType=nfo:Image -graphicssystem raster %u
Terminal=false
Icon=active-image-viewer
Type=Application
Categories=Qt;KDE;Graphics;RasterGraphics;Viewer;Photography;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
InitialPreference=9
