[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=active-filebrowser -graphicssystem raster %f
Icon=system-file-manager
Name=Browse files
Name[bs]=Pregled datoteka
Name[ca]=Navega pels fitxers
Name[ca@valencia]=Navega pels fitxers
Name[cs]=Procházet soubory
Name[da]=Gennemse filer
Name[de]=Dateien durchsuchen
Name[el]=Περιήγηση αρχείων
Name[en_GB]=Browse files
Name[es]=Explorar archivos
Name[et]=Failide sirvimine
Name[fi]=Selaa tiedostoja
Name[fr]=Explorateur de fichiers
Name[ga]=Brabhsáil comhaid
Name[gl]=Explorar os ficheiros
Name[hu]=Fájlok böngészése
Name[it]=Sfoglia file
Name[kk]=Файлдарды шолу
Name[km]=រុករក​ឯកសារ
Name[ko]=파일 탐색
Name[lt]=Tvarkykite failus ir aplankus
Name[nb]=Bla i filer
Name[nds]=Dateien dörkieken
Name[nl]=Door bestanden bladeren
Name[pa]=ਫਾਇਲਾਂ ਬਰਾਊਜ਼ ਕਰੋ
Name[pl]=Przeglądaj pliki
Name[pt]=Navegar pelos ficheiros
Name[pt_BR]=Navegar pelos arquivos
Name[ro]=Răsfoiește fișiere
Name[sk]=Prehliadať súbory
Name[sl]=Brskajte po datotekah
Name[sv]=Bläddra bland filer
Name[tr]=Dosyalara gözat
Name[ug]=ھۆججەتلەرنى كۆرۈش
Name[uk]=Перегляд файлів
Name[wa]=Foyter les fitchîs
Name[x-test]=xxBrowse filesxx
Name[zh_TW]=瀏覽檔案

