[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Active/FileBrowserPart

Comment=Plasma package to load a particular mimetype directly in the file browser
Comment[bs]=Plasma paket za učitavanje određenog mimičkog tipa  direktno u pregledniku datoteka
Comment[ca]=Paquet de plasma per a carregar un tipus MIME en particular directament al gestor de fitxers
Comment[ca@valencia]=Paquet de plasma per a carregar un tipus MIME en particular directament al gestor de fitxers
Comment[da]=Plasma-pakke til at indlæse en bestemt MIME-type direkte i filbrowseren
Comment[de]=Plasma-Paket, um einen bestimmten MIME-Typ direkt in den Dateibrowser zu laden
Comment[el]=Πακέτο plasma για φόρτωση ενός συγκεκριμένου τύπου mime απευθείας στον περιηγητή αρχείων
Comment[en_GB]=Plasma package to load a particular mimetype directly in the file browser
Comment[es]=Paquete de Plasma para cargar un tipo MIME particular directamente en el navegador de archivos
Comment[et]=Plasma pakett konkreetse MIME tüübi laadimiseks otse failibrauseris
Comment[fi]=Plasma-paketti tietyn MIME-tyypin lataamiseksi suoraan tiedostoselaimeen
Comment[fr]=Paquetage Plasma pour charger un type MIME particulier directement dans l'explorateur de fichiers
Comment[gl]=Paquete de plasma para cargar un tipo de ficheiro MIME en concreto directamente no navegador web.
Comment[hu]=Plasma csomag MIME-típus közvetlen betöltésére a fájlböngészőben
Comment[it]=Pacchetto di Plasma per caricare un mimetype particolare direttamente nel browser dei file
Comment[kk]=Кейбір MIME түрлерін файл шолғышқа тікелей жүктейтін Plasma дестесі
Comment[km]=កញ្ចប់​ប្លាស្មា​ដែល​ត្រូវ​ផ្ទុក mimetype ជាក់លាក់​ដោយ​ផ្ទាល់​ទៅ​ក្នុង​កម្មវិធី​រក​ឯកសារ
Comment[ko]=파일 탐색기에서 특정한 MIME 형식을 불러오는 Plasma 패키지
Comment[nb]=Plasma-pakke som laster en bestemt mimetype direkte i filblaingen
Comment[nds]=Plasma-Paket, mit dat sik en besünner MIME-Typ direktemang mit den Dateikieker laden lett
Comment[nl]=Plasma-pakket voor het laden van een speciaal mimetype direct in bestandsbrowser
Comment[pl]=Pakiet Plazmy do wczytywania poszczególnych typów mime bezpośrednio w przeglądarce plików
Comment[pt]=Pacote do Plasma para carregar um tipo MIME em particular no gestor de ficheiros
Comment[pt_BR]=Pacote do Plasma para carregar um tipo MIME em particular no gerenciador de arquivos
Comment[sk]=Balík Plasma na načítanie určitého mime typu priamo do prehliadač súborov
Comment[sl]=Paket za Plasmo, ki naloži posebno vrsto mime neposredno v brskalnik datotek
Comment[sv]=Plasma-paket för att läsa in en viss Mime-typ direkt i filbläddraren
Comment[tr]=Dosya türünü doğrudan dosya tarayıcısı ile tüklemek için Plasma paketi
Comment[uk]=Пакунок Плазми для завантаження даних певного типу MIME безпосередньо з вікна програми для перегляду файлів
Comment[wa]=Pacaedje plasma po tcherdjî ene sôre mime dinêye direk do foyteu des fitchîs
Comment[x-test]=xxPlasma package to load a particular mimetype directly in the file browserxx
Comment[zh_CN]=用于在文件管理器中直接载入特定 mime 类型的 Plasma 包
Comment[zh_TW]=直接在檔案瀏覽器直接載入特別的 MIME 型態的 Plasma 套件包

#At the moment supported Browser and Viewer
[PropertyDef::SupportedComponents]
Type=QStringList

#MimeTypes, such as image/jpeg
[PropertyDef::MimeTypes]
Type=QStringList

#Nepomuk types, such as nfo:Image
[PropertyDef::ResourceTypes]
Type=QStringList
