[Desktop Entry]
Encoding=UTF-8
Name=Fake mail client (QML)
Comment=A proof of concept of a mail app ui written in qml
Type=Service
ServiceTypes=Plasma/Applet
Icon=kmail
X-Plasma-API=qmlscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=MArco MArtin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=fakemail-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
